@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:100; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:300; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:400; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:500; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:700; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:900; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype");
}


html , body , div , span , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , a , address , em , img , strong , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , footer , header , hgroup , menu , nav , section , summary , video {margin:0; padding:0; border:0; box-sizing:border-box;font-size:100%; vertical-align:baseline;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section {display:block;}
body {background:#fff; color:#222; line-height:1.2; font-family:'Noto Sans KR',"Malgun Gothic","맑은 고딕","AppleSDGothicNeo-Medium","Helvetica","AppleGothic","Sans-serif","Dotum","Verdana","Helvetica",sans-serif;font-size:12px; letter-spacing:-.5px;}

html {font-size:20px;}
@media screen and (max-width:720px) {
	html {font-size:10px; font-family:"HelveticaNeue-Light";}
}
@media screen and (max-width:1550px) and (min-width:721px) {
	html {font-size:1.0416vw;}
}
@media screen and (min-width:1920px) {
	html {font-size:20px;}
}
ol , ul {list-style:none;}
em , i {font-style:normal;}
table {width:100%; border-collapse:collapse; border-spacing:0;}
a , button {font-family:inherit;}
a {color:inherit; color:inherit;font-family:inherit; font-weight:normal; text-decoration:none;}
a:active , a:visited , a:hover {text-decoration:none; outline:none;}
button {background:none; margin:0; padding:0; border:0 none; color:inherit; font-size:inherit; cursor:pointer;outline:none;}
img {max-width:100%; vertical-align:middle;}
fieldset {border:0 none !important;}
input[type="text"] , input[type="number"] , input[type="password"] {margin:0; padding:0; border:1px solid #ddd; box-sizing:border-box; color:inherit; font-family:inherit; outline:none; -webkit-appearance:none;}
input[type="text"]::-ms-clear {display:none;}
input[type="text"]:-ms-clear {display:none;}
a , textarea {color:inherit; font-family:inherit; text-decoration:none;}
textarea::-webkit-input-placeholder {color:#dcdcdc;}
textarea:-ms-input-placeholder {color:#dcdcdc;}
input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {color:#999;}
input[type="text"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {color:#999;}
input[type="number"]::-webkit-outer-spin-button , input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;}
img.pc {display:block;}
img.mo {display:none;}
@media screen and (max-width:720px) {
	img.pc {display:none;}
	img.mo {display:block;}
}

#water_warp {overflow:hidden; position:relative; width:100%; z-index:10;}

header {position:relative; background:#fff; z-index:15;}
header .innr {position:relative; width:100%; max-width:91rem; height:5rem; margin:0 auto; padding:1.15rem 2.5rem 0; box-sizing:border-box; z-index:19;}
header .innr .logo a {display:block; background:url(../images/logo.png) 0 0 no-repeat; background-size:100% 100%; width:9.95rem; height:2.55rem; font:0/0 a;}
header .gnb_wrap {position:absolute; top:0; right:22.5rem;}
header .gnb_wrap > ul:after {content:""; display:block; clear:both;}
header .gnb_wrap > ul > li {float:left; position:relative;}
header .gnb_wrap > ul > li > a {display:block; height:5rem; padding:0 2.5rem; color:#111; font-size:1rem; line-height:5rem; font-weight:bold;}
header .gnb_wrap > ul > li.on > a {color:#1781cc;}
header .gnb_wrap .dep2 {display:none; position:absolute; top:5rem; left:0; background:#1781cc; width:100%; padding:1rem 0; white-space:nowrap; z-index:20;}
header .gnb_wrap .dep2 a {display:block; height:auto; padding:.5rem 1rem; box-sizing:border-box; color:#fff; font-size:0.8rem; line-height:1.2;}
header .gnb_wrap .dep2 ul a {color:#80caff;}
header .gnb_wrap .dep2 ul a:hover {color:#fff; text-decoration:underline;}
header .util {position:absolute; top:50%; right:2.5rem; transform:translateY(-50%);}
header .util:after {content:""; display:block; clear:both;}
header .util li {float:left; margin-left:0.5rem;}
header .util li a {display:block; padding:0 0.5rem; border-left:1px solid #ddd; color:#666; font-size:0.8rem;}
header .util li:first-child a {border-left:0;}
header .util li a.btn_all {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 29 23'%3e%3cpath fill-rule='evenodd' fill='%231781CC' d='M0 23v-3h29v3H0zm0-13h29v3H0v-3zM0 0h29v3H0V0z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:1.45rem; height:1.15rem; border-left:0; font:0/0 a;}
header .gnb_wrap > ul > li.on .dep2 {display:block;}

header .allMenu {display:none; position:absolute; top:0; left:0; right:0; background:#1781cc; height:420px; z-index:20;}
header .allMenu ul {display:none;}
header .allMenu .btn_close {position:absolute; top:2rem; right:2.5rem;}
.allMenu header .innr { z-index:21;}
.allMenu header .innr:after {content:""; position:fixed; top:5rem; left:0; right:0; background:#57a3d8; height:1px;}
.allMenu header .innr .logo a {background:url(../images/logo_allMenu.png) 0 0 no-repeat; background-size:100% 100%;}
.allMenu header .gnb_wrap > ul > li > a {color:#fff;}
.allMenu header .innr .util li {display:none;}
.allMenu header .innr .util li.last {display:block;}
.allMenu header .innr .util li a.btn_all {background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' %3e%3cpath d='m17.863 14.984 11.518 11.518c0.795 0.795 0.795 2.084 0 2.879s-2.084 0.795-2.879 0l-11.518-11.518-11.518 11.518c-0.795 0.795-2.084 0.795-2.879 0s-0.795-2.084 0-2.879l11.518-11.518-11.518-11.518c-0.795-0.795-0.795-2.084 0-2.879s2.084-0.795 2.879 0l11.518 11.518 11.518-11.518c0.795-0.795 2.084-0.795 2.879 0s0.795 2.084 0 2.879l-11.518 11.518z' fill='%23fff'/%3e%3c/svg%3e"); background-size:100% 100%;}
.allMenu header .gnb_wrap .dep2 {display:block; top:7rem; background:transparent; min-height:10rem; padding:0; border-left:1px solid #57a3d8;}
.allMenu header .gnb_wrap li:first-child .dep2 {border-left:0;}
.allMenu header .allMenu {display:block;}


footer {background:#222;}
footer .innr {position:relative; width:100%; max-width:1300px; min-height:9.25rem; margin:0 auto;}
footer .innr .util {position:relative; border-bottom:1px solid #333;}
footer .innr .util ul li {display:inline-block; margin-left:0.9rem;}
footer .innr .util ul li:first-child {margin-left:0;}
footer .innr .util ul li a {height:3rem; color:#999; font-size:0.8rem; line-height:3rem;}
footer .innr .util ul li a:before {content:""; display:inline-block; background:#666; width:1px; height:12px; margin-right:0.8rem; vertical-align:0;}
footer .innr .util ul li:first-child a:before {display:none;}
footer .innr .addr {padding-top:2rem; color:#999; font-size:0.8rem; line-height:1.4;}
footer .innr .addr:after {content:""; display:block; clear:both;}
footer .innr .addr img {float:left; height:1.95rem;}
footer .innr .addr p {float:left; margin-left:1.5rem;}
footer .innr .addr p span {display:inline-block; margin-left:15px;}
footer .innr .addr p span:first-of-type {margin-left:0;}
footer .innr .family_site {position:absolute; top:5.25rem; right:0; background-color:#222; min-width:10rem; height:2rem; padding-left:0.75rem; border:1px solid #595959; color:#999; font-size:0.8rem;}

@media screen and (max-width:1550px) {
	header .innr {padding:1.15rem 0 0;}
	header .util {right:0;}
	footer .innr {max-width:95%;}
}

@media screen and (max-width:1024px) {
	header .innr {height:50px; padding:10px 0 0;}
	header .innr .logo a {width:99px; height:25px;}
	header .gnb_wrap {display:none;}
	header .innr .util li {display:none;}
	header .innr .util li.login,
	header .innr .util li.last {display:block; margin-left:20px;}
	header .innr .util li.login a {border-left:0; font-size:11px;}
	header .util li a.btn_all {width:18px; height:14px;}

	body.allMenu {overflow:hidden;}
	body.allMenu .allMenu {overflow:auto;}
	body.allMenu .allMenu ul {display:block;}
	body.allMenu .innr:after {display:none;}
	.allMenu header .innr {background:#1781cc;}
	.allMenu .innr .util li.login {display:none;}
	.allMenu header .allMenu {height:100vh;}
	.allMenu .allMenu > ul {margin-top:55px; text-align:center;}
	.allMenu .allMenu > ul > li > a {color:#fff; font-size:15px; font-weight:bold;}
	.allMenu .allMenu > ul > li .dep2 {background:#fff; width:calc(100% - 30px); margin:15px auto; padding:15px 0;}
	.allMenu .allMenu > ul > li .dep2 a {display:inline-block; padding:5px 0; color:#666; font-size:13px;}
	.allMenu .allMenu > ul > li .dep2 ul a {display:inline-block; padding:5px 0; color:#1781cc;}
	.allMenu .allMenu > ul > li .dep2 ul a i {display:none;}
}

@media screen and (max-width:720px) {
	header .innr {padding-left:15px;}
	header .innr .util {right:15px;}
	footer .innr {max-width:none;}
	footer .innr .util ul {text-align:center;}
	footer .innr .util ul li a {height:50px; line-height:50px; font-size:11px;}
	footer .innr .util ul li a:before {height:6px; vertical-align:1px;}
	footer .innr .addr {padding:20px 15px 35px; font-size:11px; line-height:2;}
	footer .innr .addr img {display:none;}
	footer .innr .addr br {display:none;}
	footer .innr .addr p {float:none; margin-left:0;}
	footer .innr .addr p span {display:block; margin:0;}
	footer .innr .addr .family_site {float:none; position:static; min-width:125px; height:30px; margin-top:25px; font-size:11px;}
}

.swiper-container,
.swiper-slide {height:41.45rem;}
.swiper-slide.visual01 {background:url(../images/img_visual_01.jpg) 50% 0 no-repeat; background-size:auto 41.45rem;}
.swiper-slide.visual02 {background:url(../images/img_visual_01.jpg) 50% 0 no-repeat; background-size:auto 41.45rem;}
.main .swiper-container-horizontal>.swiper-pagination-bullets {top:50%; bottom:auto; left:auto; right:2.5rem; width:auto; transform:translateY(-50%);}
.main .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {display:block; background:transparent; width:0.6rem; height:0.6rem; margin:1rem 0 0; border:2px solid #fff; border-radius:0; opacity:1;}
.main .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:first-child {margin-top:0;}
.main .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {background:#fff;}

.main .bnr_wrap {padding:10rem 0;}
.main .bnr_wrap ul {text-align:center; font-size:0;}
.main .bnr_wrap ul li {display:inline-block; margin-left:1.75rem;}
.main .bnr_wrap ul li img {height:25rem;}
.main .bnr_wrap ul li:first-child {margin-left:0;}

.notice_area {background:#fafafa url(../images/bg_notice.jpg) 100% 50% no-repeat; background-size:auto 36rem; padding:10rem 0;}
.notice_area .innr {max-width:65rem; margin:0 auto;}
.notice_area .innr:after {content:""; display:block; clear:both;}
.notice_area .innr .title {float:left;}
.notice_area .innr .title h2 {color:#222; font-size:2.5rem; font-weight:bold;}
.notice_area .innr .title p {margin-top:1.8rem; color:#666; font-size:0.9rem; line-height:1.5;}
.notice_area .innr .list {float:right;}
.notice_area .innr .list li {float:left; background:#fff; width:15.8rem; margin-left:1.4rem; border:1px solid #eee; box-sizing:border-box;}
.notice_area .innr .list li:first-child {margin-left:0;}
.notice_area .innr .list li > div {position:relative; min-height:11rem; padding:0.75rem;}
.notice_area .innr .list li span {display:inline-block; height:1.5rem; padding:0 0.5rem; color:#fff; font-size:0.8rem; line-height:1.5rem;}
.notice_area .innr .list li span.nt {background-color:#00a5e5;}
.notice_area .innr .list li span.mate {background-color:#e56c00;}
.notice_area .innr .list li span.faq {background-color:#379712;}
.notice_area .innr .list li p {display:block; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; white-space:normal; -webkit-line-clamp:3; margin-top:1.25rem; color:#222; font-size:1rem; max-height:3.6rem;}
.notice_area .innr .list li .date {position:absolute; bottom:0.75rem; left:0.75rem; color:#999; font-size:0.8rem;}
.notice_area .innr .list li a {display:block; height:2.5rem; border-top:1px solid #eee; color:#666; font-size:0.8rem; line-height:2.5rem; text-align:center;}
.notice_area .innr .list li a:after {content:""; display:inline-block; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3e%3cpath fill-rule='evenodd' fill='%23DDD' d='M10 6H6v4H4V6H0V4h4V0h2v4h4v2z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:0.5rem; height:0.5rem; margin-left:0.5rem; vertical-align:1px;}
@media screen and (max-width:720px) {
	.swiper-container, .swiper-slide {height:auto;}
	.main .swiper-container-horizontal>.swiper-pagination-bullets {top:auto; bottom:30px; left:0; right:auto; width:100%; transform:translateY(0);}
	.main .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {display:inline-block; width:10px; height:10px; margin:0 0 0 10px;}

	.main .bnr_wrap {padding:50px 15px;}
	.main .bnr_wrap li {display:block; margin:15px 0 0 0 !important;}
	.main .bnr_wrap li:first-child {margin-top:0;}
	.main .bnr_wrap ul li img {width:100%; height:auto;}

	.notice_area {background:#fafafa; padding:50px 15px;}
	.notice_area .innr .title h2 {font-size:25px;}
	.notice_area .innr .title p {margin-top:10px; font-size:12px;}
	.notice_area .innr .title p br {display:none;}
	.notice_area .innr .list li {width:100%; margin:10px 0 0 0;}
	.notice_area .innr .list li:first-child {margin-top:15px;}
	.notice_area .innr .list li > div {min-height:110px;}
	.notice_area .innr .list li span {height:20px; padding:0 10px; line-height:20px; font-size:11px;}
	.notice_area .innr .list li p {font-size:12px; -webkit-line-clamp:2; max-height:30px;}
	.notice_area .innr .list li .date {font-size:11px;}
	.notice_area .innr .list li a {height:35px; line-height:35px; font-size:12px;}
	.notice_area .innr .list li a:after {width:6px; height:6px;}
}

#container article:not(.main) {max-width:1300px; margin:0 auto; padding:90px 0 120px; transition:all .2s;}
.sub_visual {display:table; width:100%; text-align:center;}
.sub_visual .innr {display:table-cell; height:321px; color:#fff; vertical-align:middle;}
.sub_visual .innr h2 {font-size:45px; font-weight:bold;}
.sub_visual .innr p {margin-top:20px; font-size:16px;}
.sub_visual .innr p:before {content:""; display:inline-block; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M1 12V6H0V5h1V4h1V3h1V2h1V1h1V0h2v1h1v1h1v1h1v1h1v1h1v1h-1v6H7V8H5v4H1z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:12px; height:12px; margin-right:15px; vertical-align:0;}
.sub_visual.join {background:url(../images/sub/visual_join.png) 50% 0 no-repeat; background-size:cover;}
.sub_visual.noti {background:url(../images/sub/visual_noti.png) 50% 0 no-repeat; background-size:cover;}
h3.title {margin-bottom:40px; color:#000; font-size:36px; text-align:center;}
h3.title + .desc {margin-top:40px; color:#000; font-size:30px; text-align:center;}
@media screen and (max-width:1300px) {
	#container article:not(.main) {padding:90px 30px 120px;}
}
@media screen and (max-width:720px) {
	#container article:not(.main) {padding:45px 15px 60px;}
	h3.title {margin-bottom:20px; font-size:18px;}
	h3.title + .desc {margin-top:20px; font-size:15px;}
	.sub_visual .innr {height:160px;}
	.sub_visual .innr h2 {font-size:23px;}
	.sub_visual .innr p {font-size:11px;}
	.sub_visual .innr p:before {width:8px; height:8px; margin-right:5px;}
}

.tab_text {margin-bottom:40px; text-align:center;}
.tab_text a {display:inline-block; color:#666; font-size:26px;}
.tab_text a:first-child {margin-right:60px;}
.tab_text a:first-child:after {content:""; display:inline-block; background:#ddd; width:1px; height:16px; margin-left:60px; vertical-align:0;}
.tab_text a.on {color:#1781cc; font-weight:bold;}

input[type=text],
input[type=password],
input[type=number] {height:50px; padding-left:20px; border:1px solid #ddd; box-sizing:border-box; color:#111; font-size:17px; vertical-align:middle;}

input[type=radio] {display:inline-block; background:#e9e9e9; width:30px; height:30px; margin:0 5px 0 0; border-radius:50%; appearance:none; -webkit-appearance:none; vertical-align:middle;}
input[type=radio]:checked {background:#1781cc url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M5.5 0a5.5 5.5 0 110 11 5.5 5.5 0 010-11z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:10px 10px;}
input[type=radio] + label {display:inline-block; vertical-align:middle;}

.board {border-top:2px solid #111;}
.board td select {border:1px solid #ddd; height:50px; padding-left:15px; color:#111; font-size:17px;}
.board .th {width:190px;}
.board th, .board td {padding:15px 0; border-bottom:1px solid #eee; color:#111; vertical-align:middle; font-size:17px;}
.board th {padding-left:30px; text-align:left; font-weight:normal;}
.board .btn {position:absolute; top:0; right:0; background:#666; height:50px; padding:0 30px; color:#fff; line-height:50px;}
.board td > div {position:relative;}
.board td > div:after {content:""; display:block; clear:both;}
.board td > div.id {max-width:727px; padding-right:130px;}
.board td > div.full {max-width:597px;}
.board td input[type=text],
.board td input[type=password],
.board td input[type=number] {width:100%;}
.board td .birth {max-width:597px;}
.board td .birth > * {float:left;}
.board td .birth input {width:25%;}
.board td .birth span {width:8.33%; height:50px; line-height:50px; text-align:center;}
.board td label {margin-right:30px; color:#111; font-size:17px;}
.board td .tel {max-width:530px;}
.board td .tel > * {float:left;}
.board td .tel input {width:30%; padding:0; text-align:center;}
.board td .tel span {width:5%; height:50px; line-height:50px; text-align:center;}
.board td .email {max-width:530px;}
.board td .email > * {float:left;}
.board td .email input {width:30%; padding:0; text-align:center;}
.board td .email span {width:8.33%; height:50px; line-height:50px; text-align:center;}
.board td .email select {float:right; width:30%;}
.board td .adr1 {max-width:350px; padding-right:165px;}
.board td .adr2 {max-width:600px; margin:10px 0;}
.board td .adr3 {max-width:600px;}
.board td.slt > select {float:left; min-width:15%; margin-right:10px;}
.board td.slt input[type=text] {float:left; width:15%}
.board td.chk span {display:inline-block; margin-bottom:5px;}
.btn_c {margin-top:70px;}
.btn_c button,
.btn_c a {display:block; background:#1781cc; width:225px; height:70px; margin:0 auto; color:#fff; font-size:20px; text-align:center; line-height:70px;}

@media screen and (max-width:720px) {
	.tab_text {margin-bottom:20px;}
	.tab_text a {font-size:13px;}
	.tab_text a:first-child {margin-right:30px;}
	.tab_text a:first-child:after {height:8px; margin-left:30px;}

	input[type=text],
	input[type=password],
	input[type=number] {height:30px; padding-left:10px; font-size:11px;}
	input[type=radio] {width:14px; height:14px; margin:0 5px 0 0;}
	input[type=radio]:checked {background:#1781cc url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M5.5 0a5.5 5.5 0 110 11 5.5 5.5 0 010-11z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:4px 4px;}
	input[type=radio] + label {display:inline-block; vertical-align:middle;}
	.board td select {height:30px; padding-left:0; font-size:11px;}
	.board .th {width:90px;}
	.board th, .board td {padding-top:5px; padding-bottom:5px; padding-left:0; font-size:11px;}
	.board .btn {height:30px; padding:0 15px; line-height:30px;}
	.board td > div.id {padding-right:75px;}
	.board td span {height:30px !important; line-height:30px !important;}
	.board td label {margin-right:15px; font-size:11px;}
	.board td .adr1 {max-width:none; padding-right:100px;}
	.board td .adr2 {margin:5px 0;}
	.board td.slt > select,
	.board td.slt input[type=text] {width:25%;}
	.btn_c {margin-top:35px;}
	.btn_c button {width:100%; height:36px; font-size:11px; line-height:36px;}
}


.paging {margin-top:40px; text-align:center; font-size:0;}
.paging a {display:inline-block; width:20px; height:30px; margin-left:5px; border:1px solid #fff; box-sizing:border-box; color:#999; font-size:17px; vertical-align:middle; line-height:28px;}
.paging a.on,
.paging a:hover {color:#111;}
.paging a.prev,
.paging a.next {font:0/0 a;}
.paging a.prev {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'%3e%3cpath fill-rule='evenodd' fill='%23666' d='M11.3 2.7L4.5 9.6l6.8 6.8a1.6 1.6 0 01-2.2 2.2l-7.8-7.8C1 10.4.8 10 .9 9.6c0-.5 0-1 .4-1.3L9 .5a1.6 1.6 0 012.2 2.2z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:7px 15px; width:30px; margin-left:0; border-color:#ddd;}
.paging a.next {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'%3e%3cpath fill-rule='evenodd' fill='%23666' d='M11.3 10.8l-7.9 7.8a1.6 1.6 0 01-2.2-2.2l6.9-6.8-6.9-6.9A1.6 1.6 0 013.4.5l7.9 7.8c.3.4.4.8.4 1.3 0 .4 0 .8-.4 1.2z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:7px 15px; width:30px; border-color:#ddd;}

.tbl_board {border-top:2px solid #111;}
.tbl_board table {table-layout:fixed;}
.tbl_board th {border-bottom:1px solid #111; color:#111;}
.tbl_board th, .tbl_board td {height:60px; font-size:17px; vertical-align:middle; text-align:center;}
.tbl_board td {border-bottom:1px solid #eee; color:#999;}
.tbl_board td.sbj {padding-left:10px; text-align:left;}
.tbl_board td.sbj a {display:block; overflow:hidden; text-overflow:ellipsis; max-width:100%; color:#111; white-space:nowrap;}
.tbl_board td.sbj a em {display:inline-block; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 24'%3e%3cpath fill-rule='evenodd' fill='%236A78A0' d='M1 24H0V0h22v24H1zm17-1v-9H4v9h14zM16 1H6v7h10V1zm5 0h-4v8H5V1H1v22h2V13h16v10h2V1zm-7 5h-1V3h1v3z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:22px; height:24px; margin-left:5px; vertical-align:-6px;}
.tbl_board td.comp {color:#1781cc;}

@media screen and (max-width:720px) {
	.tbl_board .pc {display:none;}
	.tbl_board th, .tbl_board td {height:30px; font-size:12px;}
	.paging {margin-top:20px;}
	.paging a {width:18px !important; height:18px; font-size:12px; line-height:16px;}

	.tbl_board td.sbj a em {width:11px; height:12px; vertical-align:-1px;}
}

.board_view {border-top:2px solid #111;}
.board_view dt {padding:30px; border-bottom:1px solid #111;}
.board_view dt strong {color:#111; font-size:30px; font-weight:bold;}
.board_view dt p {margin-top:15px; color:#666; font-size:17px;}
.board_view dd {border-bottom:1px solid #eee;}
.board_view dd {color:#111; font-size:17px; line-height:1.7;}
.board_view dd > div {padding:30px;}
.board_view dd .answer_text {background:#eee;}
.board_view dd .file_wrap {position:relative; min-height:50px;}
.board_view dd .file_wrap a:hover {text-decoration:underline;}
.board_view dd .file_wrap .btn {position:absolute; bottom:30px; right:30px; text-align:right;}
.board_view dd .file_wrap .btn button {display:inline-block; height:50px; padding:0 10px; border:1px solid #111; color:#111; font-size:16px; line-height:50px;}

.bord_btnR {margin-top:60px; margin-bottom:-140px; text-align:right; font-size:0;}
.bord_btnR button {display:inline-block; background:#666; width:150px; height:70px; margin-left:10px; color:#fff; font-size:20px; text-align:center; line-height:70px;}
@media screen and (max-width:720px) {
	.board_view dt {padding:15px;}
	.board_view dt strong {font-size:15px;}
	.board_view dt p {margin-top:5px; font-size:11px;}
	.board_view dd {font-size:11px;}
	.board_view dd > div {padding:15px;}
	.board_view dd .file_wrap {min-height:25px;}
	.board_view dd .file_wrap .btn {bottom:15px; right:15px;}
	.board_view dd .file_wrap .btn button {height:26px; padding:0 5px; font-size:11px; line-height:26px;}
	.bord_btnR {margin-top:30px; margin-bottom:0;}
	.bord_btnR button {width:calc(50% - 5px); height:36px; margin:0; padding:0; font-size:11px; line-height:36px;}
	.bord_btnR button:first-child {margin-right:10px;}
	.bord_btnR + .btn_c {margin-top:10px;}
}

.wr_board {border-top:2px solid #111;}
.wr_board dl {display:table; width:100%;}
.wr_board dt, .wr_board dd {display:table-cell; padding:15px 0; border-bottom:1px solid #eee; font-size:17px; vertical-align:middle;}
.wr_board dt {width:190px; padding-left:30px; color:#111;}
.wr_board dd {color:#999;}
.wr_board dd input[type=text],
.wr_board dd textarea {width:100%; margin:0; padding:0; border:1px solid #ddd; box-sizing:border-box;}
.wr_board dd input[type=text] {padding-left:10px;}
.wr_board dd textarea {height:400px; padding:10px; resize:none;}
@media screen and (max-width:720px) {
	.wr_board dl {display:block;}
	.wr_board dt, .wr_board dd {display:block;}
	.wr_board dt {width:100%; padding:15px 0 0 0; border-bottom:0; font-size:11px;}
	.wr_board dd {padding:5px 0;}
	.wr_board dd textarea {height:200px;}
}

.faq_warp {border-top:2px solid #111;}
.faq_warp dl {border-bottom:1px solid #eee;}
.faq_warp dt a {display:block; position:relative; padding:20px 30px; color:#111; font-size:17px; font-weight:bold;}
.faq_warp dt a:after {content:""; position:absolute; top:50%; right:20px; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpath fill-rule='evenodd' d='M.775 1.448c.002-.21.092-.418.264-.565.316-.267.79-.229 1.058.087l3.396 4 3.468-3.906c.275-.309.749-.338 1.058-.062.312.276.339.748.063 1.059L5.467 7.256.953 1.941c-.121-.144-.179-.319-.178-.493z' fill='%23666'/%3e%3c/svg%3e"); background-position:0 0; background-size:100% 100%; background-repeat:no-repeat; width:20px; height:18px; transform-origin:50% 0; transform:translateY(-50%); transition:all .2s;}
.faq_warp dd {display:none; background:#eee; padding:60px; color:#111; font-size:17px; line-height:2;}
.faq_warp dl.on dd {display:block;}
.faq_warp dl.on dt a:after {transform:rotate(180deg);}
@media screen and (max-width:720px) {
	.faq_warp dt a {padding:10px 15px; font-size:11px;}
	.faq_warp dt a:after {right:10px; width:10px; height:8px;}
	.faq_warp dd {padding:20px; font-size:11px;}
}

.idpw {max-width:440px; margin:0 auto;}
.idpw .tab {margin-bottom:30px;}
.idpw .tab:after {content:""; display:block; clear:both;}
.idpw .tab a {float:left; position:relative; background:#eee; width:50%; height:60px; color:#666; font-size:18px; font-weight:bold; text-align:center; line-height:60px;}
.idpw .tab a:after {content:""; position:absolute; bottom:-10px; left:50%; background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 4'%3e%3cpath fill-rule='evenodd' d='M0 0h7L3.5 4z' fill='%23eee'/%3e%3c/svg%3e") 0 0 no-repeat; background-size:100% 100%; width:20px; height:10px; transform:translateX(-50%);}
.idpw .tab a.on {background-color:#333; color:#fff;}
.idpw .tab a.on:after {background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 4'%3e%3cpath fill-rule='evenodd' d='M0 0h7L3.5 4z' fill='%23333'/%3e%3c/svg%3e") 0 0 no-repeat;}

.idpw .inp input[type=text],
.idpw .inp input[type=password] {width:100%;}
.idpw .inp input[type=text]:first-child {border-bottom:0;}
.idpw .btn_c {margin-top:30px;}
.idpw .btn_c button {width:100%;}
@media screen and (max-width:720px) {
	.idpw .tab {margin-bottom:15px;}
	.idpw .tab a {height:40px; font-size:12px; line-height:40px;}
	.idpw .tab a:after {bottom:-9px; width:10px; height:10px;}
	.idpw .btn_c {margin-top:15px;}
}
.login .inp input {padding-left:60px;}
.login .inp input.id {background:url(../images/sub/ico_login.png) 20px 50% no-repeat;}
.login .inp input.pw {background:url(../images/sub/ico_pw.png) 20px 50% no-repeat;}
.join_menu {margin-top:40px; text-align:center;}
.join_menu a {display:inline-block; position:relative; padding:0 40px; color:#666; font-size:16px;}
.join_menu a:first-child:after {content:""; position:absolute; top:50%; right:0; background:#ccc; width:1px; height:10px; transform:translateY(-50%);}
@media screen and (max-width:720px) {
	.login .inp input {padding-left:40px;}
	.login .inp input.id {background-position:15px 50%; background-size:auto 14px;}
	.login .inp input.pw {background-position:15px 50%; background-size:auto 16px;}
	.join_menu {margin-top:20px;}
	.join_menu a {padding:0 20px; font-size:11px;}
}

.ceo .box {display:table; width:100%; margin-top:2rem;}
.ceo .box > span {display:table-cell; width:43%;}
.ceo .box > span img {max-width:100%;}
.ceo .box > div {display:table-cell; padding-left:70px; color:#666; font-size:17px; line-height:2; vertical-align:middle;}
.ceo .box > div span {color:#999;}
@media screen and (max-width:1300px) {
	.ceo .box > div br.pc {display:none;}
}
@media screen and (max-width:720px) {
	.ceo .box {display:block;}
	.ceo .box > span {display:block; width:100%; text-align:center;}
	.ceo .box > div {display:block; margin-top:40px; padding-left:0;}
}

.org .org_box {margin-top:60px; border-top:1px solid #111;}
.org .org_box:after {content:""; display:block; clear:both;}
.org .org_box table {float:left; width:50%;}
.org .org_box table .th {width:27%;}
.org .org_box table th,
.org .org_box table td {height:60px; border-bottom:1px solid #eee; text-align:left; font-size:0.9rem; vertical-align:middle;}
.org .org_box table th {background:#fafafa; padding-left:1.5rem; color:#000;}
.org .org_box table td {padding-left:2.5rem; color:#666;}
@media screen and (max-width:720px) {
	.org .org_box table {width:100%;}
	.org .org_box table th,
	.org .org_box table td {height:35px; font-size:12px;}
}

.location .map {height:550px;}
.location h4 {margin-top:2.5rem; color:#000; font-size:1rem;}
.location .tbl {margin-top:1rem; border-top:2px solid #222;}
.location table .th {width:12%;}
.location table th,
.location table td {height:60px; border-bottom:1px solid #eee; text-align:left; font-size:0.9rem; vertical-align:middle;}
.location table th {padding-left:1.5rem; color:#000;}
.location table td {padding-left:2.5rem; color:#666;}
.location .loca_box {display:table; width:100%; margin-top:1rem;}
.location .loca_box .box {display:table-cell; width:50%; border:1px solid #eee; box-sizing:border-box;}
.location .loca_box .box strong {display:block; background:#fafafa; padding:1rem 0; color:#111; font-size:1rem;}
.location .loca_box .box strong:before {content:""; display:inline-block; background:url(../images/sub/ico_loca_02.png) 0 0 no-repeat; background-size:100% 100%; width:2.05rem; height:1.2rem; margin:0 0.5rem 0 1.5rem; vertical-align:-0.15rem;}
.location .loca_box .box:first-child strong:before {background:url(../images/sub/ico_loca_01.png) 0 0 no-repeat; background-size:100% 100%; width:1.85rem; height:1.1rem;}
.location .loca_box .box > div {padding:0 1.5rem 1.5rem;}
.location .loca_box .box > div dl {margin-top:1.5rem;}
.location .loca_box .box > div dl dt {color:#111; font-size:1rem;}
.location .loca_box .box > div dl dt:before {content:""; display:inline-block; background:#1781cc; width:0.3rem; height:0.3rem; margin-right:0.5rem; border-radius:50%; vertical-align:0.2rem;}
.location .loca_box .box > div dl dd {margin-top:0.75rem; color:#666; font-size:0.9rem; line-height:1.6;}
@media screen and (max-width:720px) {
	.location .map {height:250px;}
	.location table .th {width:17%;}
	.location table th,
	.location table td {height:35px; font-size:12px;}
	.location table th {padding-left:0;}
	.location h4 {font-size:17px;}
	.location .loca_box {display:block; width:100%;}
	.location .loca_box .box {display:block; width:100%; margin-bottom:15px;}
	.location .loca_box .box strong {font-size:12px;}
	.location .loca_box .box > div dl dt {font-size:12px;}
	.location .loca_box .box > div dl dd {font-size:12px;}
}
