@charset "UTF-8";

@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/nanumgothic.css);
html , body , div , span , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , a , address , em , img , strong , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , footer , header , hgroup , menu , nav , section , summary , video {margin:0; padding:0; border:0; box-sizing:border-box;font-size:100%; vertical-align:baseline;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section , main {display:block;}
body {background:#e6ebf1; line-height:1.2; font-family:'Nanum Gothic',"Malgun Gothic","맑은 고딕","AppleSDGothicNeo-Medium","Helvetica","AppleGothic","Sans-serif","Dotum","Verdana","Helvetica",sans-serif; font-size:2rem;}
html {font-size:10px;}
/* html {font-size:.9090vw;}
@media screen and (min-width:1100px) {
	html {font-size:10px;}
}
@media screen and (max-width:414px) {
	body {font-size:4rem;}
} */

ol , ul {list-style:none;}
em , i {font-style:normal;}
table {border-collapse:collapse; border-spacing:0;}
a , button {font-family:inherit;}
a {color:inherit; color:inherit; font-family:inherit; font-weight:normal; text-decoration:none;}
a:active , a:visited , a:hover {text-decoration:none; outline:none;}
button {background:none; margin:0; padding:0; border:0 none; color:inherit; font-size:inherit; cursor:pointer; outline:none;}
img {max-width:100%; vertical-align:middle;}
fieldset {border:0 none !important;}
input[type="text"] , input[type="number"] , input[type="password"] {margin:0; padding:0; border:1px solid #ddd; box-sizing:border-box; color:inherit; font-family:inherit; outline:none; -webkit-appearance:none;}
input[type="text"]::-ms-clear {display:none;}
input[type="text"]:-ms-clear {display:none;}
a , textarea {color:inherit; font-family:inherit; text-decoration:none;}
select {background:#fff;}
textarea::-webkit-input-placeholder {color:#999;}
textarea:-ms-input-placeholder {color:#999;}
input[type="text"]::-webkit-input-placeholder , input[type="number"]::-webkit-input-placeholder {color:#999;}
input[type="text"]:-ms-input-placeholder , input[type="number"]:-ms-input-placeholder {color:#999;}
input[type="number"]::-webkit-outer-spin-button , input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;}
@media screen and (max-width:786px) {
	body {font-family:"Helvetica Neue","Apple SD Gothic Neo",sans-serif;}
}

#wrap {overflow:hidden; position:relative; min-width:1100px; z-index:10;}

#sideArea {position:fixed; top:0; bottom:0; left:0; background:#fff; width:200px; padding:55px 20px 0; box-sizing:border-box;}
#sideArea h1 {padding-bottom:27px; border-bottom:1px solid #666; text-align:center;}

#menu {padding-top:20px;}
#menu > ul > li {position:relative; padding:7px 0; border-bottom:1px solid #e0e0e0;}
#menu > ul > li:after {content:""; position:absolute; top:25px; right:8px; background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 4'%3e%3cpath fill-rule='evenodd' d='M0 0h7L3.5 4z' fill='%23b1b1b2'/%3e%3c/svg%3e") 0 0 no-repeat; background-size:100% 100%; width:7px; height:4px; transform:rotate(180deg); transition:all .2s ease;}
#menu > ul > li.m2:after {display:none;}
#menu > ul > li > a {display:block; padding:7px 0 7px 32px; color:#464646;}
#menu > ul > li.m1 > a {background:url(../images/ico_m01.png) 10px 50% no-repeat;}
#menu > ul > li.m2 > a {background:url(../images/ico_m02.png) 10px 50% no-repeat;}
#menu > ul > li.m3 > a {background:url(../images/ico_m03.png) 10px 50% no-repeat;}
#menu > ul > li.m4 > a {background:url(../images/ico_m04.png) 10px 50% no-repeat;}
#menu > ul ul {display:none;}
#menu > ul ul li a {display:block; background:url(../images/ico_dep2.png) 17px 50% no-repeat; padding:7px 0 7px 32px; color:#666; font-size:1.4rem;}
#menu > ul > li.on:after {transform:rotate(0deg);}
#menu > ul > li.on ul {display:block;}

#container {margin-left:200px; padding:47px 50px 30px; box-sizing:border-box;}
.footer {margin-top:80px; padding-top:20px; border-top:1px solid #666; color:#666; font-size:1.2rem;}

.header {margin-bottom:50px; padding-bottom:20px; border-bottom:1px solid #666;}
.header:after {content:""; display:block; clear:both;}
.header .fl_l {float:left;}
select {background:#fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 4'%3e%3cpath fill-rule='evenodd' d='M0 0h7L3.5 4z' fill='%23b1b1b2'/%3e%3c/svg%3e") calc(100% - 15px) 50% no-repeat; background-size:7px 4px; min-width:200px; height:40px; padding-left:15px; border:0; color:#b7bbc2; font-size:1.6rem; -webkit-appearance:none; -moz-appearance:none; appearance:none; vertical-align:middle;}
.header .topSelectBox button {background:#666; width:65px; height:40px; color:#fff; font-size:1.6rem; text-align:center; line-height:38px; vertical-align:middle;}
.header .fl_r {float:right;}
.header .fl_r .logout {background:#004a80; overflow:visible; width:120px; height:40px; color:#fff; font-size:1.6rem; text-align:center; line-height:38px;}
.header .fl_r .logout:after {content:""; display:inline-block; background:url(../images/ico_logout.png) 0 0 no-repeat; width:19px; height:18px; margin-left:5px; vertical-align:middle;}

.contents .title {margin-bottom:15px; color:#464646; font-size:22px;}
.contents .title:before {content:""; display:inline-block; background:#004a80; width:28px; height:10px; margin-right:10px; border-radius:10px; vertical-align:1px;}

input[type=text],
input[type=number] {height:40px; padding-left:20px; border:1px solid #e3e3e3; color:#b7bbc2; font-size:1.6rem;}

.topSrhBox {background:#fff; margin-bottom:50px; padding:25px 0; text-align:center;}
.topSrhBox * {display:inline-block; vertical-align:middle;}
.topSrhBox strong {margin-right:15px; color:#464646; line-height:40px;}
.topSrhBox div {position:relative;}
.topSrhBox div input[type=text] {width:183px; height:40px; padding-left:20px; border:1px solid #e3e3e3; color:#b7bbc2; font-size:1.6rem;}
.topSrhBox div input[type=text].name {width:330px;}
.topSrhBox div .btn {position:absolute; top:50%; right:10px; margin-top:-12px;}
.topSrhBox .btn_srhSumit {background:#666; overflow:visible; width:105px; height:40px; color:#fff; font-size:1.6rem; text-align:center; line-height:38px;}
.topSrhBox .btn_srhSumit:after {content:""; display:inline-block; background:url(../images/ico_srh.png) 0 0 no-repeat; width:19px; height:18px; margin-left:5px; vertical-align:-4px;}
.topSrhBox select {width:330px; border:1px solid #e3e3e3;}
.topSrhBox .ty2 input[type=text].name, .topSrhBox .ty2 select {width:206px;}

.mainBox:after {content:""; display:block; clear:both;}
.mainBox > div {float:left; width:calc(50% - 10px);}
.mainBox > div.fl_l {margin-right:20px;}
.mainBox > div > p {color:#004a80; font-size:1.6rem;}
.mainBox > div > p:before {content:""; display:inline-block; background:#004a80; width:10px; height:10px; margin-right:8px; border-radius:50%; vertical-align:middle;}
.mainBox .fl_l .box {background:#004a80; color:#fff;}
.mainBox .box {position:relative; background:#fff; height:140px; margin-top:30px; padding:15px 15px 0; box-sizing:border-box; color:#727272; text-align:center;}
.mainBox .box:first-of-type {margin-top:20px;}
.mainBox .box > p {margin-bottom:5px; line-height:38px; font-weight:bold; text-align:left;}
.mainBox .box > p i {display:inline-block; width:38px; height:38px; margin-right:6px; border:1px solid #fff; border-radius:50%; text-align:center; line-height:38px;}
.mainBox .box > div {display:inline-block; padding:0 10px; border-left:1px solid #336e99; text-align:left;}
.mainBox .fl_r .box > p i,
.mainBox .fl_r .box > div {border-color:#e0e0e0;}
.mainBox .box > div:first-of-type {border-left:0;}
.mainBox .box > div p {font-size:1.6rem;}
.mainBox .box > div strong {font-size:30px;}
.mainBox .box > div strong:only-child {display:block; padding:10px 0;}
.mainBox .box > div strong em {font-size:16px; font-weight:normal;}
.mainBox .box span.text {position:absolute; bottom:-20px; right:0; color:#a1a1a1; font-size:11px;}

.btn_tbl {margin-bottom:15px; text-align:right; font-size:0;}
.btn_tbl button {height:40px; margin-left:10px; padding:0 15px; border:1px solid #666; color:#666; font-size:16px; line-height:40px; vertical-align:middle;}
.btn_tbl button.blue {background:#004a80; border-color:#004a80; color:#fff;}
.btn_tbl select {min-width:140px; margin-left:10px;}
.btn_tbl > p {margin-top:-25px; color:#727272; font-size:20px; text-align:left;}
.btn_tbl > p span {color:#004a80;}

.tbl_board {background:#fff; padding:15px 20px 35px;}
.tbl_board .desc {position:relative; top:65px; left:20px; color:#727272; font-size:16px; text-align:right;}
.tbl_board table {width:100%;}
.tbl_board table thead th, .tbl_board table td, .tbl_board table tbody th {height:44px; vertical-align:middle; text-align:center;}
.tbl_board table thead th {height:44px; border-bottom:1px solid #464646; color:#464646; font-size:20px;}
.tbl_board table td, .tbl_board table tbody th {border-bottom:1px solid #e6ebf1; color:#727272; font-size:16px; font-weight:normal;}
.tbl_board table tbody th {color:#464646;}
.tbl_board table td .btn_voice {display:block; overflow:visible; background:#b7bbc2; width:20px; height:20px; margin:0 auto; border-radius:50%; font:0/0 a;}
.tbl_board table td .btn_voice:after {content:""; display:inline-block; background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 15'%3e%3cpath d='M11 7.48L0 15V0l11 7.48z' fill='%23fff'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:5px; height:9px; margin-left:1px;}
.tbl_board table td .btn_text {color:#0076a3; font-size:15px;}
.tbl_board table td select {height:30px; border:1px solid #e6ebf1; vertical-align:middle;}
.tbl_board table td .btn_basic {height:30px; padding:0 10px; border:1px solid #727272; color:#727272; font-size:14px; line-height:28px; vertical-align:middle;}

.tbl_btn {margin-top:20px; text-align:right; font-size:0;}
.tbl_btn button {height:40px; margin-left:10px; padding:0 40px; border:1px solid #666; color:#666; font-size:16px; line-height:38px;}

.tbl_board .tbl_select {display:table; width:100%; margin-bottom:15px; font-size:0;}
.tbl_board .tbl_select > div {display:table-cell; padding-left:5px; vertical-align:middle;}
.tbl_board .tbl_select > div:first-child {padding-left:0;}
.tbl_board .tbl_select strong {display:inline-block; background:#666; width:100%; height:40px; padding-left:15px; color:#fff; font-size:16px; line-height:40px; vertical-align:middle;}
.tbl_board .tbl_select select {min-width:100%; border:1px solid #e3e3e3;}

.paging {margin-top:25px; text-align:center; font-size:0;}
.paging a {display:inline-block; width:32px; height:32px; margin-left:5px; border:1px solid #dedede; box-sizing:border-box; color:#b7bbc2; font-size:16px; vertical-align:middle; line-height:30px;}
.paging a.on,
.paging a:hover {background:#004a80; color:#fff; font-weight:bold;}
.paging a.prev,
.paging a.next {font:0/0 a;}
.paging a.prev {background:#dedede url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M11.3 2.7L4.5 9.6l6.8 6.8a1.6 1.6 0 01-2.2 2.2l-7.8-7.8C1 10.4.8 10 .9 9.6c0-.5 0-1 .4-1.3L9 .5a1.6 1.6 0 012.2 2.2z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:12px 20px; margin-left:0;}
.paging a.next {background:#dedede url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M11.3 10.8l-7.9 7.8a1.6 1.6 0 01-2.2-2.2l6.9-6.8-6.9-6.9A1.6 1.6 0 013.4.5l7.9 7.8c.3.4.4.8.4 1.3 0 .4 0 .8-.4 1.2z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:12px 20px;}

.layer_wrap {display:none; position:fixed; top:50%; left:50%; background:#fff; min-width:400px; padding:25px; border:1px solid #464646; transform:translate(-50%, -50%); z-index:999;}
.layer_wrap .btn_close {position:absolute; top:0; right:0; background-color:#464646; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' %3e%3cpath d='m17.863 14.984 11.518 11.518c0.795 0.795 0.795 2.084 0 2.879s-2.084 0.795-2.879 0l-11.518-11.518-11.518 11.518c-0.795 0.795-2.084 0.795-2.879 0s-0.795-2.084 0-2.879l11.518-11.518-11.518-11.518c-0.795-0.795-0.795-2.084 0-2.879s2.084-0.795 2.879 0l11.518 11.518 11.518-11.518c0.795-0.795 2.084-0.795 2.879 0s0.795 2.084 0 2.879l-11.518 11.518z' fill='%23fff'/%3e%3c/svg%3e"); background-position:50% 50%; background-repeat:no-repeat; background-size:20px 20px; width:36px; height:36px; font:0/0 a;}
.layer_wrap h2 {margin-bottom:15px; padding-bottom:10px; border-bottom:2px solid #464646; color:#464646; font-size:22px;}
.layer_wrap .conts {min-height:90px; color:#727272; font-size:16px;}
.layer_wrap .btn_area {padding-top:10px; text-align:center; font-size:0;}
.layer_wrap .btn_area.line {border-top:1px solid #e6ebf1;}
.layer_wrap .btn_area button {width:calc(50% - 5px); height:50px; border:1px solid #666; color:#666; font-size:16px; text-align:center; line-height:48px;}
.layer_wrap .btn_area button:first-of-type {margin-right:10px;}
.layer_wrap .btn_area button:only-child {margin:0;}
.layer_wrap .select_return {min-width:100%; border:1px solid #e6ebf1;}
.layer_wrap .chk_area {margin-bottom:10px; text-align:center;}
.layer_wrap .chk_area > * {display:inline-block; vertical-align:middle;}
.layer_wrap .chk_area label {margin-left:4px; color:#727272; font-size:16px;}
.layer_wrap .chk_area label:first-of-type {margin-right:30px;}
.layer_wrap .tbl_board {padding:0;}

input[type=checkbox],input[type=radio] {display:inline-block; width:18px; height:18px; border:1px solid #cbcbcb; appearance:none; -webkit-appearance:none; vertical-align:middle;}
input[type=checkbox]:checked, input[type=radio]:checked {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 18'%3e%3cpath fill-rule='evenodd' fill='%23ED1C24' d='M14.4 8.5l-5 8-.2.2-.2.2h-.2l-.3.1h-.3-.5l-.2-.1-.3-.2-.1-.2H7v-.1l-.1-.3L1 2.3C.7 1.8.9 1.1 1.6.8c.7-.3 1.5-.2 1.9.4l5 11.8L12 7.4c.4-.5 1.2-.7 1.9-.4.7.3.9 1 .5 1.5z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:15px 18px;}

.removal_layer .tbl_board {padding:0;}
.removal_layer .tbl_board tr.modify td {padding:0 10px;}
.removal_layer .tbl_board tr td input[type=text] {width:100%; height:36px; border:1px solid #e6ebf1; box-sizing:border-box; color:#b7bbc2; font-size:16px; text-align:center;}

.assign_layer .conts p {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 63'%3e%3cpath fill-rule='evenodd' fill='%23464646' d='M44 16a27 27 0 00-38 0l-6-5C14-3 36-3 49 11l-5 5zm-30 8l-6-5c9-9 24-9 33 0l-5 5c-6-6-16-6-22 0zm30 34c0 2-2 4-4 4H9c-2 0-3-2-3-4v-4c1-5 4-10 9-12a12 12 0 0110-18 12 12 0 019 18c5 2 9 7 10 12v4zM25 31a4 4 0 100 8 4 4 0 000-8zm11 23a12 12 0 00-22 0h22z'/%3e%3c/svg%3e") 50% 0 no-repeat; background-size:50px 63px; padding:85px 0 15px; color:#464646; font-size:22px; text-align:center;}

.viewList_layer {width:590px;}
.viewList_layer .tbl_board {padding:0;}

.kit_layer .tbl_board table td {text-align:left;}
.kit_layer .tbl_board table td input {width:124px; height:36px; padding:0; text-align:center;}
.kit_layer .tbl_board table td input,
.kit_layer .tbl_board table td .count {display:inline-block; vertical-align:middle;}
.kit_layer .tbl_board table td .count button {display:block; position:relative; overflow:visible; width:18px; height:18px; margin:0; padding:0; border:1px solid #e6ebf1; font:0/0 a;}
.kit_layer .tbl_board table td .count button:after {content:""; display:inline-block; background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 4'%3e%3cpath fill-rule='evenodd' d='M0 0h7L3.5 4z' fill='%23b1b1b2'/%3e%3c/svg%3e") 0 0 no-repeat; background-size:100% 100%; width:7px; height:4px;}
.kit_layer .tbl_board table td .count button.up:after {transform:rotate(180deg);}

.ap_layer .tbl_board table td,
.pt_layer .tbl_board table td {text-align:left;}
.pt_layer .tbl_board table td textarea,
.ap_layer .tbl_board table td textarea {width:348px; height:127px; border:1px solid #e6ebf1; border-top:0; color:#727272; font-size:16px; resize:none;}

.ta2_layer .tbl_board table td {text-align:left;}
.ta2_layer .tbl_board table td textarea {width:348px; height:127px; border:1px solid #e6ebf1; border-top:0; color:#727272; font-size:16px; resize:none;}
.ta2_layer .tbl_board table tr.file th,
.ta2_layer .tbl_board table tr.file td {padding:10px 0;}
.ta2_layer .tbl_board table tr.file th {padding-top:12px; vertical-align:top;} 
.ta2_layer .tbl_board table td .btn {margin-top:5px; text-align:right;}

.textList_layer .tbl_board table th {border-color:#e6ebf1;}
.textList_layer .textModify {width:100%; margin-top:10px;}
