@charset "UTF-8";
/* @import url(https://cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/nanumgothic.css); */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:100; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:300; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:400; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:500; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:700; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:900; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype");
}


html , body , div , span , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , a , address , em , img , strong , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , footer , header , hgroup , menu , nav , section , summary , video {margin:0; padding:0; border:0; box-sizing:border-box;font-size:100%; vertical-align:baseline;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section {display:block;}
body {background:#f8f8f8; color:#222; line-height:1.2; font-family:'Noto Sans KR',"Malgun Gothic","맑은 고딕","AppleSDGothicNeo-Medium","Helvetica","AppleGothic","Sans-serif","Dotum","Verdana","Helvetica",sans-serif;font-size:12px; letter-spacing:-.5px;}
html {font-size:2.8vw;}
ol , ul {list-style:none;}
em , i {font-style:normal;}
table {border-collapse:collapse; border-spacing:0;}
a , button {font-family:inherit;}
a {color:inherit; color:inherit;font-family:inherit; font-weight:normal; text-decoration:none;}
a:active , a:visited , a:hover {text-decoration:none; outline:none;}
button {background:none; margin:0; padding:0; border:0 none; color:inherit; font-size:inherit; cursor:pointer;outline:none;}
img {max-width:100%; vertical-align:middle;}
fieldset {border:0 none !important;}
input[type="text"] , input[type="number"] , input[type="password"] {margin:0; padding:0; border:1px solid #ddd; box-sizing:border-box; color:inherit; font-family:inherit; outline:none; -webkit-appearance:none;}
input[type="text"]::-ms-clear {display:none;}
input[type="text"]:-ms-clear {display:none;}
a , textarea {color:inherit; font-family:inherit; text-decoration:none;}
textarea::-webkit-input-placeholder {color:#dcdcdc;}
textarea:-ms-input-placeholder {color:#dcdcdc;}
input[type="text"]::-webkit-input-placeholder , input[type="number"]::-webkit-input-placeholder {color:#dcdcdc;}
input[type="text"]:-ms-input-placeholder , input[type="number"]:-ms-input-placeholder {color:#dcdcdc;}
input[type="number"]::-webkit-outer-spin-button , input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;}
img.pc {display:block;}
img.mo {display:none;}
@media screen and (max-width:718px) {
	img.pc {display:none;}
	img.mo {display:block;}
}

#pin_warp {overflow:hidden; position:relative; width:100%; z-index:10;}

header {position:realtive; background:#fff; border-bottom:6px solid #2485c8; z-index:15;}
header .innr {position:relative; width:100%; max-width:1400px; height:115px; margin:0 auto; padding-top:23px;}
header .gnb_wrap {position:absolute; top:0; left:380px;}
header .gnb_wrap > ul:after {content:""; display:block; clear:both;}
header .gnb_wrap > ul > li {float:left; position:relative;}
header .gnb_wrap > ul > li > a {display:block; height:115px; padding:0 70px; color:#222; font-size:19px; line-height:115px; font-weight:bold;}
header .gnb_wrap > ul > li.on > a {color:#2485c8;}
header .gnb_wrap .dep2 {display:none; position:absolute; top:115px; left:0; background:#2485c8; padding:20px 0; white-space:nowrap; z-index:20;}
header .gnb_wrap .dep2 a {display:block; height:34px; padding:0 20px; box-sizing:border-box; color:#fff; font-size:16px; line-height:34px;}
header .gnb_wrap .dep2 a:hover {text-decoration:underline;}
header .util {position:absolute; top:50%; right:0; transform:translateY(-50%);}
header .util:after {content:""; display:block; clear:both;}
header .util li {float:left; margin-left:10px;}
header .gnb_wrap > ul > li.on .dep2 {display:block;}

header .allMenu {display:none; position:fixed; top:0; bottom:0; left:0; right:0; background:#2485c8; z-index:20;}
header .allMenu .logo {padding:42px 0 78px; text-align:center;}
header .allMenu .gnb_all {width:100%; max-width:1280px; margin:0 auto;}
header .allMenu .gnb_all ul:after {content:""; display:block; clear:both;}
header .allMenu .gnb_all > ul > li {float:left; width:25%;}
header .allMenu .gnb_all > ul > li > a {display:block; color:#fff; font-size:19px; font-weight:bold;}
header .allMenu .gnb_all .dep2 {padding-top:25px;}
header .allMenu .gnb_all .dep2 a {display:block; height:34px; color:#fff; font-size:16px; line-height:34px;}
header .allMenu .btn_close {position:absolute; top:43px; left:50%; margin-left:660px;}

footer {background:#2c2c31;}
footer .innr {position:relative; width:100%; max-width:1400px; min-height:185px; margin:0 auto;}
footer .innr .util {position:relative; border-bottom:1px solid #404045;}
footer .innr .util ul:after {content:""; display:block; clear:both;}
footer .innr .util ul li {float:left; margin-left:36px;}
footer .innr .util ul li:first-child {margin-left:0;}
footer .innr .util ul li a {height:60px; color:#c1c1c1; font-size:15px; line-height:60px;}
footer .innr .util select {position:absolute; bottom:-1px; right:0; background:transparent; width:225px; height:60px; padding-left:15px; border:0; border-bottom:1px solid #fff; color:#999; font-size:15px; outline:none;}
footer .innr .addr {margin-top:30px; color:#9ca0a2; font-size:13px; line-height:1.4; opacity:.4;}
footer .innr .sns {position:absolute; top:90px; right:0;}
footer .innr .sns li {float:left; margin-left:15px;}


@media screen and (max-width:1418px) {/* 모바일 COMMON */
	header h1 {text-align:center;}
	header .gnb_wrap {display:none;}
	header .util {right:15px;}
	header .allMenu .btn_close {left:auto; right:15px; margin-left:0;}
}

@media screen and (max-width:718px) {
	header {border-width:0 0 3px;}
	header .innr {height:auto; padding:5px 0;}
	header h1 img {width:46px;}
	header .util li img {width:20px;}

	header .allMenu .logo {padding:5px 0 0;}
	header .allMenu .logo img {width:46px;}
	header .allMenu .btn_close {top:10px;}
	header .allMenu .btn_close img {height:20px;}
	header .allMenu .gnb_all > ul {padding:40px 40px 0;}
	header .allMenu .gnb_all > ul > li {width:100%; margin-top:40px;}
	header .allMenu .gnb_all > ul > li > a {font-size:20px;}
	header .allMenu .gnb_all .dep2 {padding-top:10px;}
	header .allMenu .gnb_all .dep2 a {height:25px; font-size:13px; line-height:25px;}

	footer .innr {width:calc(100% - 30px); height:120px; min-height:auto;}
	footer .innr .util {position:static;}
	footer .innr .util ul li {margin-left:19px;}
	footer .innr .util select {bottom:13px; left:0; width:100px; height:20px; padding:0; font-size:11px;}
	footer .innr .util ul li a {height:30px; font-size:12px; line-height:30px;}
	footer .innr .addr {margin-top:15px; font-size:11px;}
	footer .innr .sns {top:auto; bottom:13px; right:0;}
	footer .innr .sns li a img {width:20px; height:20px; margin-left:0;}
}

.main_visual img,
.main_box > div img,
.recruit img {width:100%;}
.main_box:after {content:""; display:block; clear:both;}
.main_box > div {float:left; width:50%; box-sizing:border-box;}
.mid-project {width:100%; max-width:1400px; margin:75px auto;}

.notice {display:table; width:100%; max-width:1400px; height:80px; margin:0 auto;}
.notice dl {display:table-cell; width:100%; border:1px solid #dddedf; border-width:1px 0; vertical-align:middle;}
.notice dl:after {content:""; display:block; clear:both;}
.notice dl dt {float:left; width:200px; color:#333; font-size:18px; text-align:center;}
.notice dl dd {float:left; position:relative; width:300px; padding-left:10px; box-sizing:border-box;}
.notice dl dd:after {content:""; position:absolute; top:50%; right:50px; background:url(../images/btn_notice.png) 0 0 no-repeat; width:17px; height:17px; transform:translateY(-50%);}
.notice dl dd a {display:block;}
.notice dl dd a p {overflow:hidden; text-overflow:ellipsis; width:200px; color:#969696; font-size:18px; white-space:nowrap;}

.recruit {margin-top:65px;}

@media screen and (max-width:1418px) {
	.mid-project {margin:15px auto; padding:0 15px;}
	.notice {padding:0 15px;}
	.notice dl dd:nth-child(4) {display:none;}
	.recruit {margin-top:15px;}
}
@media screen and (max-width:1140px) {
	.notice dl dd:nth-child(4),
	.notice dl dd:nth-child(3) {display:none;}
}
@media screen and (max-width:835px) {
	.notice dl dd:nth-child(4),
	.notice dl dd:nth-child(3),
	.notice dl dd:nth-child(2) {display:none;}
}
@media screen and (max-width:718px) {
	.notice {height:40px;}
	.notice dl dt {width:90px; font-size:12px;}
	.notice dl dd {width:calc(100% - 90px); padding-right:60px;}
	.notice dl dd:after {right:25px;}
	.notice dl dd a p {width:100%; font-size:11px;}
}





/* SUB */
/* 서브 공통 */

