@charset "utf-8";
.icomoon {font-family:"icomoon" !important;}
h1, h2, h3, h4, h5 {font-family: "Avenir LT W01 85 Heavy", arial, sans-serif;}

#arc_footer {padding:0 0 30px; border-top:1px solid #999;}
#arc_footer .footerMenu {max-width:1430px; margin:0 auto; padding:60px 3% 40px; border-width:1px 0;}
#arc_footer .footerMenu:after {content:""; display:block; clear:both;}
#arc_footer .footerMenu > div {float:left; width:17%;}
#arc_footer .footerMenu .logo {width:15%;}
#arc_footer .footerMenu > div li {margin-top:13px;}
#arc_footer .footerMenu > div li:first-child {margin-top:0;}
#arc_footer .footerMenu > div a {margin-top:13px; color:#333; font-family:"Avenir LT W01 55 Roman", arial, sans-serif; font-size:13px;}
#arc_footer .footerMenu > div a:hover {color:#000;}
#arc_footer .footerMenu .util_wrap > div {margin-top:13px;}
#arc_footer .footerMenu .util_wrap > div:first-child {margin-top:0;}
#arc_footer .footerMenu .util_wrap a {display:inline-block; margin-top:0; vertical-align:middle;}
#arc_footer .footerMenu .util_wrap .sign a:before {content:""; display:inline-block; margin-right:5px; font-family:"icomoon"; font-size:16px; vertical-align:middle;}
#arc_footer .footerMenu .util_wrap .sign a.login:before {content:"\E971";}
#arc_footer .footerMenu .util_wrap .sign a.flag_lang {margin-left:10px;}
#arc_footer .footerMenu .util_wrap .sign a.flag_lang:before {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/flags.png) -999em -999em no-repeat; width:24px; height:24px;}
#arc_footer .footerMenu .util_wrap .sign .flag_lang.ca:before {background-position: -72px 0;}
#arc_footer .footerMenu .util_wrap .arcApp a:before {content:"\E908"; display:inline-block; font-family:"icomoon"; font-size:18px; vertical-align:middle; margin-right:10px;}
#arc_footer .footerMenu .util_wrap .social a {margin:0 2.5%; font:0/0 a;}
#arc_footer .footerMenu .util_wrap .social a:first-child {margin-left:0;}
#arc_footer .footerMenu .util_wrap .social a:before {display:block; font-family:"icomoon"; font-size:17px; line-height:1.2;}
#arc_footer .footerMenu .util_wrap .social .fb:before {content:"\EA90";}
#arc_footer .footerMenu .util_wrap .social .instar:before {content:"\EA92";}
#arc_footer .footerMenu .util_wrap .social .tw:before {content:"\EA96";}
#arc_footer .footerMenu .util_wrap .social .pin:before {content:"\E902";}
#arc_footer .footerMenu .util_wrap .social .yb:before {content:"\EA9D";}
#arc_footer .services {padding:10px 0; text-align:center;}
#arc_footer .services.terms {border-top:1px solid #999; padding-top:35px;}
#arc_footer .services li {display:inline-block;}
#arc_footer .services li a {color:#333; font-family:"Avenir LT W01 55 Roman", arial, sans-serif; font-size:13px;}
#arc_footer .services li a:hover {color:#000;}
#arc_footer .services li a:before {content:""; display:inline-block; background:#333; width:1px; height:10px; margin:0 5px;}
#arc_footer .services li:first-child a:before {display:none;}

/* 하단 퀵 */
.quick {max-width:90%; margin:40px auto; padding:70px 0 0; text-align:center;}
.quick i{font-size:60px; color:#333; width: 100%;}
.quick dl {display:inline-block; margin:0 3%; vertical-align: top;width: 27%;}
.quick dt {line-height:1.2; font-size:20px; color:#333; font-family: "Avenir LT W01 85 Heavy", arial, sans-serif;}
.quick dt:before {content:""; display:block; padding-bottom:20px; color:#333; font-size:50px; text-align:center; font-family: "icomoon";}
.quick .q01 dt:before {content:"\E922";}
.quick .q02 dt:before {content:"\E91E"; padding:10px 0 25px; font-size:35px;}
.quick .q03 dt:before {content:"\E921";}
.quick dd {font-size:15px; font-weight:400;}
.quick dd a{display: inline-table;width:100%; text-decoration: underline; padding-top:20px; text-transform: uppercase;}

#arc-mobExplore {display:none; border-top:1px solid #ccc;}
#arc-mobExplore h3:after {content:""; display:block; clear:both;}
#arc-mobExplore h3 a {display:block; position:relative; color:#000; font-family: "Avenir LT W01 85 Heavy", arial, sans-serif; font-size:14px; padding:25px; font-weight:bold;}
#arc-mobExplore h3 a:after {content:"+";  float:right; font-size:20px; line-height:1; transition:all .2s ease;}
#arc-mobExplore li {width:96%; margin:0 auto;}
#arc-mobExplore li a {display:block; position:relative; border-top:1px solid #999; font-size:15px; padding:25px; box-sizing:border-box; color:#000;}
#arc-mobExplore > div {display:none;}
#arc-mobExplore.on > div {display:block;}
#arc-mobExplore.on h3 a:after {transform:rotate(45deg);}


@media screen and (max-width: 1064px){
	#arc_footer .footerMenu > div {width:20%;}
	#arc_footer .footerMenu .logo {display:none;}
}
@media screen and (max-width: 929px){
	#arc_footer .footerMenu > div {width:25%; min-height:160px; text-align:center;}
	#arc_footer .footerMenu .util_wrap {width:100%; min-height:auto;}
	#arc_footer .footerMenu .util_wrap > div {margin-top:20px;}
	#arc_footer .footerMenu .util_wrap .social a {margin:0 1%;}
	.quick dl {width:33.3%; margin:0;}
	.quick dd {display:none;}
	.quick dt {font-size:15px;}
}
@media screen and (max-width: 767px){
	#arc-mobExplore {display:block;;}
	#arc_footer .footerMenu > div {width:50%; min-height:160px; text-align:center;}
}


#arc_conts {width:88%; max-width:1430px; margin:0 auto; padding:2.5em 0; color:#000; font-family:"Avenir LT W01 55 Roman", arial, sans-serif;}
.top_wrap {}
.top_wrap .bread  a {display:inline-block; text-decoration:underline; color:#000; font-size:14px;}
.top_wrap .bread  a:hover {text-decoration:underline;}
.top_wrap .bread  a:after {content:"\203A"; display:inline-block; height:17px; margin:0 5px;}
.top_wrap h2 {font-size:20px; margin:5px 0 18px; font-family:"Avenir LT W01 85 Heavy", arial, sans-serif;}

.float-box {display:table; width:100%;}
.float-box:after {content:""; display:block; clear:both;}
.float-box .left-box,
.float-box .right-box {display:table-cell; padding-bottom:1em;}
.float-box .left-box {width:70%; min-height:500px; padding-bottom:3em; padding-right:2em; border-right:1px solid #ccc; box-sizing:border-box;}
.float-box .right-box {width:30%; padding-left:70px; box-sizing:border-box;}

.help_service {color:#000; font-family: "Avenir LT W01 55 Roman", arial, sans-serif;}
.help_service strong {display:block; position:relative; margin-top:2em; font-size:18px; font-weight:bold;}
.help_service strong:after {content:"\e906"; position:absolute; top:0; left:-50px; font-size:38px; font-family: "icomoon";}
.help_service strong:first-of-type {margin-top:0;}
.help_service p {margin-top:1em;}
.help_service em {display:block; margin-top:1em; font-weight:bold;}
.help_service em a {text-decoration:underline; color:#000;}

.sizing_guide p.des {width:80%;}
.sizing_guide .prd_list {margin-top:1em;}
.sizing_guide .prd_list:after {content:""; display:block; clear:both;}
.sizing_guide .prd_list > div {float:left; position:relative; width:33.3%;}
.sizing_guide .prd_list > div a {display:block;}
.sizing_guide .prd_list > div img {display:block; margin:0 auto;}
.sizing_guide .prd_list > div p {margin:1em 0; color:#000; font-size:15px; font-family:"Avenir LT W01 55 Roman", arial, sans-serif; text-align:center;}
.sizing_guide .prd_list > div span {display:block; background:#000; max-width:142px; height:42px; margin:0 auto; color:#fff; line-height:42px; text-align:center; font-size:16px;}
.sizing_guide .prd_list > div span:hover {background-image:linear-gradient(#373737, #000);}
.sizing_guide .prd_list .p01,
.sizing_guide .prd_list .p02,
.sizing_guide .prd_list .p03 {height:550px; margin-bottom:1.5em;}
.sizing_guide .prd_list .p01 img,
.sizing_guide .prd_list .p02 img {height:417px;}
.sizing_guide .prd_list .p03:after {content:""; display:block; clear:both;}
.sizing_guide .prd_list .p03 a {float:left; width:100%;}
.sizing_guide .prd_list .p03 .link2 {margin-top:83px;}
.sizing_guide .prd_list .p04 {padding-top:58px;}
.sizing_guide .prd_list .p06 {padding-top:69px;}

@media screen and (max-width: 1064px){
	#arc_conts {width:94%;}
}
@media screen and (max-width: 929px){
	.float-box {display:block;}
	.float-box .left-box,
	.float-box .right-box {display:block;}
	.float-box .left-box {width:100% !important; min-height:auto; padding-right:0; border:0;}
	.float-box .right-box {width:100% !important; padding-left:50px;}
}
@media screen and (max-width: 539px){
	.sizing_guide p.des {width:100%;}
	.sizing_guide .prd_list .p01,
	.sizing_guide .prd_list .p02 {width:50%;}
	.sizing_guide .prd_list .p03 {width:100%; height:auto;}
	.sizing_guide .prd_list .p03 a {width:50%;}
	.sizing_guide .prd_list .p03 .link2 {margin-top:40px;}
	.sizing_guide .prd_list .p04,
	.sizing_guide .prd_list .p05 {width:50%;}
	.sizing_guide .prd_list .p06 {width:100%;}
}

.prd-service_info {max-width:650px;}
.prd-service_info strong {font-family: "Avenir LT W01 85 Heavy", arial, sans-serif; font-weight:normal;}
.prd-service_info .btn-serviceInfo {display:inline-block; background:#000; min-width:142px; max-width:400px; height:42px; margin:1em 0 1.5em; padding:0 20px; color:#fff; font-size:16px; line-height:42px; font-family: "Avenir LT W01 65 Medium", arial, sans-serif; text-align:center;}
.prd-service_info .btn-serviceInfo:hover {background-image: linear-gradient(#373737, #000);}
.prd-service_info p a {text-decoration:underline;}
.prd-service .float-box {border-top:1px solid #ccc; margin-top:2em; padding-top:2em;}
.float-box.nonLine {border-top:0; margin-top:0; padding-top:0;}
.service_faq h2 {margin-top:40px; color:#000; font-size:18px;}
.service_faq h2:first-of-type {margin-top:0;}
.service_faq dl {margin-top:15px;}
.service_faq dl dt a {display:block; position:relative; padding-right:20px; color:#000; font-size:15px; font-family: "Avenir LT W0 55 Roman", arial, sans-serif; line-height:1.5; transition:all .2s ease;}
.service_faq dl dt a:after {content:"+"; position:absolute; top:-5px; right:0; font-size:22px; transition:all .2s ease;}
.service_faq dl dd {display:none; padding:20px 0 30px;}
.service_faq dl dd p {max-width:650px; color:#000; font-size:15px; line-height:1.5;}
.service_faq dl.on dt a {font-size:16px; font-family:"Avenir LT W01 85 Heavy", arial, sans-serif;}
.service_faq dl.on dt a:after {font-size:28px; transform: rotate(45deg);}
.service_faq dl.on dd {display:block;}

@media screen and (max-width: 929px){
	.service_faq {padding-right:0;}
}


.support .spt_conts .list:after {content:""; display:block; clear:both;}
.support .spt_conts .list li {float:left; width:48%; margin:0 0 2em; border:1px solid #ccc;}
.support .spt_conts .list li:nth-child(even) {float:right;}
.support .spt_conts .list li p {display:table; width:100%;}
.support .spt_conts .list li a {display:table-cell; height:85px; text-align:center; vertical-align:middle;}
.support .spt_conts .list li a span {font-family: "Avenir LT W01 85 Heavy", arial, sans-serif; font-size:15px; color:#000;}
.support .spt_conts .list li a span:before {display:inline-block; margin-right:10px; font-family:"icomoon"; line-height:1; font-size:33px; vertical-align:middle;}
.support .spt_conts .list li.s01 a span:before {content:"\e90f";}
.support .spt_conts .list li.s02 a span:before {content:"\e915";}
.support .spt_conts .list li.s03 a span:before {content:"\e917";}
.support .spt_conts .list li.s04 a span:before {content:"\e914"}
.support .spt_conts .list li.s05 a span:before {content:"\e912"}
.support .spt_conts .list li.s06 a span:before {content:"\e918"; font-size:42px;}
.support .spt_conts .list li.s07 a span:before {content:"\e91d"}
.support .spt_conts .list li.s08 a span:before {content:""; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1048 1024'%3e%3cpath d='M679.897 856.67l27.196-20.397c23.419-16.997 24.174-24.174 24.174-63.457V580.179c0-35.506-2.266-37.772-24.93-40.794h-26.44v-16.62l142.401-69.501 7.554 4.91v281.024c0 37.772 3.022 45.704 24.174 46.837l27.196 1.889v16.62l-201.325 68.745zm45.704-478.95c1.171-33.982 24.614-62.178 56.131-70.515l.527-.119c34.75-11.709 56.658-2.644 56.658 32.106-1.171 33.982-24.614 62.178-56.131 70.515l-.527.119c-34.75 12.842-56.658 5.666-56.658-32.106zM524.276 288.201L33.995 124.648c-6.888-1.137-12.077-7.048-12.077-14.172 0-7.927 6.426-14.353 14.353-14.353 2.486 0 4.825.632 6.864 1.744l-.075-.038L524.276 258.36l480.838-160.531a13.898 13.898 0 012.277-.182c7.927 0 14.353 6.426 14.353 14.353 0 5.441-3.027 10.175-7.49 12.609l-.075.038z'/%3e%3cpath d='M524.276 231.543L58.169 75.544c-4.537-2.472-7.565-7.206-7.565-12.646 0-7.927 6.426-14.353 14.353-14.353.804 0 1.592.066 2.36.193l-.083-.011 457.042 151.088 457.797-150.71a13.898 13.898 0 012.277-.182c7.927 0 14.353 6.426 14.353 14.353 0 5.441-3.027 10.175-7.49 12.609l-.075.038z'/%3e%3cpath d='M524.276 174.885L82.721 27.574c-5.91-1.904-10.111-7.355-10.111-13.787 0-7.983 6.472-14.455 14.455-14.455 1.551 0 3.045.244 4.446.697L91.409 0l432.868 145.045L956.767 0a13.898 13.898 0 012.277-.182c7.927 0 14.353 6.426 14.353 14.353 0 5.441-3.027 10.175-7.49 12.609l-.075.038z'/%3e%3cpath d='M524.276 1024h-4.533L9.82 853.27c-5.748-1.955-9.811-7.301-9.821-13.597V159.775a13.963 13.963 0 015.998-11.301l.046-.03a14.24 14.24 0 018.284-2.632c1.631 0 3.199.272 4.66.773l-.101-.03 505.39 168.463 505.39-168.463a14.042 14.042 0 014.156-.615c7.878 0 14.273 6.346 14.353 14.205V840.05c-.009 6.297-4.073 11.643-9.72 13.568l-.101.03-509.545 169.596zM28.329 830.985l495.947 165.442 495.569-165.442V179.417L528.808 343.348c-1.353.466-2.911.734-4.533.734s-3.18-.269-4.634-.764l.101.03L28.328 179.417z'/%3e%3cpath d='M446.466 486.882h-4.533L94.808 370.544c-6.888-1.137-12.077-7.048-12.077-14.172 0-7.927 6.426-14.353 14.353-14.353 2.486 0 4.825.632 6.864 1.744l-.075-.038 347.125 115.582c5.236 2.218 8.843 7.315 8.843 13.254 0 7.583-5.881 13.793-13.33 14.317l-.045.003zM446.466 609.263h-4.533L94.808 491.037c-6.888-1.137-12.077-7.048-12.077-14.172 0-7.927 6.426-14.353 14.353-14.353 2.486 0 4.825.632 6.864 1.744l-.075-.038L450.998 579.8c5.236 2.218 8.843 7.315 8.843 13.254 0 7.583-5.881 13.793-13.33 14.317l-.045.003zM446.466 731.644h-4.533L94.808 615.306c-6.888-1.137-12.077-7.048-12.077-14.172 0-7.927 6.426-14.353 14.353-14.353 2.486 0 4.825.632 6.864 1.744l-.075-.038 347.125 115.582c5.236 2.218 8.843 7.315 8.843 13.254 0 7.583-5.881 13.793-13.33 14.317l-.045.003zM446.466 854.026h-4.533L94.808 737.31c-6.888-1.137-12.077-7.048-12.077-14.172 0-7.927 6.426-14.353 14.353-14.353 2.486 0 4.825.632 6.864 1.744l-.075-.038 347.125 115.582c5.236 2.218 8.843 7.315 8.843 13.254 0 7.583-5.881 13.793-13.33 14.317l-.045.003zM524.276 1024c-7.635-.205-13.771-6.341-13.975-13.956V330.128c1.156-6.866 7.057-12.033 14.165-12.033s13.009 5.166 14.153 11.948l.012.084v679.897c-.211 7.763-6.554 13.976-14.348 13.976h-.005z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:auto; height:33px;}
.support .spt_conts .list li.s09 a span:before {content:""; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 27.35'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23231f20%7d%3c/style%3e%3c/defs%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3cg id='Layer_1-2' data-name='Layer 1'%3e%3cpath class='cls-1' d='M19 18.47H0V18a9.46 9.46 0 015.25-8.5 5.69 5.69 0 118.49 0A9.46 9.46 0 0119 18zm-18-1h17a8.46 8.46 0 00-5.3-7.38l-.76-.31.62-.54a4.69 4.69 0 10-6.1 0l.62.54-.76.31A8.46 8.46 0 001 17.47zM.5 20.66h2.42c1.35 0 2.48.43 2.48 2s-1 2-2.41 2H1.94v2.54H.5zm1.44 2.76h1c.51 0 1-.18 1-.78s-.68-.76-1.23-.76h-.77zM6.07 20.66H8.6c1.34 0 2.46.46 2.46 2a1.68 1.68 0 01-1.41 1.79l1.66 2.75H9.58l-1.36-2.62h-.71v2.61H6.07zm1.44 2.7h.85c.53 0 1.21 0 1.21-.73s-.59-.76-1.11-.76h-.95zM15 20.5a3.3 3.3 0 013.52 3.43A3.3 3.3 0 0115 27.35a3.3 3.3 0 01-3.52-3.43A3.3 3.3 0 0115 20.5zm0 5.5a2 2 0 002-2.1 2 2 0 10-4.05 0A2 2 0 0015 26z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:auto; height:33px;}
.support .spt_conts .list li.s10 a span:before {content:"\e920"}
.support .spt_conts .list li.s11 a span:before {content:"\e91a"}

.support_terms {margin:8em 0 0; color:#000; text-align:center;}
.support_terms a {color:#000; font-size:15px; text-decoration:underline;}
.support_terms a:hover {text-decoration:underline;}
.support_terms a:before {content:""; display:inline-block; width:1px; height:14px; margin:0 9px 0 5px; background:#000; vertical-align:middle;}
.support_terms a:first-child:before {display:none;}

@media screen and (max-width: 929px){
	.support .spt_conts .list li a {height:120px;}
	.support .spt_conts .list li a span:before {display:block; width:100%; margin-bottom:10px; text-align:center;}
}

#memberSelect li:nth-child(2),
#loginTab li:nth-child(2) {background:#fff; border-right:0; border-top:0;}
#memberSelect li:nth-child(2) a,
#loginTab li:nth-child(2) a {display:none;}


.terms_page .text-box .inner {width:100%; max-width:750px;}

.float-box.return-info {margin-top:2em;}
.float-box.return-info .left-box {width:60%;}
.float-box.return-info .right-box {width:40%;}
.float-box.return-info .left-box .title_sub1 {padding-top:0;}
.float-box.return-info .left-box .order-stat {padding-left:2em;}
.float-box.return-info .left-box .order-stat li {margin-bottom:20px; color:#000; font-size:15px; font-family: "Avenir LT W01 55 Roman",arial,sans-serif; list-style: disc;}

.care_video {text-align:center; font-size:0;}
.care_video .video-box {display:inline-block; width:45%; margin:0 2.5%;}
.care_video .video-box p {margin:1em 0; color:#000; font-family: "Avenir LT W01 55 Roman", arial, sans-serif; font-size:15px; text-align:left;}
.care_video .video-box .thum {position:relative;}
.care_video .video-box .thum .btn {position:absolute; top:50%; left:50%; background-color:rgba(0,0,0,.7); width:58px; height:58px; 
border-radius:50%; border:2px solid #fff; transform:translate(-50%, -50%);}
.care_video .video-box .thum .btn:before {content:""; position:absolute; top:50%; left:50%; border-style:solid; border-width:12px 0 12px 21px;     border-color: transparent transparent transparent white; transform:translate(-50%, -50%);}

.care_dim {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:999;}
.care_dim .video_layer {position:absolute; top:0; bottom:0; left:0; right:0; width:100%; height:100%; margin:auto; z-index:2; max-width:750px; 
max-height:700px;}
.care_dim .video_layer iframe {display:block; border:0; width:100%; height:100%;}
.care_dim .video_layer .close {position:absolute; top:0; right:-60px; background:#000; width:50px; height:50px; font-size:40px; color:#fff; font-family: "Avenir LT W01 55 Roman", arial, sans-serif; z-index:3; line-height:1;}

@media screen and (max-width: 767px){
	.care_video .video-box {display:block; width:55%; margin:0 auto;}
	.care_dim .video_layer {max-height:none;}
}

.delivery_info {width:60%;}
.delivery_info {padding-left:2em;}
.delivery_info li {margin-bottom:20px; color:#000; font-size:15px; font-family: "Avenir LT W01 55 Roman",arial,sans-serif; list-style: disc;}

.menual-list {margin-top:10px;}
.menual-list li {margin-bottom:20px;}
.menual-list li a {text-decoration:underline;}
.menual-list li a:before {content:""; display:inline-block; background:url("data:image/svg+xml,%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 225 225'%3e%3cpath d='M29.1 1.8c-1.9.9-4.4 3-5.5 4.5-2.1 2.8-2.1 3.5-2.4 105-.2 95.8-.1 102.4 1.5 105.6 1 1.9 3.1 4.4 4.6 5.5 2.8 2.1 3.5 2.1 85.2 2.1s82.4 0 85.2-2.1c1.5-1.1 3.6-3.6 4.5-5.5 1.7-3.2 1.8-9.6 1.8-90.5v-87l-8.7-8c-4.9-4.4-14.6-13.3-21.6-19.7L160.9 0H96.7C37.6 0 32.2.1 29.1 1.8zM151 31.5V49h39v162H35V14h116v17.5z'/%3e%3cpath d='M106 95.5c0 17.9-.3 32.5-.6 32.5s-4.9-3.9-10.3-8.6l-9.6-8.5-4.2 4.8c-2.4 2.6-4.3 5.1-4.3 5.5 0 .8 34.6 31.8 35.5 31.8.9 0 35.5-31 35.5-31.8 0-.4-1.9-2.9-4.2-5.5l-4.3-4.8-9.6 8.5c-5.4 4.7-10 8.6-10.3 8.6-.3 0-.6-14.6-.6-32.5V63h-13v32.5zM56 176v7h113v-14H56v7z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:28px; height:32px; margin-right:10px; vertical-align:middle;}

.return-step_box {padding:130px 0 2em; border-bottom:1px solid #ccc;}
.return-step_box p {color:#000; font-family: "Avenir LT W01 55 Roman",arial,sans-serif; font-size:15px; line-height:1.5;}
.return-step_box .none {display:block; margin-top:4em; color:#000; font-family: "Avenir LT W01 85 Heavy",arial,sans-serif; font-size:15px;}
@media screen and (max-width: 929px){
	.return-step_box {padding-top:40px;}
}

.naming-scheme-banner {display:table; width:100%;}
.naming-scheme-banner .img,
.naming-scheme-banner .text {display:table-cell; vertical-align:middle;}
.naming-scheme-banner .img {width:50%; padding-right:5%;}
.naming-scheme-banner .text {width:45%;}

.naming-scheme-list {margin-top:2em;}
.naming-scheme-list dl {margin-bottom:60px;}
.naming-scheme-list dl:last-child {margin-bottom:0;}
.naming-scheme-list dt {position:relative; margin-bottom:1em; cursor:pointer;}
.naming-scheme-list dt:after {content:"+"; display:none; position:absolute; top:-5px; right:0; font-size:22px; font-family: "Avenir LT W01 85 Heavy", arial, sans-serif; transition:all .2s ease;}
.naming-scheme-list dt strong {display:block; margin-bottom:5px;}
.naming-scheme-list dt span {font-size:15px; transition:all .2s ease;}
.naming-scheme-list dd {display:none; padding-top:40px; border-top:1px solid #ccc;}
.naming-scheme-list dl dd:first-of-type {padding-top:20px; border-top:0;}
.naming-scheme-list dd ul:after {content:""; display:block; clear:both;}
.naming-scheme-list dd li {float:left; width:45%; min-height:84px; margin-bottom:1em;}
.naming-scheme-list dd li:after {content:""; display:block; clear:both;}
.naming-scheme-list dd li img {float:left; width:57px; margin-right:11px; border:1px solid #ccc;}
.naming-scheme-list dd li .text {float:left; width:calc(100% - 70px); padding-right:1em; box-sizing:border-box;}
.naming-scheme-list dl.on dt:after {font-size:28px; transform: rotate(45deg);}
.naming-scheme-list dl.on dt span {font-size:16px;}
.naming-scheme-list dl.on dd {display:block;}


@media screen and (max-width: 929px){
	.naming-scheme-banner {display:block;}
	.naming-scheme-banner .img,
	.naming-scheme-banner .text {display:block; width:100%; max-width:650px;}
	.naming-scheme-banner .text {margin-top:20px;}
	.naming-scheme-list dt:after {display:block;}
	.naming-scheme-list dd li {width:100%; max-width:650px;}
}

.recall-notice {width:100%; max-width:930px; margin:0 auto; padding:1em 0 50px 0;}
.recall-notice > h2 {color:#c00; font: 2em "Avenir LT W01 95 Black", arial, sans-serif; text-decoration:underline; text-align:center;}
.recall-notice .des {margin:1em 0 2em; color:#000; font: 1.5em "Avenir LT W01 95 Black", arial, sans-serif; text-align:center;}
.recall-notice .prd-list {width:100%;}
.recall-notice .prd-list:after {content:""; display:block; clear:both;}
.recall-notice .prd-list li {float:left; width:16.6%; text-align:center; padding-bottom:30px;}
.recall-notice .prd-list li p {font: 14px "Avenir LT W01 85 Heavy", arial, sans-serif; min-height:44px; color:#000; padding:5px 0 0;}
.recall-notice h3 {font: 15px "Avenir LT W01 85 Heavy", arial, sans-serif; color:#000; line-height:1.5; padding:0 0 25px;}
.recall-notice span.img {float:right; margin:0 0 50px 30px;}
.recall-notice p {font: 15px "Avenir LT W01 55 Roman", arial, sans-serif; color:#000; line-height:1.3; padding:0 0 20px;}
.recall-notice .btn_return {margin:50px 0 60px;}
.recall-notice .btn_return a {display:inline-block; background:#900; line-height:100%; color:#fff; border:1px solid #900; text-align:center; text-transform:uppercase; border-radius:0.125em; cursor:pointer; padding:14px 20px; box-sizing:border-box; font: 14px "Avenir LT W01 55 Roman", arial, sans-serif;}
.recall-notice h4 {margin-bottom:30px;}
.recall-notice h4 a {font: 18px "Avenir LT W01 85 Heavy", arial, sans-serif; color:#000; text-decoration:underline;}
.recall-notice .ita i {display:block; margin-bottom:30px; font: 14px "Avenir LT W01 55 Roman", arial, sans-serif; color:#000; font-style:italic;}

.notice-foot {background:#000; padding:1em 0 80px; color:#fff; text-align:center; font: 14px "Avenir LT W01 55 Roman", arial, sans-serif;}
.notice-foot nav a {display:inline-block; position:relative; padding:10px; margin:0 0 10px; color:#fff; font-size:15px;}
.notice-foot nav a:after {content:""; position:absolute; top:13px; left:0; width:1px; height:13px; background:#fff;}
.notice-foot nav a:first-child:after {display:none;}
.notice-foot nav a:hover {text-decoration:underline;}
.notice-foot p {padding-bottom:20px;}
.notice-foot span {display:block; margin-bottom:5px; color:#fff;}
.notice-foot span a {color:#fff;}
.notice-foot .policy {margin-top:20px;}
.notice-foot .policy a {color:#fff;}
@media screen and (max-width: 1023px){
	.notice-foot {width:calc(100% + 20px); margin-left:-10px;}
}
@media screen and (max-width: 668px){
	.recall-notice .prd-list li {width:33.3%;}
}
@media screen and (max-width: 480px){
	.recall-notice .prd-list li {width:50%;}
	.recall-notice span.img {float:none; display:block; width:250px; margin:0 auto 30px;}
}

#ssb_warp:after {content:"\e901"; display:block; font-family: "icomoon"; width:100%; font-size:45px; padding:40px 0 90px; text-align:center; color:#000; line-height:1;}
#ssb_warp .ssb_top_bnr {position:relative; background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_sust_01.jpg) 50% 0 no-repeat; background-size:cover; height:700px;}
#ssb_warp .ssb_top_bnr .inner_box {display:table; position:absolute; top:50%; left:50%; width:100%; max-width:770px; transform:translate(-50%,-50%);}
#ssb_warp .ssb_top_bnr .inner_box .img,
#ssb_warp .ssb_top_bnr .inner_box .text {display:table-cell;}
#ssb_warp .ssb_top_bnr .inner_box .img {width:10%; padding-right:5%; vertical-align:middle;}
#ssb_warp .ssb_top_bnr .inner_box .img:after {content:"\e901"; font-family: "icomoon"; line-height:1; display:inline-block; font-size:100px; color:#fff;}
#ssb_warp .ssb_top_bnr .inner_box .text {padding:0 30px; border-left:1px solid #fff;}
#ssb_warp .ssb_top_bnr .inner_box .text h1 {color:#fff; font-family: "Avenir LT W01 95 Black",arial,sans-serif; margin:0 0 20px 0; font-size:30px; font-weight:bold; line-height:1;}
#ssb_warp .ssb_top_bnr .inner_box .text p {margin-bottom:1.5em; color:#fff; font-size:15px; font-family: "Avenir LT W01 65 Medium",arial,sans-serif;}
#ssb_warp .text-box {width:90%; max-width:1000px; margin:65px auto;}
#ssb_warp .text-box strong {display:block; color:#000; font-size:16px; font-family: "Avenir LT W01 85 Heavy",arial,sans-serif; margin:10px 0;}
#ssb_warp .text-box p {margin-bottom:30px; font-family: "Avenir LT W01 55 Roman",arial,sans-serif; color:#000; line-height:1.5; margin:0 0 1.5em; max-width:650px; font-size:15px;}
#ssb_warp .text-box.center p {margin:0 auto 30px; text-align:center;}
#ssb_warp .img-box {text-align:center;}
#ssb_warp .img-box img {display:inline-block; width:30%; max-width:290px; margin:0 1.5% 20px;}
#ssb_warp .ssb_bnr {position:relative; height:700px; margin-top:60px;}
#ssb_warp .ssb_bnr .inner_box {position:absolute; bottom:0; left:0; background-color: rgba(0,0,0,0.6); width:100%;}
#ssb_warp .ssb_bnr .inner_box p {font-weight:bold; font-family:"Avenir LT W01 95 Black",arial,sans-serif; font-size:30px; line-height:1; color:#fff; width:100%; max-width:1000px; margin:0 auto; padding:50px 15px 20px;}
#ssb_warp .ssb_bnr.bnr2 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_sust_05.jpg) 50% 0 no-repeat; background-size:cover;}
#ssb_warp .ssb_bnr.bnr3 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_sust_06.jpg) 50% 0 no-repeat; background-size:cover;}
#ssb_warp .ssb_bnr.bnr4 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_sust_07.jpg) 50% 0 no-repeat; background-size:cover;}
#ssb_warp .ssb_bnr.bnr5 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_sust_08.jpg) 50% 0 no-repeat; background-size:cover;}
#ssb_warp .faq-list {width:90%; max-width:1000px; margin:0 auto;}
#ssb_warp .faq-list dl {margin-top:15px; padding:1em 0; border-bottom:1px solid #ccc;}
#ssb_warp .faq-list dl dt a {display:block; position:relative; padding-right:20px; color:#000; font-size:16px; font-family:"Avenir LT W01 85 Heavy", arial, sans-serif; line-height:1.5; transition:all .2s ease;}
#ssb_warp .faq-list dl dt a:after {content:"+"; position:absolute; top:-5px; right:0; font-size:22px; transition:all .2s ease;}
#ssb_warp .faq-list dl dd {display:none; padding:20px 0 30px; font-family: "Avenir LT W01 55 Roman",arial,sans-serif;}
#ssb_warp .faq-list dl dd p {max-width:650px; color:#000; font-size:15px; line-height:1.5;}
#ssb_warp .faq-list dl.on dt a:after {font-size:28px; transform: rotate(45deg);}
#ssb_warp .faq-list dl.on dd {display:block;}
.grid-box-col2 {-webkit-column-count: 2; column-count: 2; -webkit-column-gap: 21px; column-gap: 21px;}
.grid-box-col2 p {margin-bottom:25px; color:#000;}


@media screen and (max-width: 1023px){
	#ssb_warp {width:calc(100% + 20px); margin-left:-10px;}
}
@media screen and (max-width: 929px){
	.faq-list {padding-right:0;}
}
@media screen and (max-width: 768px){
	#ssb_warp .ssb_bnr,
	#ssb_warp .ssb_top_bnr {height:300px;}
	#ssb_warp .ssb_top_bnr .inner_box {display:block; top:auto; bottom:0; left:0; transform:translate(0,0);}
	#ssb_warp .ssb_top_bnr .inner_box .img, #ssb_warp .ssb_top_bnr .inner_box .text {display:block;}
	#ssb_warp .ssb_top_bnr .inner_box .img {display:none;}
	#ssb_warp .ssb_top_bnr .inner_box .text {border:0; text-align:center;}
	#ssb_warp .ssb_top_bnr .inner_box .text h1 {font-size:22px;}
	#ssb_warp .ssb_top_bnr .inner_box .text p {display:none;}
	#ssb_warp .img-box img {width:320px;}
	.grid-box-col2 {-webkit-column-count:1; column-count:1;}
}

#pro_wrap .visual {position:relative; background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_pro_01.jpg) 50% 0 no-repeat; background-size:cover; height:600px;}
#pro_wrap .visual .inner {position:relative; width:100%; max-width:1100px; margin:0 auto; padding:50px 20px 0; height:100%; box-sizing:border-box;}
#pro_wrap .visual .inner h1 {position:relative; margin:0 0 1em 0; color:#000; font-family: "Avenir LT W01 95 Black",arial,sans-serif; font-size:36px; line-height:1em; font-weight:bold; z-index:5;}
#pro_wrap .visual .inner .sub {position:relative; z-index:5;}
#pro_wrap .visual .inner p {margin-bottom:25px; max-width:650px; font-family: "Avenir LT W01 65 Medium",arial,sans-serif; color:#000; 
font-size:15px; line-height:1.5;}
#pro_wrap .visual .inner p a {text-decoration:underline; color:#000;}
#pro_wrap .visual .inner .btn {margin-top:1em;}
#pro_wrap .visual .inner .btn a {display:inline-block; background:#000; min-width:142px; max-width:400px; height:42px; color:#000; font-family: "Avenir LT W01 65 Medium",arial,sans-serif; color:#fff; margin:0 0 1.5em 0; line-height:42px; text-align:center;}
#pro_wrap .visual .inner .btn a:hover {background-image: linear-gradient(#373737, #000);}
#pro_wrap .visual .inner img {position:absolute; top:50%; right:0; max-width:400px; height:auto; margin-right:-10px;}
#pro_wrap .pro_body {max-width:1100px; margin:40px auto; padding:0 20px;}
#pro_wrap .video-box {display:inline-block; width:100%; max-width:550px; margin-bottom:3em;}
#pro_wrap .video-box .thum {position:relative;}
#pro_wrap .video-box .thum .btn {position:absolute; top:50%; left:50%; background-color:rgba(0,0,0,.7); width:58px; height:58px; 
border-radius:50%; border:2px solid #fff; transform:translate(-50%, -50%);}
#pro_wrap .video-box .thum .btn:before {content:""; position:absolute; top:50%; left:50%; border-style:solid; border-width:12px 0 12px 21px;     border-color: transparent transparent transparent white; transform:translate(-50%, -50%);}
#pro_wrap .pro_body > * {max-width:670px;}
#pro_wrap .pro_body h2 {color:#000; font-family: "Avenir LT W01 85 Heavy",arial,sans-serif; margin:2em 0 1em 0;font-size:22px;}
#pro_wrap .pro_body h2:first-of-type {margin-top:0;}
#pro_wrap .pro_body > p {margin-bottom:25px; color:#000; font-family: "Avenir LT W01 55 Roman",arial,sans-serif; font-size:15px; line-height:1.5;}
#pro_wrap .pro_body > p a {text-decoration:underline; color:#000;}
#pro_wrap .pro_body ul {margin:0 0 1.5em 2em;}
#pro_wrap .pro_body ul li {list-style-type:initial; font-size:15px; line-height:1.5; color:#000; font-family: "Avenir LT W01 55 Roman",arial,sans-serif;}
#pro_wrap .pro_body .cta-button {display:inline-block; background:#000; min-width:142px; max-width:400px; height:42px; padding:0 20px; color:#000; font-family: "Avenir LT W01 65 Medium",arial,sans-serif; color:#fff; margin:0 0 1.5em 0; line-height:42px; text-align:center;}
#pro_wrap .pro_body .cta-button:hover {background-image: linear-gradient(#373737, #000);}
#pro_wrap .care_dim.pro .video_layer {max-width:948px;}
.policies_dim {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:999;}
.policies_dim .conts {position:absolute; top:0; bottom:0; left:0; right:0; background:#fff; width:100%; height:100%; margin:auto; z-index:2;   max-width:750px; max-height:700px;}
.policies_dim .conts .innr {overflow-x:hidden; overflow-y:scroll; max-width:750px; max-height:700px; box-sizing:border-box; padding:1%;}
.policies_dim .conts .innr > * {max-width:940px; font-family: "Avenir LT W01 55 Roman",arial,sans-serif;}
.policies_dim .conts h2 {color:#000; font-size:22px; line-height:1.5; width:90%; font-family: "Avenir LT W01 85 Heavy",arial,sans-serif; font-weight:bold;}
.policies_dim .conts p {color:#000; font-size:15px; line-height:1.5; margin-bottom:10px;}
.policies_dim .conts ul {margin-left:2em;}
.policies_dim .conts ul li {list-style-type: initial; margin-bottom:10px; font-size:15px; line-height:1.5; color:#000; }
.policies_dim .conts p a,
.policies_dim .conts ul li a {color:#000; text-decoration:underline;}
.policies_dim .conts .close {position:absolute; top:0; right:-60px; background:#000; width:50px; height:50px; font-size:40px; color:#fff; font-family: "Avenir LT W01 55 Roman", arial, sans-serif; z-index:3; line-height:1;}

@media screen and (max-width: 1023px){
	#pro_wrap {width:calc(100% + 20px); margin-left:-10px;}
}
@media screen and (max-width: 1064px){
	#pro_wrap .visual .inner img {top:5%;}
}
@media screen and (max-width: 768px){
	#pro_wrap .visual {height:400px;}
	#pro_wrap .visual .inner h1 {font-size:29px;}
	#pro_wrap .visual .inner img {top:9%; max-width:200px; right:-50px;}
	#pro_wrap .visual .inner .sub {display:none;}
	.policies_dim .conts {max-height:none;}
}

#gift_card {width:100%; max-width:930px; margin:0 auto; padding:30px 0 0; font-family: "Avenir LT W01 55 Roman",arial,sans-serif; color:#000; font-size:13px; box-sizing:border-box;}
#gift_card h1 {font-size:29px; line-height:1.5; margin:0 0 1em 0;}
#gift_card .bnr {position:relative; height:455px; margin:0 auto; background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_giftCard.jpg) 0 0 no-repeat; background-size:cover; text-align:center;}
#gift_card .bnr .box {display:inline-block; background:#000; max-width:360px; margin:130px 0 0 0; color:#fff; padding:0 0 30px 0;}
#gift_card .bnr .box h1 {color:#fff; font-size:29px; line-height:1.5; margin:16px 0 0 0;}
#gift_card .bnr .box p {margin:8px 8px 22px 8px; font-size:12px; line-height:1.2;}
#gift_card .bnr .box a {display:inline-block;margin:10px 10px 0 10px; padding:6px 10px; border:1px solid #fff; color:#fff; text-transform:uppercase; font-family:"Avenir LT W01 55 Roman", arial, sans-serif; font-size:16px; text-decoration:none;}
#gift_card .bnr .box a:hover {text-decoration:underline;}

#check-balance {position:relative; padding:60px 0 0 0; text-align:center;}
#check-balance h2 {font-size:18px; line-height: 1.4;}
#check-balance p {font-size:15px; padding:14px 0; line-height:1.5;}
#check-balance p a:hover {text-decoration:underline;}
#check-balance input[type="text"] {background:#fff; padding:10px 20px; font-size:16px; border:1px solid #bbb; font-family:"Avenir LT W01 55 Roman", arial, sans-serif; font-size:14px;}
#check-balance input[type="text"].inp_num {width:180px; margin:0 0 20px 0;}
#check-balance input[type="text"].inp_pin {width:100px; margin:0 0 20px 0;}
#check-balance .submit {display:block; background:#000; margin:0 auto; padding:10px 24px 12px 24px; border:none; color:#fff; font-size:16px; cursor:pointer; font-family:arial;}

#gift_card .terms-contact {margin:100px auto 0 auto; text-align:center;}
#gift_card .terms-contact > a {color:#000; font-size:15px; display:inline-block; font-family:"Avenir LT W01 85 Heavy", arial, sans-serif;}
#gift_card .terms-contact > a:first-child {padding-right:100px;}
#gift_card .terms-contact a {text-decoration:underline;}
#gift_card .terms-contact p {padding:40px 0 0 0; font-style:italic; font-size:12px; line-height:1.5; margin:0 0 1.5em 0; max-width:650px; text-align:left;}
@media screen and (max-width:450px){
	#gift_card .terms-contact > a:first-child {padding-right:20px;}
}

#careers {font-family: "Avenir LT W01 55 Roman",arial,sans-serif; color:#000; font-size:13px;}
#careers:after {content:"\e901"; display:block; font-family: "icomoon"; width:100%; font-size:45px; padding:0 0 90px; text-align:center; color:#000; line-height:1;}
#careers .top_bnr {display:-webkit-box; display:-ms-flexbox; display:flex; position:relative; width:100%; height:700px; overflow:hidden;}
#careers .top_bnr video {position:absolute; top:0; background-size:cover; background-image:url(//images.arcteryx.com/careers/f17/video/careers.jpg); background-position:center; width:auto; min-width:100vw; height:auto; min-height:100vh; object-fit:cover;}
#careers .top_bnr .inner_box {display:table; position:absolute; top:50%; left:50%; width:100%; max-width:770px; transform:translate(-50%,-50%);}
#careers .top_bnr .inner_box .img,
#careers .top_bnr .inner_box .text {display:table-cell;}
#careers .top_bnr .inner_box .img {width:10%; padding-right:5%; vertical-align:middle;}
#careers .top_bnr .inner_box .img:after {content:"\e901"; font-family: "icomoon"; line-height:1; display:inline-block; font-size:146px; color:#fff;}
#careers .top_bnr .inner_box .text {padding:0 30px; border-left:1px solid #fff;}
#careers .top_bnr .inner_box .text h1 {color:#fff; font-family: "Avenir LT W01 95 Black",arial,sans-serif; margin:0 0 20px 0; font-size:30px; font-weight:bold; line-height:1;}
#careers .top_bnr .inner_box .text p {margin-bottom:1.5em; color:#fff; font-size:15px; font-family: "Avenir LT W01 65 Medium",arial,sans-serif;}
#careers .top_bnr .inner_box .text .btn-white {display:inline-block; background:#fff; min-width:130px; margin:7px 0 14px 0; padding:9px 16px 9px 15px; border:1px solid white; color:#000; text-align:center; text-shadow:none !important; text-transform:uppercase; font:16px / 16px "Avenir LT W01 65 Medium", arial, sans-serif; cursor:pointer; outline:none; transition:background-color 0.5s ease; -webkit-transition:background-color 0.5s ease; box-sizing:border-box;}
#careers .mobiledesc {display:none; margin:40px 20px;}
#careers .mobiledesc p {margin:0 0 1.5em 0; max-width:650px; line-height:1.5; font-size:15px; font-family: "Avenir LT W01 55 Roman",arial,sans-serif; color:#000;}
#careers .mobiledesc .feature-button {display:inline-block; background:rgba(0,0,0,0.75); margin:7px 0 14px 0; padding:9px 16px 9px 15px; border:1px solid white; color:white; text-shadow:none !important;text-transform:uppercase; font:16px / 16px "Avenir LT W01 65 Medium", arial, sans-serif; cursor:pointer; outline:none; transition:background-color 0.5s ease; -webkit-transition:background-color 0.5s ease;}

.arcteryx-values { max-width:930px; margin:0 auto; padding: 60px 20px 40px 20px;}
.arcteryx-values:after {content:""; display:block; clear:both;}
.arcteryx-values p {line-height:24px; font-size:16px !important; }
.arcteryx-values .values-left {float:left; width:80%; padding-right:150px; box-sizing:border-box;}
.arcteryx-values .values-left h2 {margin-bottom:10px;}
.arcteryx-values .values-right {float:right; width:20%;}
.arcteryx-values .values-right h2 {display:block; margin-top:15px; margin-bottom:15px; font-size:16px; font-weight:bold; font-family: "Avenir LT W01 95 Black",arial,sans-serif;}
#careers .slick-slide {outline:none;}
#careers .slick-slide .img {height:700px;}
#careers .slick-slide .text {padding-top:30px; text-align:center;}
#careers .slick-slide .text strong {font-family: "Avenir LT W01 85 Heavy",arial,sans-serif; font-weight:bold; font-size:24px;}
#careers .slick-slide .text p {max-width:650px; margin:0 auto 1.5em; font-size:15px;}
#careers .slick-dots {bottom:0;}
#careers .slick-dots li button {width:10px; height:10px; border:2px solid #000; border-radius:50%; opacity:1;}

.about-container {position:relative; margin:auto; max-width:1250px; padding:60px 0 20px;}
.about-container .who {position:absolute; top:50%; left:50%; background-size:266px auto; background-color:#fff; background-image:url(/data/skin/responsive_multishop_flexible_gl/images/arc/who-we-are-en.svg); background-position:center center; background-repeat:no-repeat; width:450px; height:450px; margin-top:-225px; margin-left:-225px; border-radius:50%; color:#000; z-index:10;}
.about-container h2 {font-size:22px; margin-bottom:20px; text-align:center;}
.about-container .about:after {content:""; display:block; clear:both;}
.about-container .about .half {float:left; position:relative; width:48%; margin-bottom:4%; padding-bottom:30.6%;}
.about-container .about .half:nth-child(even) {float:right;}
.about-container .about .half.v01 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_careers_04.jpg) 0 0 no-repeat; background-size:cover;}
.about-container .about .half.v02 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_careers_05.jpg) 0 0 no-repeat; background-size:cover;}
.about-container .about .half.v03 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_careers_06.jpg) 0 0 no-repeat; background-size:cover;}
.about-container .about .half.v04 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_careers_07.jpg) 0 0 no-repeat; background-size:cover;}
.about-container .about .half .box a {position:absolute; top:0; bottom:0; left:0; right:0; padding-top:19%; box-sizing:border-box; z-index:10;}

.about-container .about .half .box a p {width:100%; font-size:1px; line-height:1; margin-bottom:1em; font-family: "Motorway W01 Bold", arial, sans-serif; font-weight:bold; color:#fff; font-size:21px; text-align:Center;}
.about-container .about .half .overlay {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.45); z-index:5;}
.about-container .about .half .playBtn {display:block; position:relative; background-color:rgba(0,0,0,0.7); width:58px; height:58px; margin:10px auto 20px auto; border:2px solid white; border-radius:100%; box-sizing:border-box; box-shadow:0 0 15px rgba(0,0,0,0.6); transition:background-color 0.5s ease; -webkit-transition:background-color 0.5s ease; -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6); -webkit-box-sizing:border-box; }
.about-container .about .half .playBtn:after {content:""; display:block; position:absolute; top:15px; left:20px; margin:0 auto; border-color:transparent transparent transparent #fff;
border-style:solid; border-width:12px 0 12px 21px; }

#careers .characters {max-width:1250px; margin:0 auto; padding:60px 20px;}
#careers .characters h2 {font-size:22px; width:100%; margin-bottom:20px; font-weight:bold;}
#careers .characters p {font-family: "Avenir LT W01 55 Roman",arial,sans-serif; color:#000; font-size:15px; margin-bottom:1.5em;}
#careers .characters .wrap {display:-webkit-box; display:-webkit-flex; display:flex; justify-content:space-between;}
#careers .characters .wrap > div {-webkit-flex:0 1 32%; flex:0 1 32%; font-family: "Avenir LT W01 55 Roman",arial,sans-serif; color:#000;}
#careers .characters .wrap > div h3 {font-size:18px; margin:10px 0; font-weight:bold; color:#000;}
#careers .characters .wrap > div a {text-decoration:underline;}
#careers .characters .wrap .box {height:250px;}
#careers .characters .wrap .box-1 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_careers_11.jpg) 0 0 no-repeat; background-size:cover;}
#careers .characters .wrap .box-2 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_careers_12.jpg) 0 0 no-repeat; background-size:cover;}
#careers .characters .wrap .box-3 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_careers_13.jpg) 0 0 no-repeat; background-size:cover;}

#careers .jobs {max-width:1250px; margin:60px auto; padding:0 20px; box-sizing:border-box;}
#careers .jobs h2 {font-family: "Avenir LT W01 95 Black",arial,sans-serif; font-weight:bold; font-size:22px; margin-bottom:20px; margin:0 0 1em 0;}
#careers .jobs h2 + p {font-family: "Avenir LT W01 55 Roman",arial,sans-serif; color:#000; font-size:15px; max-width:650px; margin-bottom:1.5em;}
#careers .jobs .box-wrap {display:-webkit-box; display:-webkit-flex; display:flex; justify-content:space-between;}
#careers .jobs .box-wrap a {-webkit-flex:0 1 49%; flex:0 1 49%; padding-bottom:37.1%; position:relative;}
#careers .jobs .box-wrap a.one {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_careers_14.jpeg) 0 0 no-repeat; background-size:cover;}
#careers .jobs .box-wrap a.two {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_careers_15.jpeg) 0 0 no-repeat; background-size:cover;}
#careers .jobs .box-wrap h2 {position:absolute; top:50%; left:0; right:0; color:#fff; transform:translateY(-50%); text-align:center; max-width:400px; margin:0 auto; line-height:1;}
@media screen and (max-width: 1230px){
	.about-container .who {width:300px; height:300px; margin:-150px 0 0 -150px; background-size:232px;}
}
@media screen and (max-width: 1023px){
	#careers {width:calc(100% + 20px); margin-left:-10px;}
}
@media screen and (max-width:768px){
	#careers .top_bnr {height:400px;}
	#careers .top_bnr .inner_box {}
	#careers .top_bnr .inner_box {display:block; top:auto; bottom:1em; left:0; transform:translate(0,0);}
	#careers .top_bnr .inner_box .img, #careers .top_bnr .inner_box .text {display:block;}
	#careers .top_bnr .inner_box .img {display:none;}
	#careers .top_bnr .inner_box .text {border:0; text-align:center;}
	#careers .top_bnr .inner_box .text h1 {font-size:30px; text-align:left; max-width:180px;}
	#careers .top_bnr .inner_box .text p, #careers .top_bnr .inner_box .text .btn-white {display:none;}
	#careers .mobiledesc {display:block;}
	.arcteryx-values {padding:20px;}
	.arcteryx-values .values-left {width:100%;}
	.arcteryx-values .values-right {width:100%;}
	.arcteryx-values .values-right h2 {display:inline-block; width:25%;}
	#careers .slick-slide .img {height:450px;}
	.about-container .who {display:none;}
	.about-container .about .half {float:none; width:90%; margin:0 auto 1em; height:300px; padding:0;}
	.about-container .about .half:nth-child(even) {float:none;}
	.about-container .about .half .box a {padding:100px 0 0 0;}
	#careers .characters {padding-bottom:0;}
	#careers .characters .wrap {display:block;}
	#careers .characters .wrap > div {margin-bottom:2em;}
	#careers .jobs .box-wrap {display:block;}
	#careers .jobs .box-wrap a {display:block; margin-bottom:2em; padding:0; height:300px;}
}

#newsRoom .news_sliders {padding-bottom:30px;}
#newsRoom .news_sliders .slick-slide {position:relative; height:350px; outline:none;}
#newsRoom .news_sliders .slick-slide .box {position:absolute; bottom:20px; left:20%; right:20%; background:rgba(255,255,255,.85); font-family: "Avenir Lt Std 65 Medium"; font-size:30px; color:#000; border-radius:4px; z-index:10; text-align:center; padding:20px;}
#newsRoom .news_sliders .slick-slide .box .date {margin-bottom:10px; font-family: "Avenir Lt Std 35 Light"; font-size:14px; color:#666;}
#newsRoom .news_sliders .slick-slide .box h3 {line-height:1;}
#newsRoom .news_sliders .slick-slide .box h3 a {font-size:30px; font-family:"Avenir Lt Std 65 Medium"; color:#000;}
#newsRoom .news_sliders .slick-slide .box h3 a:hover {text-decoration:underline;}
#newsRoom .news_sliders .sl01 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_carousel_01.jpg) 0 0 no-repeat; background-size:100% auto;}
#newsRoom .news_sliders .sl02 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_carousel_01.jpg) 0 0 no-repeat; background-size:100% auto;}
#newsRoom .news_sliders .sl03 {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_carousel_03.jpg) 0 0 no-repeat; background-size:100% auto;}
#newsRoom .news_sliders .slick-dots {bottom:0;}
#newsRoom .news_sliders .slick-dots li button {width:15px; height:15px; border:2px solid #000; border-radius:50%; opacity:1;}
#newsRoom .slick-slider .slick-arrow,
#newsRoom .slick-slider:hover .slick-arrow {opacity:.8; transform:translateX(0);}
#newsRoom .slick-slider .slick-arrow:hover {opacity:1;}
#newsRoom .slick-next {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 28'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M0 6l6-6 14 14L6 28l-6-6 9-8-9-8z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:20px; height:28px;}
#newsRoom .slick-prev {background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 28'%3e%3cpath fill-rule='evenodd' fill='%23FFF' d='M20 22l-6 6L0 14 14 0l6 6-9 8 9 8z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:20px; height:28px;}

#newsRoom .news_wrap {max-width:1170px; padding:0 15px; margin:50px auto 0;}
#newsRoom .news_wrap h2 {font-family: "Avenir Lt Std 55 Heavy"; color:#000; font-weight:bold; font-size:30px; margin-bottom:30px; text-align:center;}
#newsRoom .news_wrap .wrap {display:-webkit-box; display:-webkit-flex; display:flex; justify-content:space-between;}
#newsRoom .news_wrap .wrap > div {-webkit-flex:0 1 32%; flex:0 1 32%;}
#newsRoom .news_wrap .wrap > div:before {content:""; display:block; width:100%; margin-bottom:1em; padding-bottom:75%;}
#newsRoom .news_wrap .wrap > div .data {font-family: "Avenir Lt Std 35 Light"; color:#666; font-size:12px;}
#newsRoom .news_wrap .wrap > div .text {display:block; margin:.5em 0 5px; color:#000; font-size:18px;}
#newsRoom .news_wrap .wrap > div .text:hover {text-decoration:underline;}
#newsRoom .news_wrap .wrap > div .link {display:inline-block; background:#000; width:130px; height:40px; text-align:center; line-height:40px; color:#fff; font-size:15px;}
#newsRoom .news_wrap .wrap > div.b01:before {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_carousel_04.jpg) 0 0 no-repeat; background-size:cover;}
#newsRoom .news_wrap .wrap > div.b02:before {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_carousel_05.jpg) 0 0 no-repeat; background-size:cover;}
#newsRoom .news_wrap .wrap > div.b03:before {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/img_carousel_06.jpg) 0 0 no-repeat; background-size:cover;}
#newsRoom .social_warp {max-width:750px; margin:15px auto 0; padding:0 15px;}
#newsRoom .social_warp h2 {font-family: "Avenir Lt Std 55 Heavy"; color:#000; font-size:30px; margin-top:20px; margin-bottom:10px; 
text-align:center; font-weight:bold;}
#newsRoom .social_warp .tab {background:#F2F2F2; padding:1em 0;}
#newsRoom .social_warp .tab:after {content:""; display:block; clear:both;}
#newsRoom .social_warp .tab a {float:left; position:relative; background:#c4beb6; height:58px; border-left:1px solid #fff; box-sizing:border-box; width:25%; font:0/0 a;}
#newsRoom .social_warp .tab a:first-child {border-left:0;}
#newsRoom .social_warp .tab a:after {content:""; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;}
#newsRoom .social_warp .tab .fb:after {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/ico_sns_01.png) 0 0 no-repeat; width:25px; height:30px;}
#newsRoom .social_warp .tab .tw:after {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/ico_sns_02.png) 0 0 no-repeat; width:13px; height:30px;}
#newsRoom .social_warp .tab .yb:after {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/ico_sns_03.png) 0 0 no-repeat; width:30px; height:30px;}
#newsRoom .social_warp .tab .int:after {background:url(/data/skin/responsive_multishop_flexible_gl/images/arc/ico_sns_04.png) 0 0 no-repeat; width:33px; height:27px;}
#newsRoom .social_warp .tab a.on,
#newsRoom .social_warp .tab a:hover {background:#6F7170;}
#newsRoom .social_warp .cont_box {background:#F2F2F2; height:515px;}
#newsRoom .social_warp .cont_box > div {display:none;}
#newsRoom .social_warp .cont_box > div.fb_conts {display:block;}
@media screen and (max-width: 1023px){
	#newsRoom {width:calc(100% + 20px); margin-left:-10px;}
}
@media screen and (max-width: 768px){
	#newsRoom .news_sliders {display:none;}
	#newsRoom .news_wrap .wrap {display:block; padding:0 25px;}
	#newsRoom .news_wrap .wrap > div  {margin-bottom:2em;}
}