@charset "utf-8";

html, body, div, span,  iframe, h1, h2, h3, h4, h5, h6, p, a, address, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, hgroup, menu, nav, section, summary, video {margin:0; padding:0; border:0; font-size:100%; vertical-align:middle;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {font-size:12px; line-height:1.2; font-family:dotum;}
ol, ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
a {color:inherit; font-family:inherit; text-decoration:none; font-weight:normal;
	&:active, &:visited, &:hover{text-decoration:none; outline:none;}
}
button {background:none; border:0 none; color:inherit; font-size:inherit; outline:none; cursor:pointer;}
img {max-width:100%;}
fieldset {border:0 none !important;}
input[type="text"]::-webkit-input-placeholder {color:#e1e1e1;}
input[type="text"]::-webkit-input-placeholder {color:#e1e1e1;}
input[type="number"]:-ms-input-placeholder {color:#e1e1e1;}
input[type="number"]:-ms-input-placeholder {color:#e1e1e1;}
a {outline:none;}

// Common Module Extend
$imgDir: 'img/';
%clearfix {&:after {content:""; display:block; clear:both;}}
%action {transition: all 1s ease-in-out;}
@function cal($target, $container) {
	@return ($target / $container) * 100%;
}
html {font-size:3.125vw;}
* {outline:none;}
#pbm-wrap {position:relative;
	> div {position:relative;
		> img {width:100%;}
		.btn {position:absolute; font:0/0 a;}
	}
}

.btn-share {position:absolute; top:0; right:0; width:cal(250,640); height:cal(76,1766); font:0/0 a;}
.layer-wrap.share .conts .sns {
	&:after {content:""; display:block; clear:both;}
	a {float:left; width:42px; height:42px; margin-left:10px;}
}
.layer-wrap.share .conts p {margin:22px 0 15px; color:#555; font-size:14px; text-align:center;}
.layer-wrap.share .conts .btn {margin-top:0;}
.layer-wrap.share .conts .btn a {display:block; margin:0 auto;}
.layer-wrap.share .conts .btn a img {width:224px; height:auto;}

.dist_0102 .btn {bottom:cal(89,1126); left:cal(129,640); width:cal(377,640); height:cal(78,1126);}
.dist_0103 .btn {bottom:cal(90,1025); left:cal(129,640); width:cal(377,640); height:cal(78,1025);}
.dist_0203 {padding:10px 30px 0;
	.inp {margin-bottom:5px;}

	dl {margin-top:15px; padding-top:15px; border-top:2px dotted #eee;
		&:after {content:""; display:block; clear:both;}
		.chk-box {float:left;}
		dt a {float:right; color:#007f41;}
	}
	.btn {position:static !important; margin-top:15px; padding-top:15px; border-top:2px dotted #eee; text-align:center;
		img {width:185px; height:38px;}
	}
}

.terms1 {
	.terms-conts {padding-left:0; line-height:1.4;
		ol li {color:#8b8b8b;}
	}
}
.terms2 {
	.terms-conts {padding-left:0; line-height:1.4;
		li {color:#8b8b8b;}
	}
}
.dist_0202 {
	iframe {position:absolute; bottom:cal(254,907); left:cal(121,640); width:cal(395,640); height:cal(246,907);}
	.btn-sns a {position:absolute; bottom:cal(109,907); width:cal(71,640); height:cal(71,907); font:0/0 a;
		&.sns_01 {left:cal(108,640);}
		&.sns_02 {left:cal(194,640);}
		&.sns_03 {left:cal(280,640);}
		&.sns_04 {left:cal(366,640);}
		&.sns_05 {left:cal(452,640);}
	}
}
.dist_0104 .btn {display:block; position:static !important; margin-bottom:45px;}

.chk-box {position:relative;}
.chk-box span {position:absolute; top:0; left:0; background:#fff; width:14px; height:14px; border:1px solid #ccc; z-index:1;}
.chk-box span i {position:absolute; bottom:3px; left:0; width:13px; height:16px; transition:all .2s ease; opacity:0;}
.chk-box span input[type=checkbox] {position:absolute; top:0; left:0; width:14px; height:14px; margin:0; padding:0; opacity:0;}
.chk-box span input[type=checkbox]:checked + i {background:url(img/ico_chk.png) 0 0 no-repeat; background-size:13px 16px; opacity:1;}
.chk-box label {display:inline-block; position:relative; padding-left:23px; color:#555; font-size:13px; cursor:pointer; line-height:1.2; z-index:2; letter-spacing:-1px;}

.inp input[type=text] {width:100%; height:30px; padding-left:10px; box-sizing:border-box; border:1px solid #ccc; color:#555; line-height:30px; font-size:12px;}
.layer-wrap {display:none; position:absolute; top:0; left:0; width:100%; z-index:10;}
.layer-wrap:after {content:""; position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(0,0,0,.6); z-index:15;}
.layer-wrap .layer-conts {position:absolute; top:0; left:50%; background:#fff; width:290px; margin-left:-145px; z-index:16;}

.layer-wrap .head {background:url(img/bg_layer.gif) 0 0 repeat-x; background-size:cover; height:50px;}
.layer-wrap .head h2 {height:50px; padding-left:15px; color:#fff; font-size:19px; line-height:50px;}
.layer-wrap .close {position:absolute; top:16px; right:15px; width:18px; height:18px;}
.layer-wrap .conts {padding:20px 15px 30px;}
.layer-wrap .conts .inp.name {margin-bottom:5px;}
.layer-wrap .conts dl {margin-top:20px; padding-top:20px; border-top:2px dotted #eee;}
.layer-wrap .conts dl dt:after {content:""; display:block; clear:both;}
.layer-wrap .conts dl dt .chk-box {font-size:11px;}
.layer-wrap .conts dl dt > a {float:right; margin-top:3px; padding:5px 0; color:#007f41; font-size:11px;}
.layer-wrap .conts dl dd {display:none; overflow:auto; height:69px; margin-top:5px; padding:15px; border:1px solid #ccc; box-sizing:border-box; color:#555; line-height:1.3; font-size:12px; letter-spacing:-1px;}
.layer-wrap .conts dl dd.on {display:block;}
.layer-wrap .conts .btn {margin-top:25px; text-align:center;}
.layer-wrap .conts .btn img {width:205px; height:38px;}

.terms-conts {padding-left:20px; color:#555; line-height:1.3; font-size:11px; letter-spacing:-1px;}
.terms-conts ul {color:#8b8b8b;}
.terms-conts ul li {padding-left:10px; text-indent:-10px;}
.terms-conts ol {background:#fafafa; margin-top:10px; padding:15px 5px; font-size:11px;}
.terms-conts ol li {padding-left:10px; text-indent:-10px;}

.pbm_06 {background:url(img/img_ev06.jpg) 0 0 repeat-y; background-size:cover; padding:0 20px;
	.inp {margin-bottom:5px;}

	.sex_wrap {margin-bottom:5px;
		&:after {content:""; display:block; clear:both;}
		a {float:right; background:#fafafa; width:calc(50% - 2px); height:30px; border:1px solid #ccc; box-sizing:border-box; color:#ccc; line-height:30px; text-align:center; font-size:12px; line-height:30px;
			&:first-child {float:left; margin-right:4px;}
			&.on {background:#d7d7d7; color:#555;}
		}
	}

	select {display:block; width:100%; height:30px; padding-left:10px; border:1px solid #ccc; color:#8b8b8b; font-size:12px;
		&:first-of-type {margin-bottom:5px;}
	}

	dl {margin-top:15px;
		&:after {content:""; display:block; clear:both;}
		.chk-box {float:left;}
		dt a {float:right; color:#ed1f27;}
	}
	.btn {position:static !important; margin-top:15px; padding-top:15px; border-top:2px dotted #eee; text-align:center;
		&:after {content:""; display:block; clear:both;}
		a {display:inline-block; font:0/0 a;
			&:first-child {margin-right:10px;}
		}
		img {height:39px;}
	}
}
.pbm_07 {position:relative;
	.btn_apply {position:absolute; top:cal(79,461); left:cal(40,640); height:cal(118,461); width:cal(547,640); font:0/0 a;}
}

.terms1 {
	.terms-conts {padding-left:0; line-height:1.4;
		ol li {color:#8b8b8b;}
		p.line {margin-top:10px; padding-top:10px; border-top:1px dashed #555;}
	}
}
.terms2 {
	.terms-conts {padding-left:0; line-height:1.4;
		li {color:#8b8b8b;}
		p.line {margin-top:10px; padding-top:10px; border-top:1px dashed #555;}
	}
}

.layer-wrap.finish .conts {position:relative; padding:0;}
.layer-wrap.finish .conts .btn_fns {position:absolute; bottom:cal(72,879); left:cal(65,580); width:cal(447,580); height:cal(118,879); font:0/0 a;}
