@charset "utf-8";

html , body , div , span , applet , object , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , blockquote , pre , a , abbr , acronym , address , big , cite , code , del , dfn , em , img , ins , kbd , q , s , samp , small , strike , strong , sub , sup , tt , var , b , u , i , center , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , details , embed , figure , figcaption , footer , header , hgroup , menu , nav , output , ruby , section , summary , time , mark , audio , video , textarea {margin:0; padding:0; border:0; box-sizing:border-box; font-family:"HelveticaNeue-Light","AppleSDGothicNeo-Medium","Malgun Gothic","맑은 고딕","AppleGothic","Sans-serif","Dotum","Verdana",sans-serif; font-size:16px;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section {display:block;}
body {background-color:#fff; line-height:1.5;}
ol , ul {list-style:none;}
em , i , u , b {font-style:normal; font-weight:normal; text-decoration:none;}
img {max-width:100%;}
table {width:100%; border:0; border-collapse:collapse; border-spacing:0; word-break:break-all; table-layout:fixed;}
button {background-color:transparent; margin:0; padding:0; border:0; cursor:pointer; -webkit-appearance:button;}
input::-webkit-input-placeholder {color:#b9b9b9;}
textarea::-webkit-input-placeholder {color:#b9b9b9;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance:none;}
input[type=text],
input[type=number],
input[type=password] {background:none; margin:0; padding:0; border:0; outline:none; -webkit-appearance:none;}
textarea {resize:none}

* {outline:none;}

.slick-slider {display:block; position:relative; box-sizing:border-box; user-select:none; -moz-box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -ms-touch-action:pan-y; touch-action:pan-y; -webkit-tap-highlight-color:transparent;}
.slick-list {display:block; overflow:hidden; position:relative; margin:0; padding:0;}
.slick-list:focus {outline:none;}
.slick-list.dragging {cursor:pointer; cursor:hand;}
.slick-slider .slick-track , .slick-slider .slick-list {transform:translate3d(0, 0, 0);
-webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); }
.slick-track {display:block; position:relative; top:0; left:0;}
.slick-track:before , .slick-track:after {content:""; display:table;}
.slick-track:after {clear:both;}
.slick-loading .slick-track {visibility:hidden;}
.slick-slide {display:none; float:left; height:100%; min-height:1px;}
[dir="rtl"] .slick-slide {float:right;}
.slick-slide img {display:block;}
.slick-slide.slick-loading img {display:none;}
.slick-slide.dragging img {pointer-events:none;}
.slick-initialized .slick-slide {display:block;}
.slick-loading .slick-slide {visibility:hidden;}
.slick-vertical .slick-slide {display:block; height:auto; border:1px solid transparent;}
.slick-arrow.slick-hidden {display:none;}

#wrap {position:relative; width:877px; height:100%;}

#sliders {position:relative; height:658px;
	.slick-arrow {position:absolute; bottom:23px;  width:113px; height:49px; font:0/0 a; z-index:50;
		&.slick-prev {background:url(../images/btn_prev.png) 0 0 no-repeat; left:33px;}
		&.slick-next {background:url(../images/btn_next.png) 0 0 no-repeat; right:33px;
			&.slick-disabled {visibility:hidden; opacity:0;}
		}
	}
	.slick-slide {position:relative; height:658px;
		.inn {width:100%; height:658px;}
	}
	.slick-dots {position:absolute; bottom:10px; left:0; width:100%; text-align:center; font:0/0 a; z-index:1;
		li {display:inline-block; margin-left:4px;
			&:first-child {margin-left:0;}
			button {background:#222; margin:0; padding:0; width:15px; height:15px; font:0/0 a;}
			&.slick-active button {background:red;}
		}
	}
}
.layer {display:none; position:absolute; top:0; left:0; z-index:5;
	.close {position:absolute; width:45px; height:45px;}
}

.slick-slide [class^=load-],
.slick-slide [class^=acv1-],
.slick-slide [class^=acv2-],
.slick-slide [class^=acv3-] {position:absolute; z-index:9; opacity:0;}
.slick-slide .btn {position:absolute; z-index:10;}


.a-1 {animation:load1 1s ease .5s 1 both; @keyframes load1 { 0% {opacity:0;} 100% {opacity:1;} }}
.a-2 {animation:load2 1s ease 1s 1 both; @keyframes load2 { 0% {opacity:0;} 100% {opacity:1;} }}
.a-3 {animation:load3 1s ease 1.5s 1 both; @keyframes load3 { 0% {opacity:0;} 100% {opacity:1;} }}
.a-4 {animation:load4 1s ease 2s 1 both; @keyframes load4 { 0% {opacity:0;} 100% {opacity:1;} }}
.a-5 {animation:load5 1s ease 2.5s 1 both; @keyframes load5 { 0% {opacity:0;} 100% {opacity:1;} }}
.a-6 {animation:load6 1s ease 3s 1 both; @keyframes load6 { 0% {opacity:0;} 100% {opacity:1;} }}
.a-7 {animation:load7 1s ease 3.5s 1 both; @keyframes load7 { 0% {opacity:0;} 100% {opacity:1;} }}
.a-8 {animation:load8 1s ease 4s 1 both; @keyframes load8 { 0% {opacity:0;} 100% {opacity:1;} }}
.a-9 {animation:load9 1s ease 4.5s 1 both; @keyframes load9 { 0% {opacity:0;} 100% {opacity:1;} }}
.a-10 {animation:load10 1s ease 5s 1 both; @keyframes load10 { 0% {opacity:0;} 100% {opacity:1;} }}

@mixin size-w($name, $time, $size){
	animation:$name 1s ease $time 1 both; 
	@keyframes #{$name} {
		0% {width:0; opacity:0;}
		100% {width:$size; opacity:1;}
	}
}

@mixin size-h($name, $time, $size){
	animation:$name 1s ease $time 1 both; 
	@keyframes #{$name} {
		0% {height:0; opacity:0;}
		100% {height:$size; opacity:1;}
	}
}
@mixin size-wh($name, $time, $size , $size2){
	animation:$name 1s ease $time 1 both; 
	@keyframes #{$name} {
		0% {width:0; height:0; opacity:0;}
		100% {width:$size + px; height:$size2 + px; opacity:1;}
	}
}
@mixin blink() {animation:blink 0s ease .5s 1 both; @keyframes blink { 0% {opacity:0;} 100% {opacity:1;} }
	img {animation:blink2 1s ease 0s infinite;}
	@keyframes blink2 {
		49% {opacity:1;}
		50% {opacity:0;}
		99% {opacity:0;}
		100%,0% {opacity:1;}
	}
}


.cont01 {background:url(../images/cont01.jpg) 0 0 no-repeat;
	.load-1 {top:297px; left:430px;}
	&.slick-active {
		.load-1 {@extend .a-1;}
	}
}
.cont02 {background:url(../images/cont02.jpg) 0 0 no-repeat;
	.btn1 {top:366px; right:94px; width:230px; height:64px;}
	.acv1-1 {top:443px; right:54px;}
	.acv1-2 {top:497px; right:54px;}
	.acv1-3 {top:544px; right:54px;}
	&.active1 {
		.acv1-1 {@extend .a-1;}
		.acv1-2 {@extend .a-2;}
		.acv1-3 {@extend .a-3;}
	}
}
.cont03 {background:url(../images/cont03.jpg) 0 0 no-repeat;
	.btn {width:178px; height:178px;
		&.btn1 {top:203px; left:95px;}
		&.btn2 {top:203px; left:351px;}
		&.btn3 {top:203px; left:608px;}
	}
	.acv1-1 {top:249px; left:109px;}
	.acv1-2 {top:249px; left:399px;}
	.acv1-3 {top:249px; left:640px;}
	&.active1 {
		.acv1-1 {@extend .a-1;}
	}
	&.active2 {
		.acv1-2 {@extend .a-1;}
	}
	&.active3 {
		.acv1-3 {@extend .a-1;}
	}

	.advert {display:none; position:absolute; bottom:0; left:77px;
		> img {opacity:0; visibility:hidden; transition:all .2s;}
		button {position:absolute; top:0; left:0; width:180px; height:160px;}
	}
}

	

/*
.cont01 {background:red;
	.btn1 {top:0; left:200px;}
	.btn2 {top:0; left:400px;}
	.load-5 {position:absolute; top:50%; left:50px; background:skyblue; width:0; height:50px; z-index:10;}
	.acv1-1 {position:absolute; bottom:40%; left:50px; background:skyblue; width:50px; height:0; z-index:10;}
	.acv1-2 {position:absolute; bottom:50%; left:50%; background:tomato; width:0; height:0; z-index:10;}
	&.slick-active {
		.load-1 {@extend .a-1;}
		.load-2 {@extend .a-2;}
		.load-3 {@extend .a-3;}
		.load-4 {@extend .a-4;}
		.load-5 {@include size-w(aa, .5s, 50px);}
	}
	&.active1 {
		.acv1-1 {@include size-h(aa1, 1.5s, 300px);}
		.acv1-2 {transform-origin:0 100%; @include size-wh(ac2, .5s, 100, 100);}
	}
	&.active2 {
		.acv2-1 {top:100px; right:50px; @include blink;}
	}
}
*/
