@charset "UTF-8";

@import url(https://cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/nanumgothic.css);
html, body, div, span,  iframe, h1, h2, h3, h4, h5, h6, p, a, address, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, hgroup, menu, nav, section, summary, video {margin:0; padding:0; border:0; vertical-align:baseline; box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {color:#222; font-size:12px; line-height:1.2; font-family:'Nanum Gothic','Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
html {font-size:3.125vw;}
ol, ul {list-style:none;}
em,i {font-style:normal;}
table {border-collapse:collapse; border-spacing:0;}
a, button {font-family:inherit;}
a {color:inherit; font-family:inherit; text-decoration:none; font-weight:normal; color:inherit;}
a:active, a:visited, a:hover {text-decoration:none; outline:none;}
button {background:none; margin:0; padding:0; border:0 none; color:inherit; font-size:inherit; outline:none; cursor:pointer;}
img {width:100%; max-width:100%; vertical-align:middle;}
fieldset {border:0 none !important;}
input[type="text"],
input[type="number"],
input[type="password"] {margin:0; padding:0; border:1px solid #ddd; box-sizing:border-box; color:inherit; font-family:inherit; outline:none; -webkit-appearance:none;}
input[type="text"]::-ms-clear {display:none;}
input[type="text"]:-ms-clear {display:none;}
a, textarea {color:inherit; font-family:inherit; text-decoration:none;}
textarea::-webkit-input-placeholder {color:#dcdcdc;}
textarea:-ms-input-placeholder {color:#dcdcdc;}
input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {color:#dcdcdc;}
input[type="text"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder {color:#dcdcdc;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;}

@function cal($target, $container) {
	@return ($target / $container) * 100%;
}
#ev_wrap {overflow:hidden;}

.ev02 {position:relative;
	.counter {position:absolute; top:cal(384,1218); left:0; right:0; text-align:center; font-size:0;
		span, strong {display:inline-block; height:3.9rem; line-height:3.9rem; font-weight:bold; vertical-align:middle;}
		span {margin-right:5px; color:#fff; font-size:15px;}
		strong {color:#fff799; font-size:25px;}
	}
	.btn {position:absolute; bottom:cal(71,1218); left:cal(55,640); width:cal(530,640); height:cal(115,1218); font:0/0 a;}
}

.ev03 {position:relative;
	.point {position:absolute; bottom:cal(69,734); left:cal(108,640); width:cal(424,640); height:cal(92,734); font:0/0 a;}
}

.ev04 {position:relative;
	[class^=btn-] {position:absolute; width:cal(162,640); height:cal(63,1348); font:0/0 a;}
	.btn-share_01 {bottom:cal(161,1348); left:cal(58,640);}
	.btn-share_02 {bottom:cal(161,1348); left:cal(238,640);}
	.btn-share_03 {bottom:cal(161,1348); left:cal(419,640);}
	.btn-share_04 {bottom:cal(80,1348); left:cal(138,640);}
	.btn-share_05 {bottom:cal(80,1348); left:cal(319,640);}
}

.layer-wrap {display:none; position:absolute; top:0; left:0; width:100%; z-index:10;}
.layer-wrap:after {content:""; position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(0,0,0,.6); z-index:15;}
.layer-wrap .layer-conts {position:absolute; top:0; left:0; width:100%; z-index:16;}
.layer-wrap.cast .layer-conts .btn {position:absolute; top:0; right:cal(66,640); width:cal(34,640); height:cal(32,847);}
.layer-wrap.cast .close {position:absolute; bottom:0; left:cal(170,640); width:cal(301,640); height:cal(91,847);}

.layer-wrap.point .layer-conts,
.layer-wrap.point-non .layer-conts {width:auto; left:3rem; right:3rem;
	.point-close {position:absolute; top:-3.6rem; right:0; width:1.7rem; height:1.6rem;}
	.list {background:url(../img/pop_point_03.png) 0 0 repeat-y; background-size:100% auto;
		ul {padding:0 1.7rem;}
		ul li {
			&:after {content:""; display:block; clear:both;}
			div {float:left; width:33%; height:3.7rem; color:#010000; font-size:1.3rem; line-height:3.8rem; text-align:center;}
		}
	}
	.btnArea {margin-top:15px;
		a {display:block; width:15rem; height:4.5rem; margin:0 auto;}
	}
}

#ev_header {position:relative; background:#2d1461; height:45px;}
#ev_header h1 {position:absolute; top:0; bottom:0; left:0; right:0; width:107px; height:22px; font:0/0 a; margin:auto;}
#ev_header h1 .logo img {width:100%;}
#ev_header .home {position:absolute; top:0; left:0; width:40px; height:45px; font-size:0; line-height:0;}
#ev_header .home img {position:absolute; top:0; bottom:0; left:0; right:0; width:26px; margin:auto;}
