@charset "uft-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {margin:0; padding:0; border:0; box-sizing:border-box;}
ol, ul {list-style:none;}
a {color:#000; text-decoration:none;}
strong, h1, p, span, dd {font-weight:400; word-break:keep-all;}

body {background-color:#fff; color:#333; font-size:17px; font-family:'Nanum Gothic', sans-serif;}
.message .inner {max-width:1420px; height:auto; margin:0 auto;}
.sub_tit {margin-bottom:100px; padding-top:10px;}
.sub_tit h3 {margin:0 auto; text-align:center; font-size:45px;}
.sub_tit h3:before {content:''; display:block; clear:both; width:1px; height:50px; margin:0 auto; margin-bottom:10px; background-color:#000;}
.message .inner .ceo {display:flex; flex-direction:row; justify-content:space-between; margin-bottom:60px;}
.message .inner .ceo .msg {width:61%;}
.message .inner .ceo .msg .msg_top {position:relative; margin-bottom:90px; padding:0 0 60px 29px; border-bottom:1px solid #0069c1; word-break:keep-all;}
.message .inner .ceo .msg .msg_top strong {display:block; margin-bottom:20px; color:#0069c1; font-size:37px;}
.message .inner .ceo .msg .msg_top strong:before {content:''; display:block; clear:both; position:absolute; top:-30px; left:0; background:url(../images/quotes_open.png) 0 0 no-repeat; width:53px; height:46px; z-index:-1;}
.message .inner .ceo .msg .msg_top span {font-size:27px;}
.message .inner .ceo .msg .msg_top span:before {content:''; display:block; clear:both; position:absolute; top:58px; left:50%; margin-left:245px; background:url(../images/quotes_close.png) 0 0 no-repeat; width:53px; height:46px; z-index:-1;}
.message .inner .ceo .msg .msg_bottom {width:94%; margin-left:10px; word-break:keep-all;}
.message .inner .ceo .msg .msg_bottom strong {display:block; margin-bottom:35px; font-size:24px; font-weight:700;}
.message .inner .ceo .msg .msg_bottom .msg_txt span {display:block; margin-bottom:35px; line-height:35px; letter-spacing:-1px;}
.message .inner .ceo .img {background:url(../images/ceo_pc.jpg) 0 0 no-repeat; width:470px; height:895px;}
.message .inner .ceo .img:before {content:''; display:block; clear:both; width:458px; height:883px; margin:0 auto; margin-top:6px; border:1px solid #d8d8d8;}
.message .inner .ceo .img img {display:none;}
.message .inner .ceo_sign {display:flex; justify-content:flex-end; align-items:center;}
.message .inner .ceo_sign span {margin-right:20px;}

.identity .section1 {max-width:1420px; height:auto; margin:0 auto;}
.identity .section1 .area ul li {display:flex; flex-direction:row; align-items:center; padding:40px 0; border-bottom:1px solid #e5e5e5;}
.identity .section1 .area ul li:nth-of-type(1) {padding-top:0;}
.identity .section1 .area ul li:nth-of-type(3) {align-items:flex-start; border-bottom:0;}
.identity .section1 .area ul li img {margin-right:50px;}
.identity .section1 .area ul li dl dt span {padding:3px 5px; background-color:#333; color:#fff;}
.identity .section1 .area ul li dl dt strong {display:block; margin:20px 0 30px; font-size:30px; font-weight:700;}
.identity .section1 .area ul li dl dd {position:relative; line-height:35px; font-size:18px; letter-spacing:-1px;}
.identity .section1 .area ul li dl dd strong {padding-left:11px; color:#666; font-weight:700;}
.identity .section1 .area ul li dl dd strong:before {content:''; display:inline-block; clear:both; position:absolute; top:15px; left:0; width:4px; height:4px; background-color:#0069c1; line-height:33px;}
.identity .section2 {background:url(../images/identity_bg.jpg) 0 0 no-repeat; background-size:cover; width:100%; padding:94px 0 100px; box-sizing:border-box;}
.identity .section2 .inner {max-width:1420px; height:auto; margin:0 auto;}
.identity .section2 span {display:block; font-size:18px; color:#000;}
.identity .section2 strong {display:block; margin:15px 0 30px; font-size:27px; font-weight:700; color:#0069c1;}
.identity .section2 p {margin-bottom:30px; color:#666; line-height:27px;}
.identity .section2 p span {color:#666; font-size:24px; font-weight:700;}


@media screen and (max-width:1200px) {
	.message .inner {max-width:768px;}
	.message .inner .ceo {flex-wrap:wrap-reverse; justify-content:center;}
	.message .inner .ceo .msg {width:100%;}
	.message .inner .ceo .msg .msg_top {margin-top:60px; padding:0 0 60px 0; text-align:center;}
	.message .inner .ceo .msg .msg_top strong {font-size:28px;}
	.message .inner .ceo .msg .msg_top span {font-size:24px;}
	.message .inner .ceo .msg .msg_top span:before {left:auto; right:0; margin-left:0;}
	.message .inner .ceo .msg .msg_bottom {width:100%;}
	.message .inner .ceo .msg .msg_bottom strong {font-size:19px;}
	.message .inner .ceo .msg .msg_bottom .msg_txt {margin-bottom:25px; font-size:17px; line-height:17px;}
	.message .inner .ceo .img {background:none; width:auto; height:auto;}
	.message .inner .ceo .img img {display:block; width:100%; height:auto;}
	.message .inner .ceo .img:before {display:none;}

	.identity .section1 {max-width:768px;}
	.identity .section1 .area ul li {flex-direction:column;}
	.identity .section1 .area ul li img {width:100%; margin:0 0 30px 0;}
	.identity .section1 .area ul li dl {width:100%;}
	.identity .section2 .inner {width:96%; padding:0 2%;}
}

@media screen and (max-width:767px) {
	.message .inner {width:96%; padding:0 2%;}
	.sub_tit {margin-bottom:20%;}
	.sub_tit h3 {font-size:30px;}
	.message .inner .ceo .msg .msg_top strong {font-size:25px;}
	.message .inner .ceo .msg .msg_top span {font-size:20px;}

	.identity .section1 {width:96%; padding:0 2%;}
	.identity .section1 .area ul li dl dt strong {font-size:25px;}
	.identity .section1 .area ul li dl dd {font-size:17px;}
}