/*
 * @ Autor : Kuns
 */
@charset "utf-8";
@import "module";
// @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
// $my-font:"Noto Sans KR";

@include reset();

a {outline:none;}
em,i {font-style:normal;}

// Common Module Extend
$imgDir: '../images/';
%clearfix {&:after {content:""; display:block; clear:both;}}
%action {transition: all 1s ease-in-out;}

body {overflow-x:hidden;}

#wrap {position:relative; width:100%; max-width:720px; margin:0 auto;}

#sliders {position:relative;
	.slick-arrow {position:absolute; bottom:-9999em; left:-9999em; width:0; height:0; font:0/0 a; z-index:5;
		&.slick-prev {}
		&.slick-next {}
	}
	.slick-slide {position:relative;
		.inn {width:100%;}
	}
	.slick-dots {position:absolute; bottom:10px; left:0; width:100%; text-align:center; font:0/0 a; z-index:1;
		li {display:inline-block; margin-left:8px;
			&:first-child {margin-left:0;}
			button {background:#fff; margin:0; padding:0; width:15px; height:15px; border:2px solid #bbb; border-radius:50%; font:0/0 a;}
			&.slick-active button {background:#017f40; border-color:#017f40;}
		}
	}
}
.layer {display:none; position:absolute; top:0; left:0; z-index:5;
	.close {position:absolute; width:45px; height:45px;}
}

.slick-slide img {width:100%;}
.slick-slide a {position:absolute; top:33.2%; left:30%; width:42.5%; height:2.96%;}
