@charset "UTF-8";

@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:100; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:300; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:400; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:500; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:700; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:900; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype");
}
@import url(../font/Montserrat.css);


html , body , div , span , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , a , address , em , img , strong , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , footer , header , hgroup , menu , nav , section , summary , video {margin:0; padding:0; border:0; box-sizing:border-box;font-size:100%; vertical-align:baseline;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section , main {display:block;}
body {line-height:1.2; font-family:'Noto Sans KR',"Malgun Gothic","맑은 고딕","AppleSDGothicNeo-Medium","Helvetica","AppleGothic","Sans-serif","Dotum","Verdana","Helvetica",sans-serif; font-size:12px; letter-spacing:-.5px;}
html {font-size:3.125vw;}
ol , ul {list-style:none;}
em , i {font-style:normal;}
table {border-collapse:collapse; border-spacing:0;}
a , button {font-family:inherit;}
a {color:inherit; color:inherit; font-family:inherit; font-weight:normal; text-decoration:none;}
a:active , a:visited , a:hover {text-decoration:none; outline:none;}
button {background:none; margin:0; padding:0; border:0 none; color:inherit; font-size:inherit; cursor:pointer; outline:none;}
img {max-width:100%; vertical-align:middle;}
fieldset {border:0 none !important;}
input[type="text"] , input[type="number"] , input[type="password"] {margin:0; padding:0; border:1px solid #ddd; box-sizing:border-box; color:inherit; font-family:inherit; outline:none; -webkit-appearance:none;}
input[type="text"]::-ms-clear {display:none;}
input[type="text"]:-ms-clear {display:none;}
a , textarea {color:inherit; font-family:inherit; text-decoration:none;}
select {background:#fff;}
textarea::-webkit-input-placeholder {color:#999;}
textarea:-ms-input-placeholder {color:#999;}
input[type="text"]::-webkit-input-placeholder , input[type="number"]::-webkit-input-placeholder {color:#999;}
input[type="text"]:-ms-input-placeholder , input[type="number"]:-ms-input-placeholder {color:#999;}
input[type="number"]::-webkit-outer-spin-button , input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;}
@media screen and (max-width:768px) {
	body {font-family:"Helvetica Neue","Apple SD Gothic Neo",sans-serif;}
}

#cmdl_warp {overflow:hidden; position:relative; width:100%; z-index:10;}

header {position:absolute; top:0; left:0; right:0; background:rgba(0,0,0,.5); z-index:100; transition:all .2s ease;}
header .innr {position:relative; max-width:1498px; min-height:100px; margin:0 auto;}
header .innr:after {content:""; display:block; clear:both;}
header .innr h1 {float:left;}
header .innr h1 a {display:block; width:157px; height:100px; background:url(../images/logo.png) 50% 50% no-repeat; font:0/0 a;}
header .innr .gnb_wrap {float:right; margin-right:97px;}
header .innr .gnb:after {content:""; display:block; clear:both;}
header .innr .gnb > li {float:left; position:relative;}
header .innr .gnb > li > a {display:block; height:100px; padding:0 29px; color:#fff; font-size:20px; line-height:100px; font-family:"Montserrat";}
header .innr .gnb li .dep2 {display:none; position:absolute; top:136px; left:29px;}
header .innr .gnb li .dep2 a {height:36px; color:#111; font-size:18px; line-height:36px;}
header .innr .gnb li .dep2 a:hover {color:#04468d;}
header .innr .btn_allMenu {position:absolute; top:0; right:0; background:url("data:image/svg+xml,%3csvg viewBox='0 0 35 23' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m-0 23v-3h35v3h-35zm0-13h35v3h-35v-3zm0-10h35v3h-35v-3z' fill='%23fff' /%3e%3c/svg%3e") 100% 50% no-repeat; background-size:35px 23px; width:60px; height:100px; font:0/0 a;}
header.open {background:rgba(255,255,255,1); height:375px; border-bottom:1px solid #f3f3f3;}
header.open:after {content:""; position:absolute; top:100px; left:0; right:0; background:#ddd; width:100%; height:1px;}
header.open .innr h1 a {background-image:url(../images/logo_blue.png);}
header.open .innr .gnb > li > a {color:#111;}
header.open .innr .gnb li .dep2 {display:block;}
header.open .innr .btn_allMenu {background:url("data:image/svg+xml,%3csvg viewBox='0 0 35 23' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m-0 23v-3h35v3h-35zm0-13h35v3h-35v-3zm0-10h35v3h-35v-3z' fill='%2304468e' /%3e%3c/svg%3e") 100% 50% no-repeat; background-size:35px 23px;}

header .gnb-layer {display:none; position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(4,70,142,.9); width:100%; height:100%; padding-top:300px; box-sizing:border-box; z-index:150;}
header .gnb-layer .gnb {text-align:center;}
header .gnb-layer .gnb > li {display:inline-block; float:none;}
header .gnb-layer .gnb > li > a {padding:0 55px; font-weight:bold; font-size:30px;}
header .gnb-layer .gnb li .dep2 {display:block; top:100px; left:0; width:100%;}
header .gnb-layer .gnb li .dep2 a {color:#fff; text-align:center;}
header .gnb-layer .gnb li .dep2 a:hover {color:#fff;}
header .gnb-layer .btn_allClose {position:absolute; top:200px; left:50%; background:url("data:image/svg+xml,%3csvg viewBox='0 0 27 27' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m26.935 24.814-2.121 2.121-11.314-11.314-11.314 11.314-2.121-2.121 11.314-11.314-11.314-11.314 2.121-2.121 11.314 11.314 11.314-11.314 2.121 2.121-11.314 11.314 11.314 11.314z' fill='%23fff' fill-rule='evenodd'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:28px; height:28px; margin-left:-14px; font:0/0 a;}

footer {padding:42px 0 70px; text-align:center;}
footer span.logo {display:inline-block; margin-bottom:20px;}
footer p,
footer em {color:#999; font-size:15px; line-height:1.6;}
footer em {display:block; margin-top:15px;}

/* Main */

.visual {position:relative;}
.visual .swiper-slide {height:900px; transition:height .2s ease;}
.visual .visual-next,
.visual .visual-prev {position:absolute; top:464px; background:url("data:image/svg+xml,%3csvg viewBox='0 0 21 16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m18.657 9.414-5.657 5.657-1.414-1.414 4.656-4.657h-16.242v-2h16.243l-4.657-4.657 1.414-1.414 5.657 5.657v-1e-3l1.414 1.415-1.414 1.414z' fill='%23fff' fill-rule='evenodd'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:20px 14px; width:72px; height:72px; border:1px solid #fff; z-index:15;}
.visual .visual-next {right:80px;}
.visual .visual-prev {left:80px; transform:rotate(180deg);}

.main h3 {padding:110px 0 40px; color:#222; font-size:55px; text-align:center; font-family:"Montserrat";}
section .btn_detail {display:block; background:url("data:image/svg+xml,%3csvg viewBox='0 0 10 16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m9.314 8-7.314 7.313-1.414-1.414 5.899-5.899-5.899-5.9 1.414-1.414 5.899 5.9v-1e-3l1.415 1.415z' fill='%23fff'/%3e%3c/svg%3e") calc(100% - 20px) 50% no-repeat; background-size:9px 15px; width:166px; height:54px; padding-left:20px; box-sizing:border-box; color:#fff; font-size:17px; line-height:54px;}

.sct01 .innr {max-width:1498px; margin:0 auto;}
.sct01 .innr:after {content:""; display:block; clear:both;}
.sct01 .innr [class^=box-] {float:left; width:calc(50% - 30px); height:324px; padding:75px 0 0 278px; border:1px solid #ddd; box-sizing:border-box;}
.sct01 .innr [class^=box-]:first-child {margin-right:60px;}
.sct01 .innr [class^=box-] strong {color:#222; font-size:32px; font-weight:bold;}
.sct01 .innr [class^=box-] p {margin-top:10px; color:#555; font-size:22px;}
.sct01 .innr [class^=box-] p br {display:none;}
.sct01 .innr [class^=box-] .btn_detail {background-color:#252e72; margin-top:40px;}
.sct01 .innr .box-01 {background:url(../images/ico_m_0101.png) 84px 85px no-repeat;}
.sct01 .innr .box-02 {background:url(../images/ico_m_0102.png) 67px 87px no-repeat;}
