@charset "UTF-8";

@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:100; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:300; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:400; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:500; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:700; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:900; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype");
}
@import url(../font/Montserrat.css);


html , body , div , span , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , a , address , em , img , strong , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , footer , header , hgroup , menu , nav , section , summary , video {margin:0; padding:0; border:0; box-sizing:border-box;font-size:100%; vertical-align:baseline;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section , main {display:block;}
body {line-height:1.2; font-family:'Noto Sans KR',"Malgun Gothic","맑은 고딕","AppleSDGothicNeo-Medium","Helvetica","AppleGothic","Sans-serif","Dotum","Verdana","Helvetica",sans-serif; font-size:10px; letter-spacing:-.5px;}
html {font-size:1.335vw;}
@media screen and (min-width:1498px) {
	html {font-size:20px;}
}
@media screen and (max-width:786px) {
	html {font-size:5.556vw;}
}
ol , ul {list-style:none;}
em , i {font-style:normal;}
table {border-collapse:collapse; border-spacing:0;}
a , button {font-family:inherit;}
a {color:inherit; color:inherit; font-family:inherit; font-weight:normal; text-decoration:none;}
a:active , a:visited , a:hover {text-decoration:none; outline:none;}
button {background:none; margin:0; padding:0; border:0 none; color:inherit; font-size:inherit; cursor:pointer; outline:none;}
img {max-width:100%; vertical-align:middle;}
fieldset {border:0 none !important;}
input[type="text"] , input[type="number"] , input[type="password"] {margin:0; padding:0; border:1px solid #ddd; box-sizing:border-box; color:inherit; font-family:inherit; outline:none; -webkit-appearance:none;}
input[type="text"]::-ms-clear {display:none;}
input[type="text"]:-ms-clear {display:none;}
a , textarea {color:inherit; font-family:inherit; text-decoration:none;}
select {background:#fff;}
textarea::-webkit-input-placeholder {color:#999;}
textarea:-ms-input-placeholder {color:#999;}
input[type="text"]::-webkit-input-placeholder , input[type="number"]::-webkit-input-placeholder {color:#999;}
input[type="text"]:-ms-input-placeholder , input[type="number"]:-ms-input-placeholder {color:#999;}
input[type="number"]::-webkit-outer-spin-button , input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;}
@media screen and (max-width:786px) {
	body {font-family:"Helvetica Neue","Apple SD Gothic Neo",sans-serif;}
}

#cmdl_warp {overflow:hidden; position:relative; width:100%; z-index:10;}

header {position:absolute; top:0; left:0; right:0; z-index:100; transition:all .2s ease;}
header .innr {position:relative; max-width:1498px; height:5rem; margin:0 auto;}
header .innr:after {content:""; display:block; clear:both;}
header .innr h1 {float:left; transition:all .2s ease;}
header .innr h1 a {display:block; width:7.85rem; height:5rem; background:url(../images/logo_blue.png) 50% 50% no-repeat; background-size:100% auto; font:0/0 a;}
header .innr .gnb_wrap {float:right; margin-right:4.85rem; transition:all .2s ease;}
header .innr .gnb:after {content:""; display:block; clear:both;}
header .innr .gnb > li {float:left; position:relative;}
header .innr .gnb > li > a {display:block; height:5rem; padding:0 1.45rem; color:#111; font-size:1rem; line-height:5rem; font-family:"Montserrat";}
header .innr .gnb li .dep2 {display:none; position:absolute; top:6.8rem; left:1.45rem;}
header .innr .gnb li .dep2 a {height:1.8rem; color:#111; font-size:0.9rem; line-height:1.8rem;}
header .innr .gnb li .dep2 a:hover {color:#04468d;}
header .innr .btn_allMenu {position:absolute; top:0; right:0; background:url("data:image/svg+xml,%3csvg viewBox='0 0 35 23' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m-0 23v-3h35v3h-35zm0-13h35v3h-35v-3zm0-10h35v3h-35v-3z' fill='%2304468e' /%3e%3c/svg%3e") 100% 50% no-repeat; background-size:1.75rem 1.15rem; width:3rem; height:5rem; font:0/0 a; transition:all .2s ease;}

.main header {background:rgba(0,0,0,.5);}
.main header .innr h1 a {background-image:url(../images/logo.png); background-size:100% auto;}
.main header .innr .gnb > li > a {color:#fff;}
.main header .innr .btn_allMenu {position:absolute; top:0; right:0; background:url("data:image/svg+xml,%3csvg viewBox='0 0 35 23' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m-0 23v-3h35v3h-35zm0-13h35v3h-35v-3zm0-10h35v3h-35v-3z' fill='%23fff' /%3e%3c/svg%3e") 100% 50% no-repeat; background-size:1.75rem 1.15rem;}

header.open {background:rgba(255,255,255,1); height:18.75rem; border-bottom:1px solid #f3f3f3;}
header.open:after {content:""; position:absolute; top:5rem; left:0; right:0; background:#ddd; width:100%; height:1px;}
header.open .innr h1 a {background-image:url(../images/logo_blue.png);}
header.open > .innr > .gnb_wrap > .gnb > li > a {color:#111;}
header.open .innr .gnb li .dep2 {display:block;}
header.open .innr .btn_allMenu {background:url("data:image/svg+xml,%3csvg viewBox='0 0 35 23' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m-0 23v-3h35v3h-35zm0-13h35v3h-35v-3zm0-10h35v3h-35v-3z' fill='%2304468e' /%3e%3c/svg%3e") 100% 50% no-repeat; background-size:1.75rem 1.15rem;}

header .gnb-layer {display:none; position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(4,70,142,.9); width:100%; height:100%; padding-top:15rem; box-sizing:border-box; z-index:150;}
header .gnb-layer .gnb {text-align:center;}
header .gnb-layer .gnb > li {display:inline-block; float:none;}
header .gnb-layer .gnb > li > a {padding:0 2.75rem; color:#fff; font-weight:bold; font-size:1.5rem;}
header .gnb-layer .gnb li .dep2 {display:block; top:5rem; left:0; width:100%;}
header .gnb-layer .gnb li .dep2 a {color:#fff; text-align:center;}
header .gnb-layer .gnb li .dep2 a:hover {color:#fff;}
header .gnb-layer .btn_allClose {position:absolute; top:10rem; left:50%; background:url("data:image/svg+xml,%3csvg viewBox='0 0 27 27' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m26.935 24.814-2.121 2.121-11.314-11.314-11.314 11.314-2.121-2.121 11.314-11.314-11.314-11.314 2.121-2.121 11.314 11.314 11.314-11.314 2.121 2.121-11.314 11.314 11.314 11.314z' fill='%23fff' fill-rule='evenodd'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:1.4rem; height:1.4rem; margin-left:-0.7rem; font:0/0 a;}

.main footer {border:0;}
footer {padding:2.1rem 0 3.5rem; border-top:1px solid #eee; text-align:center;}
footer span.logo {display:inline-block; margin-bottom:1rem;}
footer p,
footer em {color:#999; font-size:0.75rem; line-height:1.6;}
footer em {display:block; margin-top:0.75rem;}

@media screen and (max-width:1516px) {
	header .innr h1 {margin-left:1.5rem;}
	header .innr .gnb_wrap {margin-right:6.35rem;}
	.main header .innr .btn_allMenu,
	header .innr .btn_allMenu {right:1.5rem;}
	header .gnb-layer .gnb > li > a {padding:0 1.25rem;}
}
@media screen and (max-width:786px) {
	.main header,
	header {position:static; background-color:rgba(255,255,255,1);}
	header .innr {height:2.5rem;}
	.main header .innr h1 a,
	header .innr h1 a {background-image:url(../images/logo_blue.png); background-position:0 50%; background-size:3.95rem 0.9rem; height:2.5rem;}
	header .innr .gnb_wrap {display:none;}
	.main header .innr .btn_allMenu,
	header .innr .btn_allMenu {background:url("data:image/svg+xml,%3csvg viewBox='0 0 35 23' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m-0 23v-3h35v3h-35zm0-13h35v3h-35v-3zm0-10h35v3h-35v-3z' fill='%2304468e' /%3e%3c/svg%3e") 100% 50% no-repeat; background-size:0.9rem 0.6rem; height:2.5rem;}
	header .gnb-layer {overflow:auto; height:100vh; padding:3.5rem 0;}
	header .gnb-layer .gnb > li {display:block; margin-top:0.75rem;}
	header .gnb-layer .gnb > li:first-child {margin-top:0;}
	header .gnb-layer .gnb > li > a {height:2.5rem; padding:0; font-size:1rem; line-height:2.5rem;}
	header .gnb-layer .gnb li .dep2 {position:static;}
	header .gnb-layer .gnb li .dep2 a {height:auto; font-size:0.65rem; line-height:2;}
	header .gnb-layer .btn_allClose {top:0.75rem; left:auto; right:1.45rem; background-size:0.7rem 0.7rem; width:0.7rem; height:0.7rem; padding:0.5rem;}

	footer {padding:1.05rem 0 1.75rem;}
	footer span.logo {margin-bottom:0.5rem;}
	footer span.logo img {width:3.1rem; height:1.1rem;}
	footer p, footer em {font-size:0.55rem; word-break:keep-all;}
}

/* Main */
.main main {margin-top:0;}
.visual {position:relative;}
.visual .visual-next,
.visual .visual-prev {position:absolute; top:23.2rem; background:url("data:image/svg+xml,%3csvg viewBox='0 0 21 16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m18.657 9.414-5.657 5.657-1.414-1.414 4.656-4.657h-16.242v-2h16.243l-4.657-4.657 1.414-1.414 5.657 5.657v-1e-3l1.414 1.415-1.414 1.414z' fill='%23fff' fill-rule='evenodd'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:1rem 0.7rem; width:3.6rem; height:3.6rem; border:1px solid #fff; z-index:15;}
.visual .visual-next {right:4rem;}
.visual .visual-prev {left:4rem; transform:rotate(180deg);}
.visual .swiper-slide {height:45rem; transition:height .2s ease;}
.visual .swiper-slide.visual01 {background:url(../images/visual_01.jpg) 50% no-repeat;}
.visual .swiper-slide.visual02 {background:url(../images/visual_01.jpg) 50% no-repeat;}

.main h3 {padding:5.5rem 0 2rem; color:#222; font-size:2.75rem; text-align:center; font-family:"Montserrat";}
section .btn_detail {display:block; background:url("data:image/svg+xml,%3csvg viewBox='0 0 10 16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m9.314 8-7.314 7.313-1.414-1.414 5.899-5.899-5.899-5.9 1.414-1.414 5.899 5.9v-1e-3l1.415 1.415z' fill='%23fff'/%3e%3c/svg%3e") calc(100% - 1rem) 50% no-repeat; background-size:0.45rem 0.75rem; width:8.3rem; height:2.7rem; padding-left:1rem; box-sizing:border-box; color:#fff; font-size:0.85rem; line-height:2.7rem; text-align:left;}

.sct01 .innr {max-width:1498px; margin:0 auto;}
.sct01 .innr:after {content:""; display:block; clear:both;}
.sct01 .innr [class^=box-] {float:left; width:calc(50% - 1.5rem); height:16.2rem; padding:3.75rem 0 0 13.9rem; border:1px solid #ddd; box-sizing:border-box;}
.sct01 .innr [class^=box-]:first-child {margin-right:3rem;}
.sct01 .innr [class^=box-] strong {color:#222; font-size:1.6rem; font-weight:bold;}
.sct01 .innr [class^=box-] p {margin-top:0.5rem; color:#555; font-size:1.1rem;}
.sct01 .innr [class^=box-] p br {display:none;}
.sct01 .innr [class^=box-] .btn_detail {background-color:#252e72; margin-top:2rem;}
.sct01 .innr .box-01 {background:url(../images/ico_m_0101.png) 4.2rem 4.25rem no-repeat; background-size:5.8rem 7.7rem;}
.sct01 .innr .box-02 {background:url(../images/ico_m_0102.png) 3.35rem 4.35rem no-repeat; background-size:7.45rem 7.75rem;}

.sct02 {background:url(../images/img_m_0203.png) 19.7rem 100% no-repeat; background-size:80.15rem 5.25rem; margin-top:6rem; padding-bottom:5rem;}
.sct02:after {content:""; display:block; clear:both;}
.sct02 [class^=box-] {float:left; width:50%; height:30.5rem; box-sizing:border-box; text-align:center;}
.sct02 [class^=box-]:before {content:""; display:block; margin:0 auto;}
.sct02 [class^=box-] strong {display:block; margin-top:3rem; color:#fff; font-size:2rem;}
.sct02 [class^=box-] p {margin-top:1rem; color:#fff; font-size:1.1rem; line-height:1.5;}
.sct02 .box-01 {background:url(../images/img_m_0201.png) 0 0 no-repeat; background-size:auto 100%; padding-top:7.2rem;}
.sct02 .box-01:before {background:url(../images/ico_m_0201.png) 0 0 no-repeat; background-size:100% 100%; width:6.75rem; height:7rem;}
.sct02 .box-02 {background:url(../images/img_m_0202.png) 0 0 no-repeat; background-size:auto 100%; padding-top:6.9rem;}
.sct02 .box-02:before {background:url(../images/ico_m_0202.png) 0 0 no-repeat; background-size:100% 100%; width:7.35rem; height:7.55rem;}

.sct03 {background:url(../images/img_m_03.png) 0 0 no-repeat; height:40rem; margin-top:5.5rem; padding-top:12.5rem; box-sizing:border-box; text-align:center;}
.sct03 strong {color:#fff; font-size:1.6rem; font-weight:bold;}
.sct03 p {margin-top:2rem; color:#fff; font-size:1.1rem; line-height:1.5;}
.sct03 .btn_detail {margin:2.75rem auto 0; border:1px solid #fff;}

.sct04:after {content:""; display:block; clear:both;}
.sct04 [class^=box-] {float:left; width:50%; height:30.5rem; box-sizing:border-box;}
.sct04 [class^=box-] strong {display:block; color:#fff; font-size:2rem;}
.sct04 [class^=box-] p {margin-top:2rem; color:#fff; font-size:1.1rem; line-height:1.5; letter-spacing:-1px;}
.sct04 .btn_detail {margin-top:2.75rem; border:1px solid #fff;}
.sct04 .box-01 {background:url(../images/img_m_04.png) 0 0 no-repeat; background-size:auto 100%; padding:8rem 0 0 0;}
.sct04 .box-01 > div {width:25rem; margin:0 auto;}
.sct04 .box-02 iframe {width:100%; height:30.5rem;}

@media screen and (max-width:786px) {
	.visual .swiper-slide {height:22.5rem;}
	.visual .visual-next, .visual .visual-prev {top:10.35rem; width:1.8rem; height:1.8rem;}
	.visual .visual-next {right:0.75rem;}
	.visual .visual-prev {left:0.75rem;}
	.visual .swiper-slide.visual01 {background:url(../images/mvisual_01.jpg) 50% no-repeat; background-size:100% auto;}
	.visual .swiper-slide.visual02 {background:url(../images/mvisual_01.jpg) 50% no-repeat; background-size:100% auto;}

	.main h3 {padding:2.75rem 0 1rem; font-size:1.35rem;}
	section .btn_detail {background-position:calc(100% - 0.25rem) 50%; background-size:0.2rem 0.6rem; width:4.15rem; height:1.4rem; padding-left:0.25rem; font-size:0.6rem; line-height:1.4rem;}

	.sct01 {padding:0 0.75rem;}
	.sct01 .innr [class^=box-] {width:calc(50% - 0.75rem); height:12.5rem; padding:6rem 0 0 0;}
	.sct01 .innr [class^=box-]:first-child {margin-right:1.5rem;}
	.sct01 .innr [class^=box-] strong {display:block; font-size:0.8rem; text-align:center;}
	.sct01 .innr [class^=box-] p {text-align:center; font-size:0.6rem;}
	.sct01 .innr [class^=box-] .btn_detail {margin:1rem auto;}
	.sct01 .innr [class^=box-] p br {display:block;}
	.sct01 .innr .box-01 {background-position:50% 1.75rem; background-size:2.9rem 3.85rem;}
	.sct01 .innr .box-02 {background-position:50% 1.75rem; background-size:3.7rem 3.85rem;}
	.sct02 {background-position:3.75rem 100%; background-size:auto 1.5rem; margin-top:3rem; padding-bottom:1.5rem;}
	.sct02 [class^=box-] {width:100%; height:8.6rem;}
	.sct02 [class^=box-]:before {margin-right:1.5rem;}
	.sct02 [class^=box-]:before,
	.sct02 [class^=box-] > div {display:inline-block; vertical-align:middle;}
	.sct02 .box-01 {background:url(../images/mimg_m_0201.png) 0 0 no-repeat; background-size:100% 100%; padding-top:2.5rem;}
	.sct02 .box-01:before {width:3.35rem; height:3.5rem;}
	.sct02 .box-02 {background:url(../images/mimg_m_0202.png) 0 0 no-repeat; background-size:100% 100%; padding-top:2.25rem;}
	.sct02 .box-02:before {width:3.65rem; height:3.75rem;}
	.sct02 [class^=box-] strong {margin:0; font-size:1rem; text-align:left;}
	.sct02 [class^=box-] p {margin-top:0.5rem; font-size:0.55rem; text-align:left;}
	.sct03 {background:url(../images/mimg_m_03.png) 0 0 no-repeat; background-size:100% 100%; height:9rem; margin-top:2.5rem; padding-top:1.5rem;}
	.sct03 strong {font-size:0.8rem;}
	.sct03 p {margin-top:1rem; font-size:0.55rem;}
	.sct03 .btn_detail {margin:1rem auto 0;}
	.sct04 [class^=box-] {width:100%; height:auto;}
	.sct04 [class^=box-] strong {font-size:0.8rem;}
	.sct04 [class^=box-] p {margin-top:1rem; font-size:0.55rem;}
	.sct03 .btn_detail {margin-top:1rem;}
	.sct04 .box-01 {background:url(../images/mimg_m_04.png) 0 0 no-repeat; background-size:100% 100%; height:9rem; padding:1.5rem 0 0 0; text-align:center;}
	.sct04 .box-01 > div {width:auto; margin:0;}
	.sct04 .btn_detail {margin:1.25rem auto 0;}
	.sct04 .box-02 iframe {width:100%; height:15rem;}
}

/* 서브 */
main {margin-top:5rem;}

img.pc {display:block;}
img.mo {display:none;}
@media screen and (max-width:786px) {
	img.pc {display:none;}
	img.mo {display:block; width:100%;}
}

.svisual {height:19.35rem; padding-top:6.75rem; box-sizing:border-box; text-align:center;}
.svisual h2 {color:#fff; font-size:3rem;}
.svisual p {margin-top:1.7rem; color:#fff; font-size:1.1rem;}
.svisual.sub01 {background:url(../images/sub/svisual_sub01.jpg) 50% 0 no-repeat;}
.svisual.sub02 {background:url(../images/sub/svisual_sub02.jpg) 50% 0 no-repeat;}
.svisual.sub03 {background:url(../images/sub/svisual_sub03.jpg) 50% 0 no-repeat;}
.svisual.sub04 {background:url(../images/sub/svisual_sub04.jpg) 50% 0 no-repeat;}

.bread {position:relative; background:#fafafa; border-top:1px solid #ececec; border-bottom:1px solid #f0f0f0; z-index:5;}
.bread .innr {max-width:1498px; margin:0 auto;}
.bread .innr:after {content:""; display:block; clear:both;}
.bread .home {float:left; background:url(../images/sub/ico_bread_home.png) 50% 50% no-repeat; width:2.75rem; height:2.6rem; font:0/0 a;}
.bread .deps {float:left; position:relative;}
.bread .deps:after {content:""; position:absolute; top:50%; left:0; background:#e9e9e9; width:1px; height:1.3rem; margin-top:-0.65rem;}
.bread .deps .selected {display:block; position:relative; min-width:10rem; height:2.6rem; padding:0 3rem 0 1rem; box-sizing:border-box; color:#888; line-height:2.6rem; font-size:0.8rem;}
.bread .deps .selected:after {content:""; position:absolute; top:50%; right:1.5rem; background:url("data:image/svg+xml,%3csvg viewBox='0 0 16 10' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m15.071 2-7.071 7.071-7.071-7.071 1.414-1.414 5.657 5.656 5.657-5.656 1.414 1.414z' fill='%23555'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:100% 100%; width:0.7rem; height:0.4rem; transform:translateY(-50%);
transition:all 0.2s ease;}
.bread.map .deps .selected:after {display:none;}
.bread .deps .layer_deps {position:absolute; top:2.6rem; left:0; background:#04468e; width:calc(100% + 1px); padding:10px 0; opacity:0; visibility:hidden; transition:all 0.2s ease;}
.bread .deps .layer_deps a {display:block; height:2.5rem; padding-left:1.5rem; box-sizing:border-box; color:#fff; line-height:2.5rem; font-size:0.85rem;}
.bread .deps .layer_deps li.on a , .bread .deps .layer_deps a:hover {color:#fff;}
.bread .deps.dep2 .layer_deps {background:#929292;}
.bread .deps.dep2 .layer_deps a {color:#fff;}
.bread .deps.dep2 .layer_deps li.on a , .bread .deps.dep2 .layer_deps a:hover {color:#fff;}

.bread .deps.active .selected:after {transform:rotate(180deg); transform-origin:50% 25%;}
.bread .deps.active .layer_deps {opacity:1; visibility:visible;}
.bread.map .deps .selected:after {display:none;}

main #contents {max-width:1498px; margin:0 auto; padding:4rem 0 7rem 0;}
main #contents h3 {margin-bottom:4.3rem; text-align:center;}
main #contents h3 span {display:inline-block; position:relative; padding-bottom:1.7rem; color:#111; font-size:2.25rem; font-weight:normal;}
main #contents h3 span:after {content:""; position:absolute; bottom:0; left:50%; background:#111; width:100%; height:2px; max-width:4.5rem; transform:translateX(-50%);}
main #contents .stit {margin-bottom:26px; color:#111; font-size:1.5rem;}

@media screen and (max-width:1516px) {
	main #contents {padding-left:1.5rem; padding-right:1.5rem;}
}
@media screen and (max-width:786px) {
	main {margin-top:0;}

	.svisual {height:9.7rem; padding-top:3.4rem;}
	.svisual h2 {font-size:1.5rem;}
	.svisual p {margin-top:0.85rem; font-size:0.55rem;}
	.svisual.sub01 {background-image:url(../images/sub/msvisual_sub01.jpg); background-size:cover;}

	.bread .home {width:1.35rem; height:1.3rem;}
	.bread .deps:after {height:0.65rem; margin-top:-0.3rem;}
	.bread .deps .selected {min-width:5rem; height:1.3rem; padding:0 1.5rem 0 0.5rem;line-height:1.3rem; font-size:0.6rem;}
	.bread .deps .selected:after {right:0.75rem;  width:0.35rem; height:0.2rem;}
	.bread .deps .layer_deps {top:1.3rem; padding:0.25rem 0;}
	.bread .deps .layer_deps a {height:1.25rem; padding-left:0.75rem; line-height:1.25rem; font-size:0.55rem;}

	main #contents {padding:2rem 0.75rem 3.5rem;}
	main #contents h3 {margin-bottom:2.15rem;}
	main #contents h3 span {padding-bottom:0.85rem; font-size:1.1rem;}
	main #contents h3 span:after {max-width:2.25rem;}
	main #contents .stit {margin-bottom:0.5rem; font-size:0.75rem;}
}


.vision .section01 {background:url(../images/sub/img_com205.png) 50% 3rem no-repeat; background-size:44.85rem 26.05rem;}
.vision .section01 .box-01 {text-align:center;}
.vision .section01 .box-01 br {display:none;}
.vision .section01 .box-01 span {display:inline-block; width:11.75rem; height:11.75rem; margin-left:2.5rem; padding-top:6.9rem; box-sizing:border-box;}
.vision .section01 .box-01 span:first-child {margin-left:0;}
.vision .section01 .box-01 span em {display:block; color:#fff; font-size:1rem; text-align:center;}
.vision .section01 .box-01 .l01 {background:url(../images/sub/img_com201.png) 50% 0 no-repeat; background-size:100% 100%;}
.vision .section01 .box-01 .l02 {background:url(../images/sub/img_com202.png) 50% 0 no-repeat; background-size:100% 100%;}
.vision .section01 .box-01 .l03 {background:url(../images/sub/img_com203.png) 50% 0 no-repeat; background-size:100% 100%;}
.vision .section01 .box-01 .l04 {background:url(../images/sub/img_com204.png) 50% 0 no-repeat; background-size:100% 100%;}
.vision .section01 strong {display:block; margin-top:1.5rem; color:#111; font-size:1.7rem; text-align:center; font-weight:normal; line-height:1.3;}
.vision .section01 strong span {font-weight:bold;}
.vision .section01 .box-02 {margin-top:4.5rem; padding:2.3rem 5.5rem 3.8rem; border:1px solid #ddd;}
.vision .section01 .box-02:after {content:""; display:block; clear:both;}
.vision .section01 .box-02 p {float:left; background:#f8f8f8; width:calc(50% - 1rem); height:5rem; margin-top:1.5rem; color:#555; font-size:.9rem; text-align:center; line-height:5rem; letter-spacing:-1.5px;}
.vision .section01 .box-02 p:nth-child(even) {margin-left:2rem;}

.vision .section02 {margin-top:4.5rem;}
.vision .section02 .innr {max-width:1498px; margin:0 auto;}
.vision .section02 .innr:after {content:""; display:block; clear:both;}
.vision .section02 .innr [class^=cell-] {position:relative; float:left; width:calc(33.3% - 2rem); margin:0 0 2rem 3rem; padding-bottom:19.9%;}
.vision .section02 .innr [class^=cell-]:nth-child(1),
.vision .section02 .innr [class^=cell-]:nth-child(4) {margin-left:0;}
.vision .section02 .innr [class^=cell-] p {display:table; position:absolute; bottom:0; left:0; right:0; background:rgba(0,0,0,.6); width:100%;}
.vision .section02 .innr [class^=cell-] p span {display:table-cell; height:5.75rem; color:#fff; font-size:1rem; text-align:center; vertical-align:middle; line-height:1.6;}
.vision .section02 .innr .cell-01 {background:url(../images/sub/img_com206.jpg) 0 0 no-repeat; background-size:100% 100%;}
.vision .section02 .innr .cell-02 {background:url(../images/sub/img_com207.jpg) 0 0 no-repeat; background-size:100% 100%;}
.vision .section02 .innr .cell-03 {background:url(../images/sub/img_com208.jpg) 0 0 no-repeat; background-size:100% 100%;}
.vision .section02 .innr .cell-04 {background:url(../images/sub/img_com209.jpg) 0 0 no-repeat; background-size:100% 100%;}
.vision .section02 .innr .cell-05 {background:url(../images/sub/img_com210.jpg) 0 0 no-repeat; background-size:100% 100%;}
.vision .section02 .innr .cell-06 {background:url(../images/sub/img_com211.png) 0 0 no-repeat; background-size:100% auto;}

@media screen and (max-width:786px) {
	.vision .section01 {background-position:50% 1.5rem; background-size:22.4rem 13rem;}
	.vision .section01 .box-01 br {display:block;}
	.vision .section01 .box-01 span {width:5.85rem; height:5.85rem; margin-left:1.25rem; margin-bottom:0.6rem; padding-top:3.45rem;}
	.vision .section01 .box-01 span em {font-size:0.55rem;}
	.vision .section01 .box-01 span.l03 {margin-left:0;}
	.vision .section01 strong {margin-top:0.75rem; font-size:0.85rem;}
	.vision .section01 .box-02 {margin-top:2.25rem; padding:0.25rem;}
	.vision .section01 .box-02 p {width:100%; height:2.5rem; margin-top:0.25rem; margin-left:0 !important; font-size:0.55rem; line-height:2.5rem;}
	.vision .section02 {margin-top:2.25rem;}
	.vision .section02 .innr [class^=cell-] {width:100%; margin:0 0 0.25rem 0; padding-bottom:45%;}
	.vision .section02 .innr [class^=cell-] p span {height:2.85rem; font-size:0.55rem;}
	.vision .section02 .innr .cell-06 {background-size:11.5rem auto; margin-top:1rem; padding-bottom:29.7%;}
}

.history.section {background:url(../images/sub/bg_history.png) 50% 0 repeat-y;}
.history.section .list_wrap {position:relative;}
.history.section .list_wrap:after {content:""; display:block; clear:both;}
.history.section .list_wrap strong {display:block; background:#fff; width:100%; margin-bottom:10px; padding:0.5rem 0; color:#04468d; font-size:2.5rem; text-align:center;}
.history.section .list_wrap [class^=list-] em {color:#111; font-size:0.9rem;}
.history.section .list_wrap [class^=list-] span {color:#555; font-size:0.9rem; letter-spacing:-1.5px;}
.history.section .list_wrap [class^=list-] > div {position:relative; margin-bottom:1.5rem;}
.history.section .list_wrap:last-child [class^=list-] > div:last-child {margin-bottom:0;}
.history.section .list_wrap [class^=list-] > div:after {content:""; display:block; clear:both;}
.history.section .list_wrap [class^=list-] > div:before {content:""; position:absolute; top:50%; background:#fff; width:0.85rem; height:0.85rem; border:2px solid #04468d; border-radius:50%; transform:translateY(-50%); z-index:5;}
.history.section .list_wrap [class^=list-] > div i:before {content:""; position:absolute; top:50%; background:#ddd; width:8.7rem; height:1px; transform:translateY(-50%);}
.history.section .list_wrap [class^=list-] > div i:after {content:""; position:absolute; top:50%; background:#04468d; width:0.4rem; height:0.4rem; border-radius:50%; transform:translateY(-50%);}
.history.section .list_wrap [class^=list-] em {width:1.9rem;}
.history.section .list_wrap [class^=list-] span {width:calc(100% - 2.9rem);}

.history.section .list_wrap .list-right {float:right; width:50%;}
.history.section .list_wrap .list-right > div {padding-left:9.6rem;}
.history.section .list_wrap .list-right > div:before {left:-0.45rem;}
.history.section .list_wrap .list-right > div i:before {left:-0.65rem;}
.history.section .list_wrap .list-right > div i:after {left:8.05rem;}
.history.section .list_wrap .list-right em {float:left; margin-right:1rem;}
.history.section .list_wrap .list-right span {float:left; text-align:left;}

.history.section .list_wrap .list-left {float:left; width:50%;}
.history.section .list_wrap .list-left > div {padding-right:9.6rem;}
.history.section .list_wrap .list-left > div:before {right:-0.45rem;}
.history.section .list_wrap .list-left > div i:before {right:-0.65rem;}
.history.section .list_wrap .list-left > div i:after {right:8.05rem;}
.history.section .list_wrap .list-left em {float:right; margin-left:1rem;}
.history.section .list_wrap .list-left span {float:right; text-align:right;}

@media screen and (max-width:786px) {
	.history.section {background-position:0.1rem 2.25rem;}
	.history.section .list_wrap strong {background:transparent; padding:0.25rem 0; font-size:1.25rem;}
	.history.section .list_wrap:first-child strong {background:#fff;}
	.history.section .list_wrap [class^=list-] {float:left; width:100%;}
	.history.section .list_wrap [class^=list-] > div {margin-bottom:0.25rem; padding:0 0 0 0.7rem;}
	.history.section .list_wrap [class^=list-] > div:before,
	.history.section .list_wrap [class^=list-] > div i:before {display:none;}
	.history.section .list_wrap [class^=list-] > div i:after {top:0.3rem; left:0; width:0.2rem; height:0.2rem; transform:translateY(0);}
	.history.section .list_wrap [class^=list-] em {width:1.25rem; margin:0;}
	.history.section .list_wrap [class^=list-] em,
	.history.section .list_wrap [class^=list-] span {float:left; width:100%; font-size:0.55rem; text-align:left;}
	.history.section .list_wrap [class^=list-] span {margin:0 0 0 0.25rem;}
	.history.section .list_wrap [class^=list-] span br {display:none;}
}

.location .stit {margin-top:3.5rem;}
.location .stit.first {margin-top:0;}
.location .map iframe {width:100%; height:28rem; margin-bottom:0.5rem;}
.location dl {display:table; width:100%; border-bottom:1px solid #ddd;}
.location dl dt,
.location dl dd {display:table-cell; padding:1.5rem 0; font-size:0.9rem; line-height:1.3;}
.location dl dt {width:8.5rem; height:4rem; color:#111; font-weight:bold;}
.location dl dd {width:calc(100% - 8.5rem); color:#555;}
.location dl dd br {display:none;}
@media screen and (max-width:786px) {
	.location .stit {margin-top:1.75rem;}
	.location .map iframe {width:100%; height:14rem; margin-bottom:0.25rem;}
	.location dl dt,
	.location dl dd {padding:0.75rem 0; font-size:0.55rem;}
	.location dl dt {width:3.5rem; height:2rem;}
	.location dl dd {width:calc(100% - 3.5rem);}
	.location dl dd br {display:block;}
}

.sppt1 .stit {margin-top:4rem;}
.sppt1 .desc {margin-top:3.75rem; color:#111; font-size:1.7rem; text-align:center; line-height:1.5;}
.sppt_step {border:1px solid #ddd;}
.sppt_step:after {content:""; display:block; clear:both;}
.sppt_step li {float:left; position:relative; width:33.3%; height:13rem; padding:1.75rem 0 0 2.25rem; border-left:1px solid #ddd; box-sizing:border-box;}
.sppt_step li em {color:#ddd; font-size:2rem; font-weight:bold; font-family:"Montserrat";}
.sppt_step li p {margin-top:1rem; color:#555; font-size:0.9rem; line-height:1.6;}
.sppt_step li .btn_down {position:absolute; bottom:2rem; right:2rem; background:url(../images/sub/ico_sppt1_01.png) 0 0 no-repeat; background-size:2.95rem 2.5rem; width:2.95rem; height:2.5rem; font:0/0 a;}
.sppt_step li.s02 {background:url(../images/sub/ico_sppt1_02.png) calc(100% - 2rem) calc(100% - 2rem) no-repeat; background-size:2.3rem 2.7rem;}
.sppt_step li.s03 {background:url(../images/sub/ico_sppt1_03.png) calc(100% - 2rem) calc(100% - 2rem) no-repeat; background-size:2.85rem 1.9rem;}
.sppt1 .tbl table {width:100%; border:1px solid #111; border-width:1px 0;}
.sppt1 .tbl table .sppt1_col {width:15%;}
.sppt1 .tbl table th,
.sppt1 .tbl table td {height:3.9rem; border-bottom:1px solid #ddd; vertical-align:middle; text-align:left;}
.sppt1 .tbl table th {background:#f8f8f8; padding-left:2rem; color:#111; font-size:0.9rem;}
.sppt1 .tbl table td {padding-left:2.9rem; color:#555; font-size:0.9rem;}
.sppt1 .step {width:67.85rem; margin:0 auto; font-size:0; text-align:center;}
.sppt1 .step > i {display:inline-block; background:url(../images/sub/arrow_sppt1.png) 0 0 no-repeat; background-size:5.65rem 0.65rem; width:5.65rem; height:0.65rem; margin-top:4.15rem; vertical-align:top;}
.sppt1 .step > div {display:inline-block; width:9.05rem; vertical-align:top;}
.sppt1 .step > div span {display:block; width:9.05rem; height:9.05rem;}
.sppt1 .step > div strong {display:block; margin:0.75rem 0; color:#111; font-size:1rem;}
.sppt1 .step > div p {display:block; color:#555; font-size:0.9rem;}
.sppt1 .step .st01 span {background:url(../images/sub/img_sppt101.png) 0 0 no-repeat; background-size:100% 100%;}
.sppt1 .step .st02 span {background:url(../images/sub/img_sppt102.png) 0 0 no-repeat; background-size:100% 100%;}
.sppt1 .step .st03 span {background:url(../images/sub/img_sppt103.png) 0 0 no-repeat; background-size:100% 100%;}
.sppt1 .step .st04 span {background:url(../images/sub/img_sppt104.png) 0 0 no-repeat; background-size:100% 100%;}
.sppt1 .step .st05 span {background:url(../images/sub/img_sppt105.png) 0 0 no-repeat; background-size:100% 100%;}
.sppt1 .sppt_notice {background:#f8f8f8 url(../images/sub/ico_sppt1.png) 2.9rem 50% no-repeat; background-size:2.05rem 2.05rem; margin-top:2.5rem; padding:1.8rem 0 1.8rem 7.6rem;}
.sppt1 .sppt_notice p {margin-top:0.75rem; color:#555; font-size:0.9rem;}
.sppt1 .sppt_notice p:first-child {margin-top:0;}
.sppt1 .doc {display:table; width:100%; margin-top:2rem; border:1px solid #ddd;}
.sppt1 .doc strong, .sppt1 .doc p {display:table-cell; vertical-align:middle; font-size:0.9rem;}
.sppt1 .doc strong {width:8.7rem; margin-right:2.9rem; padding-left:2.5rem; box-sizing:border-box; color:#111; font-weight:bold;}
.sppt1 .doc p {padding:2.5rem 0 2.5rem 0.75rem; color:#555;}
.sppt1 .doc p br {display:none;}
@media screen and (max-width:786px) {
	.sppt1 .stit {margin-top:2rem;}
	.sppt1 .desc {margin-top:1.85rem; font-size:0.75rem;}
	.sppt_step li {width:100%; height:5.85rem; padding:1rem 0 0 1.25rem; border-top:1px solid #ddd; border-left:0;}
	.sppt_step li:first-child {border-top:0;}
	.sppt_step li em {font-size:17px;}
	.sppt_step li p {margin-top:10px; font-size:11px;}
	.sppt_step li .btn_down {bottom:1rem; right:1rem; background-size:29px 25px; width:29px; height:25px;}
	.sppt_step li.s02 {background-position:calc(100% - 1rem) calc(100% - 1rem); background-size:1.15rem 1.35rem;}
	.sppt_step li.s03 {background-position:calc(100% - 1rem) calc(100% - 1rem); background-size:1.4rem 0.95rem;}
	.sppt1 .tbl table .sppt1_col {width:30%;}
	.sppt1 .tbl table th, .sppt1 .tbl table td {height:1.95rem;}
	.sppt1 .tbl table th {padding-left:0.75rem; font-size:0.55rem;}
	.sppt1 .tbl table td {padding-left:0.75rem; font-size:0.55rem;}
	.sppt1 .step {width:auto;}
	.sppt1 .step > i {display:none;}
	.sppt1 .step > div {width:4.5rem; margin-left:0.95rem;}
	.sppt1 .step > div.st01, .sppt1 .step > div.st04 {margin-left:0;}
	.sppt1 .step > div.st04, .sppt1 .step > div.st05 {margin-top:0.9rem;}
	.sppt1 .step > div span {width:4.5rem; height:4.5rem;}
	.sppt1 .step > div strong {margin:0.4rem 0; font-size:0.6rem;}
	.sppt1 .step > div p {font-size:0.55rem;}
	.sppt1 .sppt_notice {background-position:.45rem 50%; background-size:1rem 1rem; margin-top:1.25rem; padding:0.9rem 0 0.9rem 2rem;}
	.sppt1 .sppt_notice p {margin-top:0.35rem; font-size:0.55rem;}
	.sppt1 .doc {display:block; margin-top:2rem; padding:0.5rem;}
	.sppt1 .doc strong, .sppt1 .doc p {display:block; font-size:0.55rem;}
	.sppt1 .doc strong {width:4.35rem; margin-right:1.45rem; padding-left:0;}
	.sppt1 .doc p {margin-top:0.5rem; padding:0; line-height:1.4;}
	.sppt1 .doc p br {display:block;}
}

.bss1 .text {margin:4rem 0 3.5rem; color:#555; font-size:0.9rem; line-height:2; text-align:center; word-break:keep-all;}
.bss1 .desc {margin-top:3.75rem; color:#111; font-size:1.7rem; text-align:center; line-height:1.5;}
.bss1 .desc .mo {display:none;}
@media screen and (max-width:786px) {
	.bss1 .text {margin:2rem 0 1.75rem; font-size:0.55rem;}
	.bss1 .text br {display:none;}
	.bss1 .desc {margin-top:1.85rem; font-size:0.85rem;}
	.bss1 .desc .mo {display:block;}
}

.mft1 .text {margin:4rem 0 3.5rem; color:#555; font-size:0.9rem; line-height:2; text-align:center; word-break:keep-all;}
.mft1 .desc {margin-top:3.75rem; color:#111; font-size:1.7rem; text-align:center; line-height:1.5; letter-spacing:-2px; word-break:keep-all;}
.mft1 .desc .mo {display:none;}
.mft1 .mft1_step {font-size:0; text-align:center;}
.mft1 .mft1_step li {display:inline-block; width:14.4rem; margin-left:5.75rem; vertical-align:top;}
.mft1 .mft1_step li:first-child {margin-left:0;}
.mft1 .mft1_step li i {display:block; width:100%; height:14.4rem;}
.mft1 .mft1_step li em {display:block; margin-top:1.5rem; color:#04468d; font-size:2rem; text-align:center; font-family:"Montserrat";}
.mft1 .mft1_step li strong {display:block; margin-top:0.75rem; color:#111; font-size:1.2rem; text-align:center;}
.mft1 .mft1_step li p {margin-top:1rem; color:#555; font-size:0.9rem; text-align:center; line-height:1.5; letter-spacing:-1px;}
.mft1 .mft1_step li.s01 i {background:url(../images/sub/img_mft0102.png) 0 0 no-repeat; background-size:100% 100%;}
.mft1 .mft1_step li.s02 i {background:url(../images/sub/img_mft0103.png) 0 0 no-repeat; background-size:100% 100%;}
.mft1 .mft1_step li.s03 i {background:url(../images/sub/img_mft0104.png) 0 0 no-repeat; background-size:100% 100%;}
.mft1 .mft1_step li.s04 i {background:url(../images/sub/img_mft0105.png) 0 0 no-repeat; background-size:100% 100%;}
.mft1 .mft1_step li.s51 i {background:url(../images/sub/img_mft0106.png) 0 0 no-repeat; background-size:100% 100%;}
@media screen and (max-width:1516px) {
	.mft1 .mft1_step li {margin-left:4.35rem;}
}
@media screen and (max-width:786px) {
	.mft1 .text {margin:2rem 0 1.75rem; font-size:0.55rem;}
	.mft1 .text br {display:none;}
	.mft1 .desc {margin-top:1.85rem; font-size:0.75rem;}
	.mft1 .desc .mo {display:block;}	
	.mft1 .mft1_step li {width:7.2rem; min-height:13.45rem; margin-left:1.6rem;}
	.mft1 .mft1_step li.s03 {margin-left:0;}
	.mft1 .mft1_step li i {height:7.2rem;}
	.mft1 .mft1_step li em {margin-top:15px; font-size:1rem;}
	.mft1 .mft1_step li strong {margin-top:0.35rem; font-size:0.6rem;}
	.mft1 .mft1_step li p {margin-top:0.5rem; font-size:0.4rem; letter-spacing:-2px;}
	.mft1 .mft1_step li.s03 p br {display:none;}
}

.bss2 .tab {background-color:#fafafa; margin-bottom:5rem; border-bottom:2px solid #04468d;}
.bss2 .tab:after {content:""; display:block; clear:both;}
.bss2 .tab a {float:left; position:relative; width:25%; height:2.8rem; box-sizing:border-box; color:#555; font-size:1rem; text-align:center; line-height:2.8rem;}
.bss2 .tab a:before {content:""; position:absolute; top:50%; left:0; background:#ddd; width:1px; height:0.7rem; transform:translateY(-50%);}
.bss2 .tab a:first-child:before {display:none;}
.bss2 .tab a.on {background-color:#04468d; color:#fff;}
@media screen and (max-width:786px) {
	.bss2 .tab {margin-bottom:2.5rem;}
	.bss2 .tab a {height:1.4rem; font-size:0.6rem; line-height:1.4rem;}
	.bss2 .tab a:before {height:0.35rem;}
}
