@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:100; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:300; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:400; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:500; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:700; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {font-family:"Noto Sans KR"; font-style:normal; font-weight:900; src:url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"),
	url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype");
}


html , body , div , span , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , a , address , em , img , strong , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , footer , header , hgroup , menu , nav , section , summary , video {margin:0; padding:0; border:0; box-sizing:border-box;font-size:100%; vertical-align:baseline;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section {display:block;}
body {line-height:1.2; font-family:'Noto Sans KR',"Malgun Gothic","맑은 고딕","AppleSDGothicNeo-Medium","Helvetica","AppleGothic","Sans-serif","Dotum","Verdana","Helvetica",sans-serif; font-size:12px; letter-spacing:-.5px;}
html {font-size:2.8vw;}
ol , ul {list-style:none;}
em , i {font-style:normal;}
table {border-collapse:collapse; border-spacing:0;}
a , button {font-family:inherit;}
a {color:inherit; color:inherit; font-family:inherit; font-weight:normal; text-decoration:none;}
a:active , a:visited , a:hover {text-decoration:none; outline:none;}
button {background:none; margin:0; padding:0; border:0 none; color:inherit; font-size:inherit; cursor:pointer; outline:none;}
img {max-width:100%; vertical-align:middle;}
fieldset {border:0 none !important;}
input[type="text"] , input[type="number"] , input[type="password"] {margin:0; padding:0; border:1px solid #ddd; box-sizing:border-box; color:inherit; font-family:inherit; outline:none; -webkit-appearance:none;}
input[type="text"]::-ms-clear {display:none;}
input[type="text"]:-ms-clear {display:none;}
a , textarea {color:inherit; font-family:inherit; text-decoration:none;}
textarea::-webkit-input-placeholder {color:#dcdcdc;}
textarea:-ms-input-placeholder {color:#dcdcdc;}
input[type="text"]::-webkit-input-placeholder , input[type="number"]::-webkit-input-placeholder {color:#dcdcdc;}
input[type="text"]:-ms-input-placeholder , input[type="number"]:-ms-input-placeholder {color:#dcdcdc;}
input[type="number"]::-webkit-outer-spin-button , input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;}

#ssneo_warp {overflow:hidden; position:relative; width:100%; z-index:10;}

header {position:relative; width:100%; max-width:1280px; height:100px; margin:0 auto; padding:33px 70px 0; box-sizing:border-box;}
header .gnb {position:absolute; top:0; left:242px;}
header .gnb:after {content:""; display:block; clear:both;}
header .gnb li {float:left;}
header .gnb li a {display:block; height:100px; padding:0 33px; color:#111; font-size:20px; font-weight:bold; line-height:100px;}
header .util {position:absolute; top:50%; right:70px; font-size:0;}
header .util a {display:inline-block; position:relative; padding:0 14px; color:#666; font-size:16px; transform:translateY(-50%);}
header .util a:first-child:after {content:""; position:absolute; top:50%; right:0; background:#e8e8e8; width:1px; height:10px; transform:translateY(-50%);}
header .btn_menu {display:none; position:absolute; top:41px; right:73px;}

@media screen and (max-width:1158px) {
	header .gnb,
	header .util {display:none;}
	header .btn_menu {display:block;}
}
@media screen and (max-width:768px) {
	header {height:55px; padding:20px 35px 0;}
	header h1 img {height:17px;}
	header .btn_menu {top:20px; right:35px; width:20px; height:15px;}
}

footer {background:#1e1e1e;}
footer .fMenu {background:#222; padding:60px 0;}
footer .fMenu .innr {width:100%; max-width:1280px; margin:0 auto; padding:0 70px;}
footer .fMenu .innr:after {content:""; display:block; clear:both;}
footer .fMenu .innr .fgnb {float:left; width:calc(100% - 260px);}
footer .fMenu .innr .fgnb .box {float:left; width:22%;}
footer .fMenu .innr .fgnb .box:first-child {width:25%;}
footer .fMenu .innr .fgnb .box:last-child {width:31%;}
footer .fMenu .innr .fgnb .box a {display:block; padding:10px 0; color:rgba(2525,255,255,.35); font-size:18px;}
footer .fMenu .innr .fgnb .box .dep2 a {font-size:16px;}
footer .fMenu .innr .down_info {float:right; width:260px;}
footer .fMenu .innr .down_info a {display:block; background:#1b1b1b; width:100%; height:40px; margin-top:10px; color:rgba(255,255,255,.3); font-size:16px; text-align:center; line-height:40px;}
footer .fMenu .innr .down_info a:first-child {margin-top:0;}

footer .copy_wrap {width:100%; max-width:1280px; margin:0 auto; padding:50px 70px 60px;}
footer .copy_wrap .addr {font-size:0;}
footer .copy_wrap .addr span {display:inline-block; margin:10px 20px 0 0; padding-right:20px; border-right:1px solid #353535; color:rgba(2525,255,255,.2); font-size:14px;}
footer .copy_wrap .addr span:last-child {margin-right:0; padding-right:0; border-right:0;}
footer .copy_wrap p.copy {margin-top:10px; color:rgba(2525,255,255,.2); font-size:13px; font-family:Myriad Pro; letter-spacing:0;}
footer .copy_wrap .certifi {margin-top:40px; font-size:0;}
footer .copy_wrap .certifi a {display:inline-block; margin-left:30px;}
footer .copy_wrap .certifi a:first-child {margin-left:0;}
@media screen and (max-width:1158px) {
	footer .fMenu .innr .fgnb {width:calc(100% - 200px);}
	footer .fMenu .innr .fgnb .box,
	footer .fMenu .innr .fgnb .box:first-child,
	footer .fMenu .innr .fgnb .box:last-child {width:25%;}
	footer .fMenu .innr .down_info {width:200px;}
}


main {padding-top:210px; transition:padding .2s ease;}
@media screen and (max-width:1158px) {
	main {padding-top:110px;}
}
@media screen and (max-width:768px) {
	main {padding-top:55px;}
}

/* Main */
@keyframes slideUP{ 0% {opacity:0; transform:translateY(10px);} 100% {opacity:1; transform:translateY(0);}}
@keyframes opacty{ 0% {opacity:0;} 100% {opacity:1;}}

.visual .text {width:100%; max-width:1280px; margin:0 auto; padding:0 70px 100px;}
.visual .text p {color:#111; font-size:80px; font-weight:300;}
.visual .text p strong {font-weight:bold;}
.visual .swiper-slide .img {height:600px; transition:height .2s ease;}
.visual .swiper-slide-active p {opacity:0; transform:translateY(10px); animation:slideUP 1s ease .5s 1 both;}
.visual .swiper-container .swiper-pagination {position:absolute; top:40px; bottom:auto; left:50%; right:auto; width:1280px; padding:0 70px; font-size:0; text-align:right; transform:translateX(-50%);}
.visual .swiper-pagination span {display:inline-block; background:transparent; width:20px; height:20px; margin:0 0 0 10px !important; border:6px solid #ccc; border-radius:50%; box-sizing:border-box; opacity:1;}
.visual .swiper-pagination span[class*=active] {border-color:#2dd0d4;}

.main section .innr {position:relative; width:100%; max-width:1280px; margin:0 auto; padding:110px 70px 0; box-sizing:border-box;}
.main section .text {position:relative; z-index:5;}
.main section h2 {color:#111; font-size:80px; font-weight:300; transition:font-size .2s ease;}
.main section .desc {margin-top:20px; color:#999; font-size:24px; line-height:1.5;}
.main section .btns {margin-top:40px;}
.main section .btns .goto {display:inline-block; background:#2dd0d4; height:60px; padding:0 50px; border-radius:60px; color:#fff; font-size:20px; line-height:60px;}

.sct02 {background:#f4f6f8;}
.sct02 .innr {height:1000px;}
.sct02 h2 strong {display:block;}
.sct02 .img {position:absolute; bottom:0; right:0;}

.sct02 h2, .sct02 .desc, .sct02 .btns,
.sct03 h2, .sct03 .desc, .sct03 .btns {opacity:0; transform:translateY(10px);}
.sct04 h2, .sct04 .desc, .sct04 .btns
.sct02 .img,
.sct04 .img {opacity:0;}

.sct02.active h2,
.sct03.active h2,
.sct04.active h2 {animation:slideUP 1s ease .5s 1 both;}
.sct02.active .desc,
.sct03.active .desc,
.sct04.active .desc {animation:slideUP 1s ease .9s 1 both;}
.sct03.active .btns,
.sct02.active .btns,
.sct04.active .btns {animation:slideUP 1s ease 1.4s 1 both;}
.sct02.active img,
.sct04.active img {animation:opacty 1s ease .5s 1 both;}

.main section.sct03 .innr {padding-bottom:80px;}
.sct03 .bbs-list {margin-top:58px;}
.sct03 .bbs-list li {margin-top:20px;}
.sct03 .bbs-list li:first-child {margin-top:0;}
.sct03 .bbs-list li a {display:table; background:#f6f6f6; width:100%; height:100px;}
.sct03 .bbs-list li a span,
.sct03 .bbs-list li a p,
.sct03 .bbs-list li a em {display:table-cell; vertical-align:middle;}
.sct03 .bbs-list li a span {width:12%; color:#17bac6; font-size:16px; font-weight:bold; text-align:center;}
.sct03 .bbs-list li a p {width:70%; color:#333; font-size:20px;}
.sct03 .bbs-list li a em {width:17%; color:#898989; font-size:18px; text-align:center;}

.sct04 {background:#edf1f4;}
.sct04 .innr {height:930px;}
.sct04 h2 strong {display:block;}
.sct04 .btns a {display:inline-block; margin-right:10px; vertical-align:middle;}
.sct04 .btns a.goto:after {content:""; display:inline-block; background:url(../images/ico_ast.png) 0 0 no-repeat; width:18px; height:18px; margin-left:10px; vertical-align:-1px;}
.sct04 .btns .qr {display:block; margin:58px 0 0 -22px;}
.sct04 .img {position:absolute; bottom:0; right:-252px;}

.csCenter {width:100%; max-width:1280px; margin:0 auto; padding:60px 70px;}
.csCenter:after {content:""; display:block; clear:both;}
.csCenter .cs_box {float:left;}
.csCenter .cs_box dl {margin-top:60px;}
.csCenter .cs_box dl:first-child {margin-top:0;}
.csCenter .cs_box dl:after {content:""; display:block; clear:both;}
.csCenter .cs_box dl dt {float:left; width:240px; color:#333; font-size:24px; font-weight:bold;}
.csCenter .cs_box dl dd {float:left;}
.csCenter .cs_box dl dd strong {display:block; margin-top:-6px; color:#333; font-size:44px;}
.csCenter .cs_box dl dd span {display:block; margin-top:5px; color:#999; font-size:16px;}
.csCenter .cs_box dl dd p {margin-bottom:15px; color:#666; font-size:18px;}
.csCenter .cs_box dl dd p img {vertical-align:-1px;}
.csCenter .sns_box {float:right; width:367px; font:0/0 a;}
.csCenter .sns_box a {display:inline-block; margin:0 0 40px 40px;}
@media screen and (min-width:1158px) {
	.csCenter .sns_box a:nth-child(4n+1) {margin-left:0;}
}

@media screen and (max-width:1158px) {
	.visual .text {text-align:center;}
	.visual .text p {font-size:60px;}
	.visual .swiper-container .swiper-pagination {top:130px; text-align:center;}
	.main section h2 {font-size:60px;}

	.sct02 .innr {height:1160px;}
	.sct04 .innr {height:1220px;}
	.sct04 .img {right:-130px;}
	.csCenter .cs_box {width:100%;}
	.csCenter .cs_box dl dt {width:180px;}
	.csCenter .sns_box {width:100%; margin-top:50px; text-align:center;}
	.csCenter .sns_box a {margin-left:20px;}
}

@media screen and (max-width:768px) {
	.visual .text {padding:0 35px 50px;}
	.visual .text p {font-size:20px;}
	.visual .swiper-slide .img {height:300px;}
	.visual .swiper-container .swiper-pagination {top:40px;}
	.visual .swiper-container .swiper-pagination span {width:10px; height:10px; border-width:3px;}

	.main section .innr {padding:55px 35px 0;}
	.main section h2 {font-size:33px;}
	.main section .desc {margin-top:15px; font-size:12px;}
	.main section .btns {margin-top:20px;}
	.main section .btns .goto {height:30px; padding:0 25px; font-size:11px; line-height:30px;}

	.sct02 .innr {height:650px;}
	.sct02 .innr .img {width:calc(100% - 70px); right:50%; transform:translate(50%);}
}

@media screen and (max-width:500px) {
	.sct02 .innr {height:550px;}
}
