@charset "utf-8";

html, body, div, span,  iframe, h1, h2, h3, h4, h5, h6, p, a, address, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, hgroup, menu, nav, section, summary, video {margin:0; padding:0; border:0; vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block; font-family:"Noto Sans KR", "맑은 고딕", dotum; box-sizing:border-box;}
html {font-size:3.125vw;}
body {color:#383838; font-size:12px; line-height:1.2; font-family:"Noto Sans KR", "맑은 고딕", dotum;}
ol, ul {list-style:none;}
em,i {font-style:normal;}
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed; word-break:break-all;}
a, button {font-family:inherit;}
a {color:inherit; font-family:inherit; text-decoration:none; font-weight:normal; color:inherit;}
a:active, a:visited, a:hover {text-decoration:none; outline:none; color:inherit;}
button {background:none; border:0 none; color:inherit; font-size:inherit; outline:none; cursor:pointer;}

h1,h2,h3,h4,h5,h6,th,
strong {font-weight:500; vertical-align:0;}
textarea {font-family:"Noto Sans KR", "맑은 고딕", dotum;}

fieldset {border:0 none !important;}
img {width:100%; vertical-align:middle;}

#event_wrap {overflow:hidden;}


.roulet {position:relative;}
.roulet .coupon_cnt {position:absolute; top:15.9rem; left:2.8rem; width:26.5rem; height:3.9rem; color:#fff; font-size:1.7rem; text-align:center; line-height:3.9rem;}
.roulet .coupon_cnt span {display:inline-block; color:#ffeb00; font-size:2.5rem; vertical-align:top;}

.roulet .btn_roulette {position:absolute; top:23.8rem; left:2rem; width:28rem; height:28rem; z-index:10;}
.roulet .event_roulette {position:absolute; top:23.8rem; left:2rem; width:28rem; height:28rem; z-index:9;}
.roulet .event_roulette:after {content:""; position:absolute; top:1rem; left:0; background:#e8c538; width:28rem; height:28rem; border-radius:50%; z-index:1;}
.roulet .event_roulette img {position:relative; z-index:2;}
.roulet .img1 {position:absolute; top:43.8rem; left:1.2rem; width:7.6rem; height:8.8rem; z-index:15;}
.roulet .pin {position:absolute; top:21.2rem; left:13.9rem; width:4.3rem; height:5.9rem; z-index:20;}
.roulet .btn_point {position:absolute; bottom:10.3rem; left:5.4rem; width:21.2rem; height:4.6rem; font:0/0 a;}

.ev_02 {position:relative;}
.ev_02 a {position:absolute; width:8.1rem; height:3.2rem; font:0/0 a;}
.ev_02 a.cnt01 {bottom:7.6rem; left:2.9rem;}
.ev_02 a.cnt02 {bottom:7.6rem; left:11.9rem;}
.ev_02 a.cnt03 {bottom:7.6rem; left:21rem;}
.ev_02 a.cnt04 {bottom:3.6rem; left:6.9rem;}
.ev_02 a.cnt05 {bottom:3.6rem; left:16rem;}

.layer-wrap {display:none; position:absolute; top:0; left:0; width:100%; z-index:50;}
.layer-wrap:after {content:""; position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(0,0,0,.8); z-index:15;}
.layer-wrap .layer-conts {position:absolute; top:0; left:0; width:100%; z-index:16;}

.point .layer-conts .point_total {position:absolute; top:17.5rem; left:0; right:0; color:#fff; font-size:1.3rem; text-align:center;}
.point .layer-conts .point_total span {color:#ffdb4b;}
.point .layer-conts .point_list .list {background:url(img/layer_point_bg1.png) 0 0 no-repeat; background-size:cover;}
.point .layer-conts .point_list .list:last-child {background:url(img/layer_point_bg2.png) 0 0 no-repeat; background-size:cover;}
.point .layer-conts .point_list .list > div {display:table; width:20.5rem; margin:0 auto;}
.point .layer-conts .point_list .list span {display:table-cell; width:50%; box-sizing:border-box; height:3rem; color:#fff; font-size:1.5rem; text-align:center; line-height:3rem;}
.layer-wrap .layer-conts .close {position:absolute; bottom:1.5rem; left:11.5rem; width:9.2rem; height:3.5rem;}
.layer-wrap .layer-conts [class^=win-] {display:none;}

#ev_header {position:relative; background:#2d1461; height:45px;}
#ev_header h1 {position:absolute; top:0; bottom:0; left:0; right:0; width:107px; height:22px; font:0/0 a; margin:auto;}
#ev_header h1 .logo img {width:100%;}
#ev_header .home {position:absolute; top:0; left:0; width:40px; height:45px; font-size:0; line-height:0;}
#ev_header .home img {position:absolute; top:0; bottom:0; left:0; right:0; width:26px; margin:auto;}
