@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/nanumgothic.css);

html , body , div , span , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , a , address , em , img , strong , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , footer , header , hgroup , menu , nav , section , summary , video {margin:0; padding:0; border:0; box-sizing:border-box;font-size:100%; vertical-align:baseline;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section {display:block;}
body {background:#f8f8f8; color:#222; line-height:1.2; font-family:"Nanum Gothic","Malgun Gothic","맑은 고딕","AppleSDGothicNeo-Medium","Helvetica","AppleGothic","Sans-serif","Dotum","Verdana","Helvetica",sans-serif;font-size:12px;}
html {font-size:2.8vw;}
ol , ul {list-style:none;}
em , i {font-style:normal;}
table {border-collapse:collapse; border-spacing:0;}
a , button {font-family:inherit;}
a {color:inherit; color:inherit;font-family:inherit; font-weight:normal; text-decoration:none;}
a:active , a:visited , a:hover {text-decoration:none; outline:none;}
button {background:none; margin:0; padding:0; border:0 none; color:inherit; font-size:inherit; cursor:pointer;outline:none;}
img {max-width:100%; vertical-align:middle;}
fieldset {border:0 none !important;}
input[type="text"] , input[type="number"] , input[type="password"] {margin:0; padding:0; border:1px solid #ddd; box-sizing:border-box; color:inherit; font-family:inherit; outline:none; -webkit-appearance:none;}
input[type="text"]::-ms-clear {display:none;}
input[type="text"]:-ms-clear {display:none;}
a , textarea {color:inherit; font-family:inherit; text-decoration:none;}
textarea::-webkit-input-placeholder {color:#dcdcdc;}
textarea:-ms-input-placeholder {color:#dcdcdc;}
input[type="text"]::-webkit-input-placeholder , input[type="number"]::-webkit-input-placeholder {color:#dcdcdc;}
input[type="text"]:-ms-input-placeholder , input[type="number"]:-ms-input-placeholder {color:#dcdcdc;}
input[type="number"]::-webkit-outer-spin-button , input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;}

#hc_warp {overflow:hidden; position:relative; width:100%; padding:0 140px 0 200px; z-index:10;}

header {position:fixed; top:0; left:0; bottom:0; background:#fff; width:200px; z-index:10;}
header h1 {position:relative; background:#fff; padding:48px 0 17px; z-index:6;text-align:center;}
header .btn_allMenu {display:none;}

.gnb_wrap {padding:17px 0 0 0;}
.gnb_wrap > ul > li {position:relative;}
.gnb_wrap > ul > li > a {display:block; height:56px; padding-left:30px; line-height:56px; font-size:17px; font-weight:bold;}
.gnb_wrap > ul > li.on > a , .gnb_wrap > ul > li > a:hover {color:#f37121;}
.gnb_wrap .dep2 {display:none; position:absolute; top:0; left:100%; background:rgba(0,0,0,0.8); padding:20px 0; z-index:9;white-space:nowrap;}
.gnb_wrap .dep2 a {display:block; height:40px; padding:0 40px; color:#fff; line-height:40px; font-size:16px; font-weight:bold;}
.gnb_wrap .dep2 a:hover {color:#f37121;}
.gnb_wrap > ul > li.on .dep2 {display:block;}

#quick {position:fixed; top:0; right:0; bottom:0; background:#f37121; width:140px; transition:all .2s ease;}
#quick h2 {background:#2f2f2f url(../images/text_quick.jpg) 50% 50% no-repeat; width:100%; height:76px; font:0/0 a;}
#quick ul {margin:0 21px; padding:10px 0; border-top:1px solid #f3a779;}
#quick ul:first-of-type {border-top:0;}
#quick ul li a {display:block; height:30px; color:#fff; line-height:30px; text-align:center; font-size:15px; font-weight:bold;}

footer {position:fixed; left:0; left:0; bottom:0; background:#494949; width:200px; padding:30px 0 30px 20px; color:#fff; z-index:11;line-height:1.5; font-size:13px;}
footer span {display:block; margin-top:10px;}
footer .copy {color:#888;}
footer .btn_sitemap {display:block; background:#232323; width:86px; height:36px; margin-top:20px; border-radius:30px; color:#aeaeae; line-height:36px;text-align:center;}

@media screen and (max-width:1200px) {/* 모바일 COMMON */
	img {width:100%;}
	#hc_warp {padding:0;}
	header {position:relative; width:100%;}
	header h1 {padding:10px 0 14px;}
	header h1 img {width:auto; height:57px;}
	header .btn_allMenu {display:block; position:absolute; top:0; right:30px; bottom:0; width:50px; z-index:9;}
	header .btn_allMenu svg {position:absolute; top:0; left:0; right:0; bottom:0; width:40px; height:35px; margin:auto;}

	.gnb_wrap {display:none; position:absolute; top:57px; left:0; background:#f37121; width:100%; padding:25px 0; z-index:5;}
	.gnb_wrap > ul > li > a {height:33px; padding-left:30px; color:#fff; line-height:33px;font-size:15px;}
	.gnb_wrap > ul > li.on > a , .gnb_wrap > ul > li > a:hover {color:#fff;}
	.gnb_wrap .dep2 {position:static; background:#3d322c; padding:10px 0;}
	.gnb_wrap .dep2 a {height:25px; padding:0 0 0 40px; line-height:25px; font-size:14px;}
	.gnb_wrap > ul > li.on .dep2 {display:block;}
	.gnb_wrap.on {display:block;}
	.gnb_wrap.on + .allDim {display:block;}
	.allDim {display:none; position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); z-index:4;}

	#quick {display:table; position:static; width:100%;}
	#quick > * {display:table-cell; height:60px; vertical-align:middle;}
	#quick h2 {background-size:34px auto; width:60px; height:60px; margin:-5px 0;}
	#quick ul {border:0;}
	#quick ul li a {height:20px; border-left:1px solid #f3a779; line-height:20px;font-size:11px;}
	#quick ul:first-of-type li a {border-left:0;}

	footer {position:static; width:100%; padding:15px 0 20px 15px; line-height:2;font-size:11px;}
	footer .br {display:none;}
	footer span {margin:0;}
	footer .btn_sitemap {position:absolute; right:15px; bottom:20px; width:60px; height:24px; margin:0; line-height:24px; font-size:11px;}
}

@media screen and (max-width:700px) {
	header h1 img {width:auto; height:33px;}
	header .btn_allMenu {right:0;}
	header .btn_allMenu svg {width:20px; height:17px;}
}

#container img.pc {display:block;;}
#container img.mo {display:none;}

#container .main {position:relative; width:auto; min-height:auto; margin:0; padding:0;}
#container .main:after {content:""; display:block; clear:both;}
.main .swiper-container {position:absolute; top:0; left:0; bottom:0; width:66.26%;}
.main .swiper-container .swiper-slide {width:100%; height:100%;}
.main .swiper-container .visual01 {background:url(../images/img_visual_01.jpg) 50% 0 no-repeat;}
.main .swiper-container .visual02 {background:url(../images/img_visual_02.jpg) 50% 0 no-repeat;}
.main .swiper-button-prev , .main .swiper-button-next {width:60px; height:60px;}
.main .swiper-button-prev {left:0; background:rgba(0,0,0,0.5) url(../images/btn_sl_prev.png) 50% 50% no-repeat;}
.main .swiper-button-next {right:0; background:rgba(0,0,0,0.5) url(../images/btn_sl_next.png) 50% 50% no-repeat;}
.main .swiper-pagination-bullet {background:#fff; width:12px; height:12px; opacity:1;}
.main .swiper-pagination-bullet-active {background:#f37121;}

.main .main_bnr {float:right; width:33.73%;}
.main .main_bnr > div {width:100%;}
.main .main_bnr > div a {display:block; height:330px; padding:40px 0 0 40px;}
.main .main_bnr > div a p {color:#fff; font-size:30px; font-weight:bold;}
.main .main_bnr > div a p span {display:block; margin-top:5px; font-size:18px;}
.main .main_bnr .bnr01 a {background:url(../images/bnr_main_01.jpg) 50% 0 no-repeat;}
.main .main_bnr .bnr02 a {background:url(../images/bnr_main_02.jpg) 50% 0 no-repeat;}
.main .main_bnr .bnr03 a {background:url(../images/bnr_main_03.jpg) 50% 0 no-repeat;}

@media screen and (max-width:1200px) {#container img.pc {display:none;}
#container img.mo {display:block;}

.main .swiper-container {position:relative; width:100%;}
.main .swiper-pagination {display:none;}
.main .swiper-button-prev , .main .swiper-button-next {width:30px; height:30px;}
.main .swiper-button-prev {background:rgba(0,0,0,0.5) url(../images/btn_sl_prev.png) 50% 50% no-repeat; background-size:6px auto;}
.main .swiper-button-next {background:rgba(0,0,0,0.5) url(../images/btn_sl_next.png) 50% 50% no-repeat; background-size:6px auto;}

.main .main_bnr {float:none; width:100%;}
.main .main_bnr > div a {background:none !important; height:auto; padding:0;}
.main .main_bnr > div a p {display:none;}}

/* SUB */
/* 서브 공통 */
#container > article {width:1200px; min-height:500px; margin:0 auto; padding:70px 0 100px;}

.visual {height:231px; padding:60px 0 0 0; color:#fff; transition:all 0.2s ease;}
.visual .innr {width:1200px; margin:0 auto;}
.visual h2 {font-size:40px; font-weight:bold;}
.visual p {margin-top:10px; line-height:30px;font-size:20px;}
.visual.company {background:url(../images/sub/visual_company.jpg) 0 0 no-repeat; background-size:cover;}
.visual.car {background:url(../images/sub/visual_car.jpg) 0 0 no-repeat; background-size:cover;}
.visual.build {background:url(../images/sub/visual_build.jpg) 0 0 no-repeat; background-size:cover;}
.visual.bio {background:url(../images/sub/visual_bio.jpg) 0 0 no-repeat; background-size:cover;}

.bread {position:relative; background:#7a7a7a; border-bottom:1px solid #eee; z-index:5;}
.bread .innr {width:1200px; margin:0 auto;}
.bread .innr:after {content:""; display:block; clear:both;}
.bread .home {float:left; background:url(../images/sub/ico_bread.png) 50% 50% no-repeat; width:46px; height:48px; border:1px solid #999; border-width:0 1px; font:0/0 a;}
.bread .deps {float:left; position:relative; border-right:1px solid #999;}
.bread .deps .selected {display:block; position:relative; min-width:200px; height:48px; padding:0 60px 0 20px; box-sizing:border-box; color:#fff; line-height:48px;font-size:16px;}
.bread .deps .selected:after {content:""; position:absolute; top:50%; right:30px; background:url(../images/sub/ico_bread_arrow.png) 0 0 no-repeat; background-size:100% 100%; width:12px; height:8px; transform:translateY(-50%);
transition:all 0.2s ease; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); }
.bread.map .deps .selected:after {display:none;}
.bread .deps .layer_deps {position:absolute; top:49px; left:0; background:#7a7a7a; width:calc(100% + 1px); padding:10px 0; opacity:0; visibility:hidden; transition:all 0.2s ease;}
.bread .deps .layer_deps a {display:block; height:50px; padding-left:30px; box-sizing:border-box; color:#fff; line-height:50px;font-size:17px;}
.bread .deps .layer_deps li.on a , .bread .deps .layer_deps a:hover {color:#fff;}
.bread .deps.dep2 .layer_deps {background:#f37121;}
.bread .deps.dep2 .layer_deps a {color:#fff;}
.bread .deps.dep2 .layer_deps li.on a , .bread .deps.dep2 .layer_deps a:hover {color:#fff;}

.bread .deps.active .selected:after {transform:rotate(180deg); -webkit-transform:rotate(180deg); transform-origin:50% 25%; -webkit-transform-origin:50% 25%;}
.bread .deps.active .layer_deps {opacity:1; visibility:visible;}

@media screen and (max-width:1620px) {
	.sub #container img.mo {width:auto; margin:0 auto;}

	#hc_warp.sub {padding-right:0;}
	.sub #quick {right:-140px;}

	.visual .innr , .bread .innr {width:100%;}
	.visual {padding-left:30px;}

	#container > article {width:100%; padding:70px 30px 100px;}
}

@media screen and (max-width:700px) {
	.bread .home {background-size:10px auto; width:23px; height:24px; border-left:0;}
	.bread .deps .selected {min-width:120px; height:24px; padding:0 30px 0 10px; line-height:24px;font-size:11px;}
	.bread .deps .selected:after {right:15px; width:6px; height:4px;}
	.bread .deps .layer_deps {top:24px; padding:5px 0;}
	.bread .deps .layer_deps a {height:30px; padding-left:15px; line-height:30px;font-size:12px;}

	#container > article {width:100%; padding:35px 15px 50px;}

	.visual {height:116px; padding:30px 0 0 15px;}
	.visual h2 {font-size:20px;}
	.visual p {margin-top:5px; line-height:1.5;font-size:11px;}
}
/* //서브 공통 */

iframe.map {display:block; width:100%; max-width:1200px; height:600px;}

.car05 {position:relative; max-width:1200px;}
.car05 a {position:absolute; font:0/0 a;}
.car05 a.btn-movie01 {top:36.83%; left:22.5%; width:54.83%; height:13.47%;}
.car05 a.btn-movie02 {bottom:0; left:0; width:30.5%; height:7.647%;}
.car05 a.btn-movie03 {bottom:0; left:34.75%; width:30.5%; height:7.647%;}
.car05 a.btn-movie04 {bottom:0; right:0; width:30.5%; height:7.647%;}

.build01:after {content:""; display:block; clear:both;}
.build01 li {float:left; width:calc(33% - 33px); margin-left:50px;}
.build01 li:nth-child(3n + 1) {margin-left:0;}

@media screen and (max-width:1200px) {
	.tbl {max-width:660px; margin:0 auto;overflow-x:auto;}
	.tbl img {width:660px; max-width:none;}

	iframe.map {width:100%; max-width:660px; height:300px; margin:0 auto;}

	.car05 {max-width:660px; margin:0 auto;}
	.car05 a.btn-movie01 {top:34.22%; left:0; width:100%; height:7.638%;}
	.car05 a.btn-movie02 {bottom:16.093%; left:0;  width:100%; height:7.638%;}
	.car05 a.btn-movie03 {bottom:8.046%; left:0;  width:100%; height:7.638%;}
	.car05 a.btn-movie04 {bottom:0; right:0;  width:100%; height:7.638%;}

	.build01 li {width:100%; margin:0;}
}
