@charset "utf-8";

html , body , div , span , applet , object , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , blockquote , pre , a , abbr , acronym , address , big , cite , code , del , dfn , em , img , ins , kbd , q , s , samp , small , strike , strong , sub , sup , tt , var , b , u , i , center , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , details , embed , figure , figcaption , footer , header , hgroup , menu , nav , output , ruby , section , summary , time , mark , audio , video , textarea {margin:0; padding:0; border:0; box-sizing:border-box;}
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section {display:block;}
body {background-color:#fff; font-size:13px; line-height:1.3;}
body, button, input, select, table, textarea {font-family:"HelveticaNeue-Light","AppleSDGothicNeo-Medium","Malgun Gothic","맑은 고딕","AppleGothic","Sans-serif","Dotum","Verdana",sans-serif; color:#333;}
ol , ul {list-style:none;}
em , i , u , b {font-style:normal; font-weight:normal; text-decoration:none;}
a {color:#333; text-decoration:none;}
img {width:100%; max-width:100%; vertical-align:top;}
table {width:100%; border:0; border-collapse:collapse; border-spacing:0; word-break:break-all; table-layout:fixed;}
button {background-color:transparent; margin:0; padding:0; border:0; cursor:pointer; -webkit-appearance:button;}
input::-webkit-input-placeholder {color:#b3b3b3;}
textarea::-webkit-input-placeholder {color:#b3b3b3;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance:none;}
input[type=text],
input[type=number],
input[type=password] {background:none; margin:0; padding:0; border:1px solid #b3b3b3; outline:none; -webkit-appearance:none; font-family:inherit;}
textarea {resize:none}

#orange_wrap {overflow:hidden;}

header {position:relative; height:50px;}
header h1 {position:absolute; top:50%; left:50%; margin-left:-100px; transform:translateY(-50%); font:0/0 a;}
header h1 img {width:auto; height:23px;}
header > a {position:absolute; top:0; width:40px; height:50px; font-size:0; line-height:0;}
header .col-l_01 {left:7px;}
header .col-l_02 {left:47px;}
header .col-r_01 {right:7px;}
header .col-r_02 {right:47px;}
header .btn-menu {background:url(../images/btn_menu.png) 50% 50% no-repeat; background-size:auto 20px;}
header .btn-tsrh {background:url(../images/btn_srh.png) 50% 50% no-repeat; background-size:auto 21px;}
header .btn-mypage {background:url(../images/btn_my.png) 50% 50% no-repeat; background-size:auto 22px;}

header.sub {border-bottom:5px solid #f8f8f8;}
header.sub h2 {height:50px; border-bottom:1px solid #e4e4e4; color:#444; font-size:19px; text-align:center; line-height:50px; font-weight:normal;}

footer {position:relative; background:#f8f8f8; padding:25px 0; color:#9e9e9e; font-size:11px; text-align:center;}
footer .btn_top {position:absolute; top:50%; right:10px; background:#fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42 44'%3e%3cpath fill-rule='evenodd' fill='%23323232' d='M38.38 3.28l-35.8-.02c-1 0-1.63-.32-1.63-1.31 0-.88.6-1.34 1.34-1.34h37.43c.73 0 1.33.5 1.33 1.34 0 .83-.55 1.33-2.67 1.33zM20 9.18c.05-.05.12-.07.18-.11.08-.06.15-.12.24-.16a1.34 1.34 0 011.02 0c.1.04.17.11.26.17l.16.1.01.02 10.73 10.37a1.34 1.34 0 01-1.85 1.92l-8.48-8.2v28.76a1.34 1.34 0 11-2.68 0V13.3l-8.47 8.19a1.34 1.34 0 01-1.86-1.92L20 9.19z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:20px auto; width:42px; height:42px; margin-top:-21px; border:1px solid #e2e2e2; border-radius:50%;}

body.menuOn {overflow:hidden;}
body.menuOn #side_wrap {transform:translateX(0%);}
#side_wrap {position:fixed; top:0; bottom:0; left:0; right:0; overflow:auto; background-color:#fff; padding-top:38px; transform:translateX(-100%); transition:all .2s ease; z-index:50;}
#side_wrap .menu_close {position:absolute; top:0; left:15px; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42 42'%3e%3cpath fill-rule='evenodd' d='M41.63 39.68l-1.9 1.94-20.19-20.68L39.74.27l1.89 1.94-18.3 18.73 18.3 18.74z'/%3e%3cpath fill-rule='evenodd' d='M23.55 20.94L2.9 41.62.97 39.68l18.7-18.74L.98 2.19 2.91.25l20.64 20.69z'/%3e%3c/svg%3e") 50% 50% no-repeat; background-size:20px 20px; width:38px; height:38px; font:0/0 a;}
#side_wrap .util {display:flex; margin-top:10px; border-color:#e4e4e4; border-style:solid; border-width:1px 0 2px;}
#side_wrap .util a {flex:1 1 auto; position:relative; width:50%; height:52px; color:#323232; font-size:16px; text-align:center; line-height:52px; font-weight:bold;}
#side_wrap .util a img {width:auto; height:22px; vertical-align:-4px;}
#side_wrap .util a.account:before {content:""; position:absolute; top:50%; left:0; background:#e4e4e4; width:1px; height:28px; margin-top:-14px;}
#side_wrap .menu_wrap {display:flex; position:relative; margin-top:-2px;}
#side_wrap .menu_wrap .menu_dep1 {flex:0 1 auto; background:#81786f; width:123px; min-height:calc(100vh - 239px); padding-top:15px; padding-bottom:30px;}
#side_wrap .menu_wrap .menu_dep1 li {margin-top:-1px; padding:0 6px;}
#side_wrap .menu_wrap .menu_dep1 li a {display:block; height:44px; border:1px solid #b3aa9c; border-width:1px 0; color:#fff; font-size:18px; text-align:center; line-height:44px;}
#side_wrap .menu_wrap .menu_dep1 li.on {background:#fff;}
#side_wrap .menu_wrap .menu_dep1 li.on a {border-color:transparent; color:#323232;}
#side_wrap .menu_wrap .menu_dep1 li.on + li a {border-top-color:transparent;}
#side_wrap .menu_wrap .menu_dep2 {flex:0 1 auto; width:calc(100% - 123px); padding-top:15px;}
#side_wrap .menu_wrap .menu_dep2 > ul {display:none;}
#side_wrap .menu_wrap .menu_dep2 > ul.on {display:block;}
#side_wrap .menu_wrap .menu_dep2 li a {display:block; height:34px; padding-left:35px; color:#323232; font-size:17px; line-height:34px;}
#side_wrap .menu_wrap .menu_dep2 li li a {color:#a4a4a4; font-size:14px;}
#side_wrap .btn a {display:block; background:#ea7035; height:50px; color:#fff; font-size:17px; text-align:center; line-height:50px;}


body.fix_item {padding-bottom:80px;}
.fix-main {position:fixed; bottom:0; left:0; right:0; background:#fff; border-top:1px solid #c9c9c9; z-index:10;}
.fix-main ul {display:flex;}
.fix-main ul li {flex:1 1 auto;}
.fix-main ul li a {display:block; height:80px; padding-top:17px; text-align:center;}
.fix-main ul li a p {margin-top:10px;}
.fix-main ul li a span img {width:auto; height:20px;}

.fix-btns {position:fixed; bottom:0; left:0; right:0; background:#fff; z-index:10;}
.fix-btns .confirm {display:block; background:#fc6719; height:50px; color:#fff; font-size:17px; text-align:center; line-height:50px;}

.my_ranking_wrap {display:flex; align-items:center; position:relative; height:88px; padding:0 15px 0 100px;}
.my_ranking_wrap .innr {flex:1 1 auto;}
.my_ranking_wrap .img {position:absolute; top:0; left:15px; background:url(../images/bg_rank.png) 0 0 repeat-x; background-size:auto 100%; width:69px; height:88px;}
.my_ranking_wrap .img .my_rank {position:absolute; top:23px; left:4px; background:url(../images/img_rank.png) 0 0 repeat-x; background-size:auto 100%; width:61px; height:61px;}
.my_ranking_wrap .img .my_rank.rankO {animation:rankO .8s linear 0s 1 both;}
@keyframes rankO {from {transform:rotate(0);} to {transform:rotate(720deg);}}
.my_ranking_wrap .img .my_rank.rankR {animation:rankR .8s linear 0s 1 both;}
@keyframes rankR {from {transform:rotate(0);} to {transform:rotate(1020deg);}}
.my_ranking_wrap .img .my_rank.rankA {animation:rankA .8s linear 0s 1 both;}
@keyframes rankA {from {transform:rotate(0);} to {transform:rotate(960deg);}}
.my_ranking_wrap .img .my_rank.rankN {animation:rankN .8s linear 0s 1 both;}
@keyframes rankN {from {transform:rotate(0);} to {transform:rotate(900deg);}}
.my_ranking_wrap .img .my_rank.rankG {animation:rankG .8s linear 0s 1 both;}
@keyframes rankG {from {transform:rotate(0);} to {transform:rotate(840deg);}}
.my_ranking_wrap .img .my_rank.rankE {animation:rankE .8s linear 0s 1 both;}
@keyframes rankE {from {transform:rotate(0);} to {transform:rotate(780deg);}}

.my_ranking_wrap .branch {display:block; margin-bottom:3px; color:#5d5d5d;}
.my_ranking_wrap p {display:flex; justify-content:space-between; align-items:center; color:#444; font-size:19px; font-weight:bold;}
.my_ranking_wrap p em {font-weight:bold;}
.my_ranking_wrap p span {color:#ff791e; font-weight:normal;}
.my_ranking_wrap p button {width:23px; height:23px;}
.my_ranking_wrap  dl {display:flex; justify-content:space-between; align-items:center;}
.my_ranking_wrap  dl dt {color:#444; font-size:14px;}
.my_ranking_wrap  dl dd {color:#ff791e; font-size:23px;}

.main_bnr_wrap {position:relative; margin-top:15px; padding-bottom:20px;}
.main_bnr_wrap .swiper-slide {overflow:hidden; border-radius:10px;}
.main_bnr_wrap .swiper-pagination {position:absolute; bottom:0; left:0; width:100%; text-align:center;}
.main_bnr_wrap .swiper-pagination span {background:#e5e5e5; width:8px; height:8px; margin:0 3px; opacity:1;}
.main_bnr_wrap .swiper-pagination span.swiper-pagination-bullet-active {background-color:#444;}

.main_menu {border-bottom:1px solid #e4e4e4;}
.main_menu ul {display:flex; background:url(../images/bg_menu.gif) 0 100% repeat-x; background-size:auto 27px; padding:20px 0 25px;}
.main_menu ul li {flex:1 1 auto}
.main_menu ul li a {display:block;}
.main_menu ul li a span {display:block; margin-top:10px; color:#444; font-size:13px; text-align:center;}
.main_menu ul li a em {display:block; width:29px; height:30px; margin:0 auto;}
.main_menu ul li a em img {max-width:100%; max-height:100%;}

.title {display:flex; justify-content:space-between; align-items:center; margin-bottom:15px;}
.title h3 {color:#323232; font-size:23px;}
.title .more {color:#a4a4a4; font-size:16px;}
.title .more:after {content:""; display:inline-block; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 16'%3e%3cpath fill-rule='evenodd' d='M.47 14.47c-.293.293-.293.767 0 1.06.293.293.767.293 1.06 0l7-7c.293-.293.293-.767 0-1.06l-7-7C1.237.177.763.177.47.47c-.293.293-.293.767 0 1.06L6.94 8 .47 14.47z' fill='%23a4a4a4'/%3e%3c/svg%3e"); background-size:100% 100%; background-position:50% 50%; background-repeat:no-repeat; width:6px; height:9px; margin-left:5px;}

section {padding:15px; border-top:7px solid #f8f8f8; border-bottom:1px solid #e4e4e4;}

.unse_detail {background:url(../images/bg_unse.gif) 0 0 no-repeat; background-size:cover; padding:10px 15px; border-radius:7px; color:#323232; line-height:1.5;}
.unse_detail a {display:flex; justify-content:space-between;}
.unse_detail .thumb {display:block; flex:0 1 auto; overflow:hidden; width:88px; height:88px; border-radius:50%;}
.unse_detail .text {flex:0 1 auto; width:calc(100% - 105px);}
.unse_detail .text strong {font-size:16px;}
.unse_detail .text p {display:block; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; white-space:normal; -webkit-line-clamp:3; max-height:64px; font-size:15px;}

.bbs_list {border-top:1px solid #e6e6e6;}
.bbs_list li a {display:flex; justify-content:space-between; align-items:center; height:36px; border-bottom:1px solid #e6e6e6;}
.bbs_list li p {flex:0 1 auto; width:calc(100% - 70px);}
.bbs_list li p span {display:inline-block; overflow:hidden; text-overflow:ellipsis; max-width:calc(100% - 40px); color:#323232; white-space:nowrap;}
.bbs_list li span {flex:0 1 auto; color:#a4a4a4;}
.bbs_list li.new p:after {content:""; display:inline-block; background:url(../images/ico_new.png) 0 0 no-repeat; background-size:100% 100%; width:31px; height:20px; margin-left:7px; vertical-align:-2px;}

.bbs_list.orgCon {border-top:0;}
.bbs_list.orgCon .noti_title {position:relative;}
.bbs_list.orgCon .noti_title strong {display:block; height:34px; padding:0 10px; border:1px solid #e4e4e4; border-radius:10px 10px 0 0; color:#323232; font-size:15px; line-height:34px;}
.bbs_list.orgCon .noti_title a {position:absolute; top:0; right:0; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3e%3cpath d='M10 6H6v4H4V6H0V4h4V0h2v4h4v2z' fill='%23a4a4a4'/%3e%3c/svg%3e"); background-position:50% 50%; background-repeat:no-repeat; background-size:12px 12px; width:34px; height:34px; font:0/0 a;}
.bbs_list.orgCon ul {border:1px solid #e4e4e4; border-radius:0 0 10px 10px;}
.bbs_list.orgCon ul li {padding:0 10px;}
.bbs_list.orgCon ul li:last-child a {border-bottom:0;}

.event_bnr_wrap {position:relative; width:calc(100% + 30px); margin-left:-15px; padding-bottom:20px;}
.event_bnr_wrap .swiper-slide {overflow:hidden; border:1px solid #a4a4a4; border-radius:15px; transform:scale(.95); transition:all .2s ease;}
.event_bnr_wrap .swiper-slide.swiper-slide-active {transform:scale(1);}
.event_bnr_wrap .swiper-slide div {padding:15px 0; color:#323232; font-size:13px; text-align:center; line-height:1.5;}
.event_bnr_wrap .swiper-slide div span {display:block; color:#a4a4a4;}
.event_bnr_wrap .swiper-pagination {position:absolute; bottom:0; left:0; width:100%; text-align:center;}
.event_bnr_wrap .swiper-pagination span {background:#e5e5e5; width:8px; height:8px; margin:0 3px; opacity:1;}
.event_bnr_wrap .swiper-pagination span.swiper-pagination-bullet-active {background-color:#444;}

.info_list ul {display:flex; flex-wrap:wrap;}
.info_list ul li {flex:0 1 calc(50% - 4px); position:relative; margin-bottom:8px; box-sizing:border-box; border-radius:7px; border:1px solid #e0e0e0; text-align:center;}
.info_list ul li:nth-child(even) {margin-left:8px;}
.info_list ul li.new:after {content:""; position:absolute; top:3px; right:3px; display:inline-block; background:url(../images/ico_new.png) 0 0 no-repeat; background-size:100% 100%; width:31px; height:20px; margin-left:7px; vertical-align:-2px;}
.info_list ul li a {display:block; height:60px; color:#323232; font-size:16px; line-height:60px; font-weight:bold;}
.info_list ul li a img {display:inline-block; width:auto; height:25px; margin-right:5px; vertical-align:middle;}

[data-type=scroll-horizon] {overflow-x:auto; overflow-y:hidden; -webkit-overflow-scrolling:touch;}
[data-type=scroll-horizon] .scroll-innr {display:inline-flex; display:-webkit-inline-box;}

.today_news {width:calc(100% + 30px); margin-left:-15px;}
.today_news li {margin-left:12px;}
.today_news li:first-of-type {margin-left:15px;}
.today_news li:last-of-type {margin-right:15px;}
.today_news li a {display:block; width:280px; box-sizing:border-box; border-radius:7px; border:1px solid #e0e0e0;}
.today_news li div {position:relative; height:80px; padding:17px 27px 0;}
.today_news li div span {position:absolute; top:10px; left:13px; height:24px; padding:0 12px; border:1px solid #e2e2e2; border-radius:24px; color:#323232; font-size:13px; line-height:24px;}
.today_news li div dl {text-align:right;}
.today_news li div dl > * {display:inline-block; font-size:13px;}
.today_news li div dl dt {color:#323232; font-weight:bold;}
.today_news li div dl dd {color:#a4a4a4;}
.today_news li div p {overflow:hidden; text-overflow:ellipsis; width:100%; margin-top:17px; white-space:nowrap;}

.today_news + .bbs_list {margin-top:15px;}

.main_adBnr {margin-top:15px;}

.prd_research {width:calc(100% + 30px); margin-left:-15px;}
.prd_research li {margin-left:12px;}
.prd_research li:first-of-type {margin-left:15px;}
.prd_research li:last-of-type {margin-right:15px;}
.prd_research li a {display:block; overflow:hidden; width:141px; box-sizing:border-box; border-radius:13px; border:1px solid #e0e0e0;}
.prd_research li a div {height:65px; padding:10px 20px 0; text-align:center;}
.prd_research li a div strong {display:block; margin-bottom:3px; color:#323232; font-size:13px;}
.prd_research li a div p {display:block; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; white-space:normal; -webkit-line-clamp:2; max-height:40px; font-size:12px;}

#container article {padding:15px;}
#container.main article {padding:0;}

/* 비밀번호 찾기 */
.searh-pwd > p {color:#444; font-size:14px;}
.searh-pwd dl {margin-top:20px;}
.searh-pwd dl:first-of-type {margin-top:60px;}
.searh-pwd dt {color:#444; font-size:14px; font-weight:bold;}
.searh-pwd dd {margin-top:10px;}
.searh-pwd dd input[type=text],
.searh-pwd dd input[type=number],
.searh-pwd dd input[type=password] {width:100%; height:40px; border:1px solid #e4e4e4; border-width:0 0 1px 0; color:#444; font-size:14px;}
.searh-pwd dd input[type=text]::-webkit-input-placeholder,
.searh-pwd dd input[type=number]::-webkit-input-placeholder,
.searh-pwd dd input[type=password]::-webkit-input-placeholder {color:#a4a4a4;}
